<div class="form-group">
	<div class="popoverTitle">
		<button type="button" class="btn btn-primary btn-xs pull-right" 
		ng-click="nodePopover.close(x)" aria-label="Left Align">
		<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
	</button>
	</div>
	<md-progress-circular ng-if="x.info['Node'+x.idNode].nodePopoverInProgress" md-mode="indeterminate" md-diameter="100%"></md-progress-circular>
	<div ng-if="!x.info['Node'+x.idNode].nodePopoverInProgress">
		<form>
  <div class="form-group">
    <p id="infoDesc">{{x.info["Node"+x.idNode].data.description}}</p>
  </div>
  <div class="form-group">
  		 	 <span class="badge">Parent {{x.info["Node"+x.idNode].data.parentId}}</span>
  </div>
</form>
	</div>
	
</div>