<div class="form-group">
	<div class="popoverTitle">
	</button>
	</div>
	<md-progress-circular ng-if="node.info['Node'+node.idNode].nodePopoverInProgress" md-mode="indeterminate" md-diameter="100%"></md-progress-circular>
	<div ng-if="!node.info['Node'+node.idNode].nodePopoverInProgress">
		<form>
	<div class="form-group" >
  		 <span class="badge-parent">{{node.info["Node"+node.idNode].data.parent.number}}</span>
  		 {{node.info["Node"+node.idNode].data.parent.name}}
  	</div>
  <div>
    <span class="badge-parent">{{node.info["Node"+node.idNode].data.number}}</span>
    {{node.info["Node"+node.idNode].data.name}}
  </div>
  
</form>
	</div>
</div>