<script id="rules-template" type="text/x-custom-template">
<div class="note" prevent-right-click ng-click="setActiveRule(rule,this)">
	<button type="button" class="btn btn-primary btn-xs pull-right" ng-click="deleteNote(this,$event)" aria-label="Left Align">
		<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
	</button>
	<div class="title">{{rule.idRule}} {{agentName}}</div>
		<input type="text" value="Nodes" disabled/>
			<ul class="list-group" style="margin: 0 0 0 0;">
    			<li popover-is-open="node.info['Node'+node.idNode+rule.idRule].nodePopover.isOpen" 
					popover-placement="left" ng-mouseenter="nodePopover.open(node,rule.idRule)" 
					uib-popover-template="nodePopover.templateUrl" class="list-group-item nodeNumber" 
					ng-repeat="node in rule.conditions" 
					ng-click="highlightNode(node.idNode)" ng-mouseleave="nodePopover.close(node,rule.idRule)">
					{{node.number}}
					<div class="pull-right">
						<span ng-if="$index>0" class="glyphicon glyphicon-trash" aria-hidden="true" ng-click="removeNodeFromRule(node)"></span>
					</div>
				</li>
  			</ul>
			<input type="text" value="Level" disabled/>
			<ul class="list-group" style="margin: 0 0 0 0;">
    			<li class="list-group-item">
<select ng-model="rule.level" ng-change="saveRule(rule,model)">
      <option value="probHigh">PROBABLE_HIGH</option>
      <option value="probMedium">PROBABLE_MEDIUM</option>
      <option value="probLow">PROBABLE_LOW</option>
	  <option value="probUnknown">PROBABLE_UNKNOWN</option>
	  <option value="possUnknown">POSSIBLE_UNKNOWN</option>
	  <option value="noExposure">NO_EXPOSURE</option>
    </select></li>
  			</ul>
		<div style="margin-left:2px;margin-top: 2px;">
			<button type="button" class="btn btn-default btn-md">
  				<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
			</button>
		</div>
</div>
</script>