<div>
	<p></p>
</div>
<div >
	<fieldset>
		<legend>Participant Details:
			<button class="btn btn-default btn-xs" ng-click="vm.hideShowParticipantDetails()"								>
				<span class="glyphicon" ng-class="{'glyphicon-eye-open': showParticipantDetails, 'glyphicon-eye-close': !showParticipantDetails}"></span>
			</button>
		</legend>
		<table ng-if="showParticipantDetails">
			<tbody>
				<tr>
					<td><label>Reference Number:</label></td>
					<td>{{participant.reference }}</td>
				</tr>
				<tr>
					<td><label for="4CharCode">4 Character Code:</label></td>
					<td><input ng-focus="selectText($event)" style="width: 50px;" type="text" id="4CharCode"
						name="4CharCode" permission="['ROLE_DATAENTRY']"
						ng-model="vm.charCode.detailValue"><span permission="['ROLE_INTERVIEWERA','ROLE_ALLOCATOR']">{{vm.charCode.detailValue}}</span></td>
				</tr>
				<tr>
					<td><label for="yearOfBirth">Year of Birth:</label></td>
					<td><select id="yearOfBirth" ng-model="vm.yearOfBirth.detailValue"
						ng-options="yearOfBirth for yearOfBirth in yearsOfBirth"
						permission="['ROLE_DATAENTRY']">
					</select><span permission="['ROLE_INTERVIEWERA','ROLE_ALLOCATOR']">{{vm.yearOfBirth.detailValue}}</span></td>
				</tr>
				<tr>
					<td><label for="gender">Gender:</label></td>
					<td><select id="gender" name="gender" ng-model="vm.gender.detailValue"
						permission="['ROLE_DATAENTRY']">
							<option value="male">Male</option>
							<option value="female">Female</option>
							<option value=""></option>
					</select><span permission="['ROLE_INTERVIEWERA','ROLE_ALLOCATOR']">{{vm.gender.detailValue}}</span></td>
				</tr>
				<tr>
					<td><label for="numberCode">Last 4 Digits of Phone Number:</label></td>
					<td><input ng-focus="selectText($event)" style="width: 50px;" type="text" id="numberCode"
						name="numberCode" ng-model="vm.numberCode.detailValue"
						permission="['ROLE_DATAENTRY']"><span permission="['ROLE_INTERVIEWERA','ROLE_ALLOCATOR']">{{vm.numberCode.detailValue}}</span></td>
				</tr>
				<tr>
					<td><label for="comments">Comments about Participant:</label></td>
					<td><textarea id="comments" name="comments" rows="4"
							ng-model="vm.comments.detailValue"></textarea></td>
				</tr>
				<tr>
					<td><label for="participantStatus">Participant Status:</label></td>
					<td>{{participant.status}}
						<select id="participantStatus" ng-model="participant.status" ng-options="participantStatus.value as participantStatus.text for participantStatus in participantStatusList">
						</select>
					</td>
				</tr>
				<tr>
					<td><label for="transcript">Transcript Sent:</label></td>
					<td><input id="transcript" ng-checked="vm.transcriptSent.detailValue === 'true'"
						ng-model="vm.transcriptSent.detailValue" style="position: static;"
						type="checkbox" /></td>
					<td>
						<button class="btn btn-default btn-sm" ng-click="vm.saveParticipant()">
						<span>Save Details</span>
						</button>
					</td>
				</tr>
			</tbody>
		</table>
	</fieldset>
	<fieldset>
		<legend>Residential History:
			<button class="btn btn-default btn-xs" ng-click="vm.hideShowResidentialHistory()"								>
				<span class="glyphicon" ng-class="{'glyphicon-eye-open': showResidentialHistory, 'glyphicon-eye-close': !showResidentialHistory}"></span>
			</button>
		</legend>
		<table style="width: 100%" ng-if="showResidentialHistory">
			<tbody>
			<tr ng-repeat="(group, details) in vm.groupedAddresses">
				<td><label>{{group}}</label></td>

				<td ng-repeat="detail in details">{{ vm.cleanDetailName(detail.detailName) }}:<label>{{detail.detailValue}}</label></td>

			</tr>
			</tbody>
		</table>
	</fieldset>
	<div></div>
	<hr/>
	<fieldset>
		<legend>Occupational History</span>:
			<button class="btn btn-default btn-xs" ng-click="vm.hideShowOccupationalHistory()"								>
				<span class="glyphicon" ng-class="{'glyphicon-eye-open': showOccupationalHistory, 'glyphicon-eye-close': !showOccupationalHistory}"></span>
			</button>
		</legend>
		<!-- Data Entry View -->
		<table style="width: 100%" permission="['ROLE_INTERVIEWERA','ROLE_DATAENTRY']" ng-if="showOccupationalHistory">
			<tbody>

			<tr ng-repeat="participant in vm.otherParticipantJobs"
				ng-if="!$first">
				<td>{{ vm.extractAfterHyphen(participant.reference) }}</td>
				<td></td>

				<td ng-repeat="detail in participant.participantDetails">


					<span ng-if="(detail.detailName != 'ANZSCO')">
						{{ vm.extractAfterHyphen(detail.detailName) }}:
						<label>{{detail.detailValue}}</label>
					</span>

				</td>

			</tr>
			</tbody>
		</table>

		<hr/>
		<!-- Allocator View -->
		<table style="width: 100%" permission="['ROLE_ALLOCATOR']" ng-if="showOccupationalHistory">
			<tbody>

			<tr ng-repeat="participant in vm.otherParticipantJobs"
				ng-if="!$first">
				<td>{{ vm.extractAfterHyphen(participant.reference) }}</td>
				<td></td>

				<td ng-repeat="detail in participant.participantDetails">

					{{detail.detailName}}:
					<span ng-if="(detail.detailName != 'Priority') && (detail.detailName != 'ANZSCO')">
							<label>{{detail.detailValue}}</label>
						</span>

					<span ng-if="detail.detailName === 'Priority'">
							<input ng-focus="selectText($event)"
								   type="text" style="width: 30px;" id="priority" name="priority"
								   ng-model="detail.detailValue">

							<select id="jobModule"
									ng-model="participant.mappedTo"
									ng-options="jobModule for jobModule in jobModules">
							</select>
							<select id="sameAs" ng-if="startsWithSameAs(participant.mappedTo)"
									ng-model="participant.mappedTo"
									ng-options="sameAs for sameAs in sameAsList">
								<option>*</option>
							</select>
						</span>
					<span ng-if="detail.detailName === 'ANZSCO'">
							<input ng-focus="selectText($event)"
								   type="text" style="width: 70px;" id="anzsco" name="anzsco"
								   ng-model="detail.detailValue">
						</span>
				</td>

			</tr>
			</tbody>
		</table>

		<div permission="['ROLE_ALLOCATOR']" ng-if="showOccupationalHistory">
			<button class="btn btn-default btn-sm"
					ng-click="vm.saveParticipantMappings()">
				<span>Update Job Allocations</span>
			</button>
		</div>
		<hr/>
	</fieldset>
	<fieldset permission="['ROLE_INTERVIEWERA']">
		<legend>Interview Links:</legend>
		<!-- Interviewer View -->
		<div ng-if="participant.status < 3" >Check Participant Status - This participant is *not* ready for interviews.</div>
		<table ng-if="participant.status >= 3" style="width: 100%" permission="['ROLE_INTERVIEWERA']" >
			<tbody ng-if="$first" ng-repeat="participant in vm.otherParticipantJobs">
			<!-- <tr><td colspan="10" >{{participant.status}}</td></tr> -->
			<tr>
				<td ng-if="participant.status === 3" ><img src="/img/circle_gray.png" alt="Incomplete (no data saved)"></td>
				<td ng-if="participant.status === 6" ><img src="/img/circle_yellow.png" alt="Partial Complete"></td>
				<td ng-if="participant.status === 4" ><img src="/img/circle_green.png" alt="Complete and synchronized"></td>
				<td colspan="10" >
					<span >
						<a href="{{participant.fullQualtricsLink}}"
						   ng-click="vm.updateParticipantStatus($event,participant)"
						   target=”{{participant.idParticipant}}”
						   style="color: #1a0dab; font-size: larger;">{{participant.mappedTo}} - {{participant.interviewDetails}}</a>
						</span>
				</td>
			</tr>
			<tr>
				<td colspan="10"><hr></td>
			</tr>
			</tbody>
			<tbody ng-if="!$first" ng-repeat="participant in vm.otherParticipantJobs">
<!--			<tr><td colspan="10" >mapped:{{participant.mappedTo}}:{{participant.idParticipant}}</td></tr>-->
			<tr>
				<td ng-if="participant.status === 0"><img src="/img/circle_gray.png" alt="Incomplete (no data saved)"></td>
				<td ng-if="participant.status === 1"><img src="/img/circle_yellow.png" alt="Partial Complete"></td>
				<td ng-if="participant.status === 2"><img src="/img/circle_red.png"  alt="Complete but not synchronized"></td>
				<td ng-if="participant.status === 3"><img src="/img/circle_green.png" alt="Complete and synchronized"></td>
				<td colspan="10" >
					<span ng-if="participant.mappedTo != 'UnExposed'">
						<span ng-if="participant.mappedTo != ''">
							<span ng-if="!participant.mappedTo.startsWith('SameAs')">
						<a href="{{participant.fullQualtricsLink}}"
						   ng-click="vm.updateParticipantStatus($event,participant)"
						   target=”{{participant.idParticipant}}”
						   style="color: #1a0dab; font-size: larger;">{{ vm.extractAfterHyphen(participant.reference) }} - {{participant.mappedTo}} - {{participant.interviewDetails}}</a>
					</span></span></span>
					<span ng-if="participant.mappedTo === 'UnExposed'">
						<span style="color: #1a0dab; font-size: larger;">{{ vm.extractAfterHyphen(participant.reference) }} - {{participant.mappedTo}} - No Interview Required</span>
					</span>
					<span ng-if="participant.mappedTo.startsWith('SameAs')">
						<span style="color: #1a0dab; font-size: larger;">{{ vm.extractAfterHyphen(participant.reference) }} - {{participant.mappedTo}} - No Interview Required</span>
					</span>
				</td>
			</tr>
			<tr>
				<td colspan="10"><hr></td>
			</tr>

			</tbody>

		</table>

			<div style="background-color:#eee;border:1px solid #ccc;">
				<table id="status-icon-legend">
					<tbody>
					<tr>
						<td colspan="4" style="font-weight:bold;">Legend for status icons:</td>
					</tr>
					<tr>
						<td style="">
							<img src="/img/circle_gray.png" alt="Incomplete (no data saved)">
							Incomplete (no data saved)<a href="javascript:;" class="help" title="Tell me more" onclick="simpleDialog('The gray circle icon denotes a Form Status of \'Incomplete\' (0), in which no data has been entered on that  instrument. This is different from the red status icon, which denotes an \'Incomplete\' status but has had data entered on it.  SPECIAL NOTE: The gray icon status excludes calculated field values, which can be automatically calculated  when a user is on another instrument and saved in the background by REDCap. So if the instrument does contain some calculated fields  that get values automatically calculated and saved for them, the status icon will not change to red until you navigate into that  instrument and click the Save button or until you perform a data import of values into that instrument.','Incomplete (no data saved)');">?</a>
						</td>
						<td class="nowrap" style="padding-right:5px;">
							<img src="/img/circle_yellow.png" alt="Partial Complete">
							Partial Complete
						</td>
						<td style="padding-right:5px;">
							<img src="/img/circle_red.png" alt="Complete but not synchronized">
							Complete but not synchronized
						</td>
						<td class="nowrap" style="padding-right:5px;">
							<img src="/img/circle_green.png" alt="Complete">
							Complete and synchronized
						</td>
					</tr>
					</tbody>
				</table>
			</div>


	</fieldset>
	<hr/>
	<div></div>
	<div></div>
	<div></div>
	<div></div>
	<fieldset>
		<legend>Action Buttons:</legend>
		<div>
			<button class="btn btn-default btn-sm"
				ng-click="vm.saveParticipant()">
				<span>Save Details</span>
			</button>
			|

			<button class="btn btn-default btn-sm"
				ng-click="vm.viewParticipantAddress()"
				permission="['ROLE_DATAENTRY']">
				<span>Addresses</span>
			</button>
			|
			<button class="btn btn-default btn-sm"
				ng-click="vm.addJobHistoryParticipant()"
				permission="['ROLE_DATAENTRY']">
				<span>Jobs</span>
			</button>

		</div>
	</fieldset>
</div>




