<div >
	<fieldset>
		<legend>Participant Details:</legend>
		<table >
			<tbody>
				<tr>
					<td><label>Reference Number:</label></td>
					<td>{{participant.reference }}</td>
				</tr>
				<tr>
					<td><label for="4CharCode">4 Character Code:</label></td>
					<td><input ng-focus="selectText($event)" style="width: 50px;" type="text" id="4CharCode"
						name="4CharCode" permission="['ROLE_DATAENTRY']"
						ng-model="vm.charCode.detailValue"><span permission="['ROLE_INTERVIEWERA','ROLE_ALLOCATOR']">{{vm.charCode.detailValue}}</span></td>
				</tr>
				<tr>
					<td><label for="yearOfBirth">Year of Birth:</label></td>
					<td><select id="yearOfBirth" ng-model="vm.yearOfBirth.detailValue"
						ng-options="yearOfBirth for yearOfBirth in yearsOfBirth"
						permission="['ROLE_DATAENTRY']">
					</select><span permission="['ROLE_INTERVIEWERA','ROLE_ALLOCATOR']">{{vm.yearOfBirth.detailValue}}</span></td>
				</tr>
				<tr>
					<td><label for="gender">Gender:</label></td>
					<td><select id="gender" name="gender" ng-model="vm.gender.detailValue"
						permission="['ROLE_DATAENTRY']">
							<option value="male">Male</option>
							<option value="female">Female</option>
							<option value=""></option>
					</select><span permission="['ROLE_INTERVIEWERA','ROLE_ALLOCATOR']">{{vm.gender.detailValue}}</span></td>
				</tr>
				<tr>
					<td><label for="numberCode">Last 4 Digits of Phone Number:</label></td>
					<td><input ng-focus="selectText($event)" style="width: 50px;" type="text" id="numberCode"
						name="numberCode" ng-model="vm.numberCode.detailValue"
						permission="['ROLE_DATAENTRY']"><span permission="['ROLE_INTERVIEWERA','ROLE_ALLOCATOR']">{{vm.numberCode.detailValue}}</span></td>
				</tr>
				<tr>
					<td><label for="comments">Comments about Participant:</label></td>
					<td><textarea id="comments" name="comments" rows="4"
							ng-model="vm.comments.detailValue"></textarea></td>
				</tr>
				<tr>
					<td><label for="participantStatus">Participant Status:</label></td>
					<td>
						<select id="participantStatus" ng-model="participant.status" ng-options="participantStatus.value as participantStatus.text for participantStatus in participantStatusList">
						</select>
					</td>
				</tr>
				<tr>
					<td><label for="transcript">Transcript Sent:</label></td>
					<td><input id="transcript" ng-checked="vm.transcriptSent.detailValue === 'true'"
						ng-model="vm.transcriptSent.detailValue" style="position: static;"
						type="checkbox" /></td>
					<td>
						<button class="btn btn-default btn-sm" ng-click="vm.saveParticipant()">
						<span>Save Details</span>
						</button>
					</td>
				</tr>
			</tbody>
		</table>
	</fieldset>
	<fieldset>
		<legend>Residential History:
			<button class="btn btn-default btn-xs" ng-click="vm.hideShowResidentialHistory()"								>
				<span class="glyphicon" ng-class="{'glyphicon-eye-open': vm.showResidentialHistory, 'glyphicon-eye-close': !vm.showResidentialHistory}"></span>
			</button>
		</legend>
		<table style="width: 100%" ng-if="vm.showResidentialHistory">
			<tbody>
			<tr ng-repeat="(group, details) in vm.groupedAddresses">
				<td><label>{{group}}</label></td>

				<td ng-repeat="detail in details">{{detail.detailName}}:<label>{{detail.detailValue}}</label></td>

			</tr>
			</tbody>
		</table>
	</fieldset>
	<div></div>
	<hr/>
	<fieldset>
		<legend>Occupational History<span permission="['ROLE_INTERVIEWERA']"> with Interview Links</span>:
			<button class="btn btn-default btn-xs" ng-click="vm.hideShowOccupationalHistory()"								>
				<span class="glyphicon" ng-class="{'glyphicon-eye-open': vm.showOccupationalHistory, 'glyphicon-eye-close': !vm.showOccupationalHistory}"></span>
			</button>
		</legend>
		<!-- Data Entry View -->
		<table style="width: 100%" permission="['ROLE_DATAENTRY']" ng-if="vm.showOccupationalHistory">
			<tbody>

			<tr ng-repeat="participant in vm.otherParticipantJobs"
				ng-if="!$first">
				<td>{{participant.reference}}</td>
				<td></td>

				<td ng-repeat="detail in participant.participantDetails">


					<span ng-if="(detail.detailName != 'Priority') && (detail.detailName != 'ANZSCO')">
						{{detail.detailName}}:
						<label>{{detail.detailValue}}</label>
					</span>

				</td>

			</tr>
			</tbody>
		</table>

		<hr/>
		<!-- Allocator View -->
		<table style="width: 100%" permission="['ROLE_ALLOCATOR']" ng-if="vm.showOccupationalHistory">
			<tbody>

			<tr ng-repeat="participant in vm.otherParticipantJobs"
				ng-if="!$first">
				<td>{{participant.reference}}</td>
				<td></td>

				<td ng-repeat="detail in participant.participantDetails">

					{{detail.detailName}}:
					<span ng-if="(detail.detailName != 'Priority') && (detail.detailName != 'ANZSCO')">
							<label>{{detail.detailValue}}</label>
						</span>

					<span ng-if="detail.detailName === 'Priority'">
							<input ng-focus="selectText($event)"
								   type="text" style="width: 30px;" id="priority" name="priority"
								   ng-model="detail.detailValue">

							<select id="jobModule"
									ng-model="participant.mappedTo"
									ng-options="jobModule for jobModule in jobModules">
							</select>
							<select id="sameAs" ng-if="startsWithSameAs(participant.mappedTo)"
									ng-model="participant.mappedTo"
									ng-options="sameAs for sameAs in sameAsList">
								<option>*</option>
							</select>
						</span>
					<span ng-if="detail.detailName === 'ANZSCO'">
							<input ng-focus="selectText($event)"
								   type="text" style="width: 70px;" id="anzsco" name="anzsco"
								   ng-model="detail.detailValue">
						</span>
				</td>

			</tr>
			</tbody>
		</table>

		<div permission="['ROLE_ALLOCATOR']" ng-if="vm.showOccupationalHistory">
			<button class="btn btn-default btn-sm"
					ng-click="vm.saveParticipantMappings()">
				<span>Update Job Allocations</span>
			</button>
		</div>

		<hr/>
		<!-- Interviewer View -->

		<table style="width: 100%" permission="['ROLE_INTERVIEWERA']" ng-if="vm.showOccupationalHistory">
			<tbody>
			<tr ng-repeat="participant in vm.otherParticipantJobs"
				ng-if="$first" >
				<td><label>{{participant.reference}}</label></td>
				<td ng-repeat="detail in participant.participantDetails" colspan="4">
					<span ng-if="detail.detailName === 'Priority'">
						{{detail.detailName}}:
						<label>{{detail.detailValue}}</label>
						:{{participant.mappedTo}}
						<span >
						<a href="{{participant.fullQualtricsLink}}"
						   ng-click="vm.updateParticipantStatus($event,participant)"
						   target=”{{participant.idParticipant}}”
						   style="color: #1a0dab; font-size: larger;">{{participant.interviewDetails}}</a>
						</span>
					</span>
				</td>
			</tr>
			<tr ng-repeat="participant in vm.otherParticipantJobs"
				ng-if="!$first">
				<td><label>{{participant.reference}}</label></td>
				<td ng-repeat="detail in participant.participantDetails">
					{{detail.detailName}}:
					<label>{{detail.detailValue}}</label>
					<span ng-if="detail.detailName === 'Priority'">
						:{{participant.mappedTo}}
						<span >
						<a href="{{participant.fullQualtricsLink}}"
						   ng-click="vm.updateParticipantStatus($event,participant)"
						   target=”{{participant.idParticipant}}”
						   style="color: #1a0dab; font-size: larger;">{{participant.interviewDetails}}</a>
						</span>
					</span>
				</td>
			</tr>
			</tbody>
		</table>

	</fieldset>
	<hr/>
	<div></div>
	<div></div>
	<div></div>
	<div></div>
	<fieldset>
		<legend>Action Buttons:</legend>
		<div>
			<button class="btn btn-default btn-sm"
				ng-click="vm.saveParticipant()">
				<span>Save Details</span>
			</button>
			|

			<button class="btn btn-default btn-sm"
				ng-click="vm.viewParticipantAddress()"
				permission="['ROLE_DATAENTRY']">
				<span>Addresses</span>
			</button>
			|
			<button class="btn btn-default btn-sm"
				ng-click="vm.addJobHistoryParticipant()"
				permission="['ROLE_DATAENTRY']">
				<span>Jobs</span>
			</button>

		</div>
	</fieldset>
</div>




