<div id="interview-wrapper">

<div class="col-md-4">
    <div ng-model="data">
	    
	    <div>
							<div ng-repeat="displayq in displayQuestions ">
		    					<div class="tree-node-content Q_interviewresult">
		    					<div class="form-group pull-left" style="margin-top: 5px;margin-left: -15px;">
		                   			<span class="badge">{{displayq.number}}</span>
		                		</div>  
		    					
			    				<span  >{{ displayq.name }}
		    					</span>  					
		    					</div>
		    					<div class="tree-node-content P_interviewresult" ng-repeat="as in displayq.answers">
		    						<div class="form-group pull-left" style="margin-top: 5px;margin-left: -15px;">
		                   				<span class="badge">{{as.number}}</span>
		                			</div>
		    						<span  >{{as.answerFreetext?as.answerFreetext:as.name}}
		    						</span>
		    						
		    						
		    						
	    						</div>
		    						
		    						
		    					</div>
	    						
	    					</div>
	  				</div>
	    <md-progress-circular ng-if="inProgress" md-mode="indeterminate"></md-progress-circular>
        <ul id="interviewing-{{data.showedQuestion.idNode}}" ng-if="data.interviewStarted && !inProgress">
            <md-toolbar >{{data.showedQuestion.name}}
            <md-button id="numId" event-focus >
            <span class="badge">{{questionheader.name}}</span>
            <span class="badge">{{data.showedQuestion.number}}</span>
            </md-button></md-toolbar>
            <div ng-if="data.showedQuestion.type == 'Q_multiple'">
	            <div ng-repeat="node in data.showedQuestion.nodes">
              		<md-checkbox ng-model="node.isSelected"
                       ng-click="multiToggle(node, multiSelected)" class="green" select-free-text-on-click>
                		<span ng-if="node.type!='P_freetext'">{{node.name}}</span>
					    <md-input-container ng-if="node.type=='P_freetext'" md-no-float class="md-block">
					      	<label>Free Text</label>
        			  		<input md-maxlength="30" ng-model="node.name">
        			  		<!-- <div ng-messages="node.name.$error">
          						<div ng-message="md-maxlength">The text has to be less than 30 characters long.</div>
        			  		</div> -->
					    </md-input-container>
              		</md-checkbox>
            	</div>
            </div>
            <div ng-if="data.showedQuestion.type == 'Q_frequency'" >
            	<div ng-repeat="node in data.showedQuestion.nodes">
            	<!-- <div>{{node.type}}</div> -->
		            <div ng-switch="node.type" >
		            	<div ng-switch-when="P_frequencyseconds">
	  					<md-input-container>
        					<label>Seconds</label>
        					<md-select ng-model="node.name">
          					<md-option ng-repeat="second in seconds" value="{{second}}" >
            				{{second}}
          					</md-option>
        					</md-select>
      					</md-input-container>
	  					</div>
	  					<div ng-switch-when="P_frequencyweeks">
	  					<md-input-container>
        					<label>Weeks</label>
        					<md-select ng-model="node.name">
          					<md-option ng-repeat="week in weeks" value="{{week}}" >
            				{{week}}
          					</md-option>
        					</md-select>
      					</md-input-container>
	  					</div>
	  					<div ng-switch-when="P_frequencyhours">
	  					<md-input-container>
        					<label>Hours</label>
        					<md-select ng-model="node.name">
          					<md-option ng-repeat="hour in hoursPerWeekArray" value="{{hour}}" >
            				{{hour}}
          					</md-option>
        					</md-select>
      					</md-input-container>
	  					</div>
	  					<div ng-switch-when="P_frequencyshifthours">
	  					<md-input-container>
        					<label>Hours</label>
        					<md-select ng-model="data.showedQuestion.hours">
          					<md-option ng-repeat="hour in hoursArray" value="{{hour}}" >
            				{{hour}}
          					</md-option>
        					</md-select>
        				</md-input-container>
        				<md-input-container>
        					<label>Minutes</label>
        					<md-select ng-model="data.showedQuestion.minutes">
          					<md-option ng-repeat="minute in minutesArray" value="{{minute}}" >
            				{{minute}}
          					</md-option>
        					</md-select>
      					</md-input-container>
	  					</div>
	  					<div ng-switch-when="P_frequencyhoursminute">
	  					<md-input-container>
        					<label>Hours</label>
        					<md-select ng-model="data.showedQuestion.hours">
          					<md-option ng-repeat="hour in hoursArray" value="{{hour}}" >
            				{{hour}}
          					</md-option>
        					</md-select>
        				</md-input-container>
        				<md-input-container>
        					<label>Minutes</label>
        					<md-select ng-model="data.showedQuestion.minutes">
          					<md-option ng-repeat="minute in minutesArray" value="{{minute}}" >
            				{{minute}}
          					</md-option>
        					</md-select>
      					</md-input-container>
	  					</div>
	  					<div ng-switch-default>Unknown Frequency Type:{{node.type}}</div>
					</div>
				</div>
            </div>
            <div ng-if="data.showedQuestion.type == 'Q_single' || data.showedQuestion.type == 'Q_simple'">
                <md-radio-group ng-model="data.showedQuestion.selectedAnswer">
			      <div ng-repeat='node in data.showedQuestion.nodes' >
			        <div flex layout-align="start center" >
			          <md-radio-button flex ng-value="node"
			              class="md-primary interview-radio-button" select-free-text-on-click>
			            <span ng-if="node.type!='P_freetext'">{{node.name}}</span>
					    <md-input-container ng-if="node.type=='P_freetext'" md-no-float class="md-block">
					      	<label>Free Text</label>
        			  		<input md-maxlength="30" ng-model="node.name">
        			  		<div ng-messages="node.name.$error">
          						<div ng-message="md-maxlength">The text has to be less than 30 characters long.</div>
        			  		</div>
					    </md-input-container>
			          </md-radio-button>
			          
			        </div>
			      </div>
            </div>
            
            <md-button ng-click="saveAnswerQuestion(data.showedQuestion)" class="md-fab md-raised">       
                <span>NEXT</span>
            </md-button>
            <div ng-repeat='note in interview.notes'>
    			<div ng-if="note.type!='system'">Note{{$index+1}}:{{note.type}}:{{note.text}}:{{note.lastUpdated | date:'yyyy-MM-dd HH:mm:ss Z'}}</div>
    		</div>
    		<p>&nbsp;</p><p>&nbsp;</p>
    		<md-button class="md-primary md-raised interviewNotesButton" ng-click="showNotePrompt($event)"  >
      			Note
    		</md-button>
            <p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p>
            <md-button ng-click="abortInterview(data.showedQuestion)" class="md-fab md-raised">       
                <span>ABORT</span>
            </md-button>
        </ul>
        <div ng-if="!data.interviewStarted">
            <md-input-container>
  				<label>AWES ID</label>
  				<input md-maxlength="7" minlength="7" required 
  				ng-model="awesId.id" 
  				placeholder="H______" type="text">
        		
			</md-input-container>
			
			
            <md-button ng-click="startInterview(data)" class="md-fab md-raised ">
                <span>START</span>
            </md-button> 
        </div>
        
    </div>
    <div ng-if="data.interviewEnded">
    	<p>The interview has ended</p>
    	
    	
    </div>
    
    
</div>

<div class="col-md-8 moduleInterview" id="interview-question-list" >
	<span class="badge" ng-click="toggleTreeList()">{{viewStatus}}</span>
	<div ng-if="showTree">
		<div ui-tree="moduleTreeOptions" id="tree-root">
			<ol ui-tree-nodes ng-model="treeView">
				<li ng-repeat="node in treeView" ui-tree-node 
					ng-include="'interviewnodes_renderer.html'" id="moduleTreeBody"></li>
			</ol>
		</div>
	</div>
	
	<div ng-if="showList">
		<div ui-tree="" id="tree-root1_{{$index}}" ng-repeat="modules in interview.modules">
			<div class="angular-ui-tree">
				<div class="tree-node">
					<span class="badge" ng-if="modules.linkNum != 0">
					     {{modules.linkNum != 0?modules.linkNum:''}} 
						 {{modules.linkNum != modules.number?':':''}}
						 {{modules.linkNum != modules.number?modules.number:''}}</span>
					<span class="M_Interview {{interviewIntro.active ? 'highlight':''}}" id="questionlist-{{modules.idNode}}">
						{{modules.name}}
					</span>
					<div>
							<div ng-repeat="qa in modules.questionsAsked | qaFilter:0 | orderBy:orderByNumber">
		    					<div id="questionlist-{{qa.questionId}}" class="tree-node-content Q_interviewresult">
		    					<div class="form-group pull-left" style="margin-top: 5px;margin-left: -15px;">
		                   			<span class="badge">{{modules.linkNum != 0?modules.linkNum:''}}
		                   								{{modules.linkNum != 0?':':''}}
		                   								{{modules.linkNum != modules.number?modules.number:''}}
		                   								{{modules.linkNum != modules.number?':':''}}
		                   								{{qa.number}}
		                   								</span>
		                		</div>  
		    					<span class="glyphicon glyphicon-edit" style="margin-top: 5px;margin-left:2px;" aria-hidden="true" 
			    							ng-click="vm.editQuestion(qa)"></span>
			    				<span ng-if="qa.question.type.indexOf('multi') > -1" class="badge-multi">Multi</span>
		    					<span id="{{'IntResult'+qa.idNode}}" >{{ qa.name }}
		    					</span>  					
		    					</div>
		    					<div class="tree-node-content P_interviewresult" ng-repeat="as in qa.answers | qaFilter:0 | orderBy:orderByNumber">
		    						<div class="form-group pull-left" style="margin-top: 5px;margin-left: -15px;">
		                   				<span class="badge">
		                   				    {{modules.linkNum != 0?modules.linkNum:''}}
		                   				    {{modules.linkNum != 0?':':''}}
		                   				    {{modules.linkNum != modules.number?modules.number:''}}
		                   					{{modules.linkNum != modules.number?':':''}}
		                   					{{modules.linkNum != 0?qa.number:''}}
		                   					{{modules.linkNum != 0?':':''}}{{as.number}}</span>
		                			</div>
		    						<span id="{{'IntResult'+as.idNode}}" >{{as.answerFreetext?as.answerFreetext:as.name}}
		    						</span>
		    						
		    						
		    						
		    						
		    						
		    					</div>
	    						
	    					</div>
	  				</div>
				</div>
			</div>
		</div>
	</div>
	<div>
	<p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p>
	<p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p>
	<p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p>
	</div>
</div>
</div> 
<script type="text/ng-template" id="interviewnodes_renderer.html">
  <div id="module-tree" class="angular-ui-tree">
     <div class="tree-node" id="{{node.id}}">
<!-- start content -->
        <div class="tree-node-content {{node.type}}_interviewresult" id="node-{{node.id}}">
		  <a class="btn btn-success btn-xs" data-nodrag="" ng-click="toggleCollapse(this)">
            <span ng-if="isCollapsableNode(node)" class="glyphicon glyphicon-chevron-down" ng-class="{
              'glyphicon-chevron-right': collapsed,
              'glyphicon-chevron-down': !collapsed
              }">
            </span>
          </a>
	      <span ng-if="node.multi" class="badge-multi">Multi</span>
          <span ng-if="isEditableNode(node)" class="glyphicon glyphicon-edit" 
			style="margin-top: 5px;margin-left:2px;" aria-hidden="true" 
			ng-click="vm.editQuestion(node)"></span>
          <span data-nodrag>{{node.name}}</span>

		  <div class="form-group pull-right" style="margin-top: 5px;">
    		<span class="badge">{{node.number}}</span>
		  </div>

       </div> 
<!-- end content -->
     </div>
  </div>
  <ol ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: collapsed}">
    <li ng-repeat="node in node.nodes " ui-tree-node ng-include="'interviewnodes_renderer.html'" class="angular-ui-tree-node" collapsed="false"></li>
  </ol>
</script>