<div id="interview-wrapper">

<div class="col-md-4">
    <div ng-model="data">
	    
        <ul id="interviewing-{{data.showedQuestion.idNode}}" ng-if="data.interviewStarted">
            <md-toolbar >{{data.showedQuestion.name}}
            <md-button id="numId" event-focus><span class="badge">{{data.showedQuestion.number}}</span></md-button></md-toolbar>
            <div ng-if="data.showedQuestion.type == 'Q_multiple'">
	            <div ng-repeat="node in data.showedQuestion.nodes">
              		<md-checkbox ng-checked="multiExists(node, multiSelected)"
                       ng-click="multiToggle(node, multiSelected)" class="green">
                		<span ng-if="node.type!='P_freetext'">{{node.name}}</span>
					    <md-input-container ng-if="node.type=='P_freetext'" md-no-float class="md-block">
					      	<label>Free Text</label>
        			  		<input md-maxlength="30" ng-model="node.name">
        			  		<!-- <div ng-messages="node.name.$error">
          						<div ng-message="md-maxlength">The text has to be less than 30 characters long.</div>
        			  		</div> -->
					    </md-input-container>
              		</md-checkbox>
            	</div>
            </div>
            <div ng-if="data.showedQuestion.type == 'Q_frequency'" >
            	<div ng-repeat="node in data.showedQuestion.nodes">
            	<!-- <div>{{node.type}}</div> -->
		            <div ng-switch="node.type" >
	  					<div ng-switch-when="P_frequencyweeks">
	  					<md-input-container>
        					<label>Weeks</label>
        					<md-select ng-model="node.name">
          					<md-option ng-repeat="week in weeks" value="{{week}}" >
            				{{week}}
          					</md-option>
        					</md-select>
      					</md-input-container>
	  					</div>
	  					<div ng-switch-when="P_frequencyshifthours">
	  					<md-input-container>
        					<label>Hours</label>
        					<md-select ng-model="data.showedQuestion.hours">
          					<md-option ng-repeat="hour in hoursArray" value="{{hour}}" >
            				{{hour}}
          					</md-option>
        					</md-select>
        				</md-input-container>
        				<md-input-container>
        					<label>Minutes</label>
        					<md-select ng-model="data.showedQuestion.minutes">
          					<md-option ng-repeat="minute in minutesArray" value="{{minute}}" >
            				{{minute}}
          					</md-option>
        					</md-select>
      					</md-input-container>
	  					</div>
	  					<div ng-switch-when="P_frequencyhoursminute">
	  					<md-input-container>
        					<label>Hours</label>
        					<md-select ng-model="data.showedQuestion.hours">
          					<md-option ng-repeat="hour in hoursArray" value="{{hour}}" >
            				{{hour}}
          					</md-option>
        					</md-select>
        				</md-input-container>
        				<md-input-container>
        					<label>Minutes</label>
        					<md-select ng-model="data.showedQuestion.minutes">
          					<md-option ng-repeat="minute in minutesArray" value="{{minute}}" >
            				{{minute}}
          					</md-option>
        					</md-select>
      					</md-input-container>
	  					</div>
	  					<div ng-switch-default>Unknown Frequency Type:{{node.type}}</div>
					</div>
				</div>
            </div>
            <div ng-if="data.showedQuestion.type == 'Q_single' || data.showedQuestion.type == 'Q_simple'">
                <md-radio-group ng-model="data.showedQuestion.selectedAnswer" >
			      <div ng-repeat='node in data.showedQuestion.nodes' >
			        <div flex layout-align="start center" >
			          <md-radio-button flex ng-value="node"
			              class="md-primary interview-radio-button" >
			            <span ng-if="node.type!='P_freetext'">{{node.name}}</span>
					    <md-input-container ng-if="node.type=='P_freetext'" md-no-float class="md-block">
					      	<label>Free Text</label>
        			  		<input md-maxlength="30" ng-model="node.name">
        			  		<div ng-messages="node.name.$error">
          						<div ng-message="md-maxlength">The text has to be less than 30 characters long.</div>
        			  		</div>
					    </md-input-container>
			          </md-radio-button>
			          
			        </div>
			      </div>
            </div>
            
            <md-button ng-click="saveAnswerQuestion(data.showedQuestion)" class="md-fab md-raised">       
                <span>NEXT</span>
            </md-button>
        </ul>
        <div ng-if="!data.interviewStarted">
        	<md-input-container md-no-float class="md-block">
				<label>Reference Number</label>
        		<input md-maxlength="8" minlength="8" required ng-model="data.referenceNumber" placeholder="H___-___" ng-pattern="refNoPattern" type="text">
        		<div ng-messages="data.referenceNumber.$error">
          			<div ng-message="required">This is required!</div>
      				<div ng-message="md-maxlength">That's too long!</div>
      				<div ng-message="minlength">That's too short!</div>
                    <div ng-message="pattern">The correct format is H___-___</div>
        		</div>
			</md-input-container>
            <md-button ng-click="startInterview(data)" class="md-fab md-raised ">
                <span>START</span>
            </md-button>
        </div>
        </form>
    </div>
    <div ng-if="data.interviewEnded">
    	<p>The interview in now complete</p>
    	
    	
    </div>
    
</div>
<div class="col-md-8 moduleInterview" id="interview-question-list" >
	<div ui-tree="" id="tree-root" ng-repeat="interview in interviews track by $index">
	
		<div class="angular-ui-tree">
			<div class="tree-node">
				<span class="M_Interview {{interview.active ? 'highlight':''}}">
				{{interview.module.name}}{{interview.fragment.name}}</span>
				<div>
    				<div ng-if="((qa.question.type!='Q_linkedmodule') && (qa.question.type!='Q_linkedajsm'))" 
    				    ng-repeat="qa in interview.questionsAsked | qaFilter:0 | orderBy:'question.number' track by $index">
    					<div class="tree-node-content Q_interviewresult" ng-if="!qa.multiAnswers">
    					<div class="form-group pull-left" style="margin-top: 5px;margin-left: -15px;">
                   			<span class="badge">{{qa.question.number}}</span>
                		</div>  
    					<span class="glyphicon glyphicon-edit" style="margin-top: 5px;margin-left:2px;" aria-hidden="true" 
	    							ng-click="vm.editQuestion(interview,qa.question)"></span>
	    				<span ng-if="qa.question.type.indexOf('multi') > -1" class="badge-multi">Multi</span>
    					<span id="{{'IntResult'+qa.question.idNode}}" >{{ qa.question.name }}
	    					
    					</span>  					
    					</div>
    					<div class="tree-node-content P_interviewresult">
    						<div class="form-group pull-left" style="margin-top: 5px;margin-left: -15px;">
                   				<span class="badge">{{qa.possibleAnswer.number}}</span>
                			</div>
    						<span id="{{'IntResult'+qa.possibleAnswer.idNode}}" >{{qa.interviewQuestionAnswerFreetext }}
    						</span>
    					</div>
    				</div>
  				</div>
			</div>
		</div>
	<div ng-if="interview.firedRules.length > 0" class="firedRulesWrapper" >
		<div class="firedRulesScroller">
			<div class="pull-right" style="height:40px;width: 27px;border-right: solid aliceblue 1px;" 
		     		ng-repeat="agent in interview.agents track by $index">
		     	<div class="verticalagents">
					<div class="agentcontainer" >
						<span class="rotatedagenttext">{{agent.name}}</span>
					</div>
				</div>
				<div class="verticalrules">
					<div class="rulescontainer">
						<div class="agentACell {{activeIntRuleCell === agent.idAgent?'activeCell':''}}" id="{{agent.idAgent}}" context-menu="vm.showRulesMenu(this)"
						model="interview">
							<span class="cell-lable" ng-repeat="mrule in interview.firedRules" >
								<div ng-class="mrule.level" ng-if="(mrule.agentId == agent.idAgent)"></div>
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
</div>
 <!--  
 <div ng-show="showIntroModule" class="col-md-4 moduleInterview" id="interview-intromodule-tree">
    <ng-include src="'scripts/interviews/partials/intromoduleTree.html'"></ng-include>
    < ! -- Start scroll space for last questions -- >
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    End scroll space for last questions
</div>
<div ng-if="linkedModule" ng-show="showModule" class="col-md-4 moduleInterview" id="interview-module-tree">
    <ng-include src="'scripts/interviews/partials/moduleTree.html'"></ng-include>
    Start scroll space for last questions
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    End scroll space for last questions
</div>
<div ng-if="linkedAjsm" ng-show="showAjsm" class="col-md-4 moduleInterview" id="interview-ajsm-tree">
    <ng-include src="'scripts/interviews/partials/ajsmTree.html'"></ng-include>
    Start scroll space for last questions
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    End scroll space for last questions
</div> -->
</div> 
<ng-include src="'scripts/interviews/partials/intTemplate.html'"></ng-include>