<div id="interview-wrapper">
<div class="col-md-4 moduleInterview" id="interivew-question-list" >
	<div ui-tree="" id="tree-root" ng-repeat="interview in interviews">
	<ol style="list-style-type: none;">
		<li>
		<div class="angular-ui-tree">
			<div class="tree-node">
				{{interview.module.name}}{{interview.fragment.name}}
				<ol>
    				<li ng-if="((qa.question.type!='Q_linkedmodule') && (qa.question.type!='Q_linkedajsm'))" 
    				    ng-repeat="qa in interview.questionsAsked">
    				   
<!--     				    <div class="pull-right" ng-if="(interview.firedRules.length > 0)" -->
<!-- 						style="height:40px;width: 27px;border-right: solid aliceblue 1px;" ng-repeat="obj in interview.firedRules"> -->
<!-- 						<div class="verticalrules"> -->
<!-- 							<div class="rulescontainer"> -->
<!-- 								<div class="agentACell"> -->
<!-- 									<span class="cell-lable"> -->
<!-- 										<div></div> -->
<!-- 									</span> -->
<!-- 								</div> -->
<!-- 							</div> -->
<!-- 						</div> -->
<!-- 						</div> -->
    					<div >
    					{{ qa.question.name }}
    					<ol style="list-style-type: disc;">
    						<li>{{qa.possibleAnswer.name }}
    							 <span class="glyphicon glyphicon-eye-open pull-right {{activeIntRuleDialog === $id?'activeIntRuleCell':''}}"  context-menu="vm.showRulesMenu(this)" style="margin-right:3px;" aria-hidden="true" model="interview.firedRules" ng-if="(interview.firedRules.length > 0)"></span>
    						</li>
    					</ol>
    					</div>
    					
    				</li>
  				</ol>
			</div>
		</div>
		</li>
	</ol>
	</div>
</div>
<div class="col-md-4">
    <div ng-model="data">
	    
        <ul id="interviewing-{{data.showedQuestion.idNode}}" ng-if="data.interviewStarted">
            <md-toolbar >{{data.showedQuestion.name}}
            <md-button id="numId" event-focus><span class="badge">{{data.showedQuestion.number}}</span></md-button></md-toolbar>
            <div ng-if="data.showedQuestion.type == 'Q_multiple'">
	            <div ng-repeat="node in data.showedQuestion.nodes">
              		<md-checkbox ng-checked="multiExists(node, multiSelected)"
                       ng-click="multiToggle(node, multiSelected)" class="green">
                		{{ node.name }} 
          				<div ng-if="node.type=='P_freetext'" class="editBox">
      						<input type="text" 
					             ng-model="node.name" 
					             ng-focus="focus=true;blur=false;" 
					             class="form-control">
					    </div>
              		</md-checkbox>
            	</div>
            </div>
            <div ng-if="data.showedQuestion.type == 'Q_single' || data.showedQuestion.type == 'Q_simple'">
                <md-radio-group ng-model="data.showedQuestion.selectedAnswer" >
			      <div ng-repeat='node in data.showedQuestion.nodes' >
			        <div flex layout-align="start center" >
			          <md-radio-button flex ng-value="node"
			              class="md-primary interview-radio-button" >
			            <span ng-if="node.type!='P_freetext'">{{node.name}}</span>
					    <md-input-container ng-if="node.type=='P_freetext'" md-no-float class="md-block">
					      	<label>Free Text</label>
        			  		<input md-maxlength="30" ng-model="node.name">
        			  		<div ng-messages="node.name.$error">
          						<div ng-message="md-maxlength">The text has to be less than 30 characters long.</div>
        			  		</div>
					    </md-input-container>
			          </md-radio-button>
			          
			        </div>
			      </div>
                
                <!-- <div ng-if="data.showedQuestion.description.indexOf('[] FA_freq') > -1">
                    <md-input-container>
                        <label>Select a number</label>
                        <md-select ng-model="node.name" class="selected">
                            <md-option ng-repeat="numb in data.showedQuestion.freqAns" value="{{numb}}">
                                {{numb}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>
                <div ng-if="data.showedQuestion.description.indexOf('[] FA_freq') == -1">
                    <md-radio-group ng-model="data.showedQuestion.selectedAnswer" >
                        <div ng-repeat='node in data.showedQuestion.nodes' >
                            <div flex layout-align="start center" >
                                <md-radio-button flex ng-value="node"
                                                 class="md-primary interview-radio-button" >
                                    <span ng-if="node.type!='P_freetext'">{{node.name}}</span>
                                    <md-input-container ng-if="node.type=='P_freetext'" md-no-float class="md-block">
                                        <label>Free Text</label>
                                        <input md-maxlength="30" ng-model="node.name">
                                        <div ng-messages="node.name.$error">
                                            <div ng-message="md-maxlength">The text has to be less than 30 characters long.</div>
                                        </div>
                                    </md-input-container>
                                </md-radio-button>

                            </div>
                        </div>
                    </md-radio-group>
                </div> -->
            </div>
            
            <md-button ng-click="saveAnswerQuestion(data.showedQuestion)" class="md-fab md-raised">       
                <span>NEXT</span>
            </md-button>
        </ul>
        <div ng-if="!data.interviewStarted">
        	<md-input-container md-no-float class="md-block">
				<label>Reference Number</label>
        		<input md-maxlength="8" minlength="8" required ng-model="data.referenceNumber" placeholder="H___-___" ng-pattern="refNoPattern" type="text">
        		<div ng-messages="data.referenceNumber.$error">
          			<div ng-message="required">This is required!</div>
      				<div ng-message="md-maxlength">That's too long!</div>
      				<div ng-message="minlength">That's too short!</div>
                    <div ng-message="pattern">The correct format is H___-___</div>
        		</div>
			</md-input-container>
            <md-button ng-click="startInterview(data)" class="md-fab md-raised ">
                <span>START</span>
            </md-button>
        </div>
        </form>
    </div>
    <div ng-if="data.interviewEnded">
    	<p>The interview in now complete</p>
    	
    	
    </div>
    
</div>

<div ng-show="showIntroModule" class="col-md-4 moduleInterview" id="interivew-intromodule-tree">
    <ng-include src="'scripts/interviews/partials/intromoduleTree.html'"></ng-include>
    <!-- Start scroll space for last questions -->
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <!-- End scroll space for last questions -->
</div>
<div ng-if="linkedModule" ng-show="showModule" class="col-md-4 moduleInterview" id="interivew-module-tree">
    <ng-include src="'scripts/interviews/partials/moduleTree.html'"></ng-include>
    <!-- Start scroll space for last questions -->
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <!-- End scroll space for last questions -->
</div>
<div ng-if="linkedAjsm" ng-show="showAjsm" class="col-md-4 moduleInterview" id="interivew-ajsm-tree">
    <ng-include src="'scripts/interviews/partials/ajsmTree.html'"></ng-include>
    <!-- Start scroll space for last questions -->
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <!-- End scroll space for last questions -->
</div>
</div>
<ng-include src="'scripts/interviews/partials/intTemplate.html'"></ng-include>