<md-dialog aria-label="Note" ng-cloak style="margin:0 0 0 0;padding:0 0 0 0;">
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Delete Participant</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="vm.cancelDelete()">
          <span aria-hidden="true" class="glyphicon glyphicon-remove"></span>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <div class="md-inline-form" layout="column" ng-cloak>
          <md-content layout-gt-sm="row" layout-padding>
            <div>
              <md-input-container>
                Are you sure you want to delete this participant?
              </md-input-container>
            </div>
          </md-content>
        </div>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="vm.deleteRow()">
        OK
      </md-button>
      <md-button ng-click="vm.cancelDelete()" style="margin-right:20px;">
        Cancel
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>