<div ng-cloak>
	<div>
		<div class="row">


			<md-input-container class="col-md-2" style="margin-left: 20px;"
				permission="['ROLE_DATAENTRY']"> <label
				id="awesidlabel">Study ID</label> <input class="form-control"
				id="awesid" ng-keyup="filterAndValidate($event,this)"
				ng-model="vm.tableParams.filter().reference"
				placeholder="_____" required type="text" />
			<div class="md-errors-spacer" id="awesidcounter">
				<div class="md-char-counter">{{awesIdSize}}/{{awesIdMaxSize}}</div>
			</div>
			</md-input-container>
			<!--  
      <div class="col-md-4" style="display: inline-block;margin-top: 18px;margin-right: -150px;">
        <button class="btn btn-default" ng-click="vm.add(selectLanguage)">
          <span>Start</span>
        </button>
      </div>
       -->
			<div class="col-md-4"
				style="display: inline-block; margin-top: 18px; margin-right: -150px;">
				<button class="btn btn-default"
					ng-click="vm.addCaseControlParticipant()"
					permission="['ROLE_DATAENTRY']">
					<span>New Participant</span>
				</button>
			</div>
			<div class="col-md-4"
				style="display: inline-block; margin-top: 18px; margin-right: -150px;">

			</div>

			<div class="col-md-4"
				style="display: inline-block; margin-top: 18px; margin-right: -150px;">
				<!-- 
        <button ng-click="vm.showImportFromExcel()" class="btn btn-default"
			aria-label="Left Align">
			<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
			AMR Import
		</button>
         -->
			</div>
		</div>
		<div ng-if="vm.isSelfInterviewer === false">Total
			Records:{{totalSize}}</div>
		<div ng-if="vm.isSelfInterviewer === false">
			<table
				class="table table-bordered table-hover table-condensed editable-table"
				ng-table="vm.tableParams" show-filter="true"
				template-pagination="templatePagination.html">

				<tr ng-repeat="participant in $data">
					<!-- 
        <td filter="{idParticipant: 'text'}" title="'Record Id'">{{participant.idParticipant}}</td>
        <td filter="{idinterview: 'text'}" title="'Interview Id'">{{participant.idinterview}}</td>
         -->
					<td filter="{reference: 'text'}" title="'Study Id Number'">{{participant.reference}}</td>

					<td title="'Status'" filter="{status: 'select'}" filter-data="getParticipantStatusList()">
						{{participant.statusDescription}}</td>
					<td title="'Details'">
						<button class="btn btn-default btn-sm"
							ng-click="vm.showParticipantDetailsTab(participant)">
							<span class="glyphicon glyphicon-list-alt"></span>
						</button>
					</td>



					<!-- 
        <td filter="{status: 'select'}" filter-data="getInterviewStatusList()" title="'Participant Status'">
          {{participant.statusDescription}}
        </td>
        <td style="max-width: 200px;" title="'Notes'">
          <button class="btn btn-default" ng-click="showNotes(participant.idinterview)">
            <span class="glyphicon glyphicon-comment"></span>
          </button>
        </td>
       
        <td title="'Resume'">
       
          <button class="btn btn-default btn-sm"
                  ng-click="addInterviewTabInterviewersEdit(participant)"
                  ng-if="participant.statusDescription=='Running'">
            <span class="glyphicon glyphicon-play"></span>
          </button>
          <button class="btn btn-default btn-sm"
                  ng-click="addInterviewTabInterviewersEdit(participant)"
                  ng-if="participant.statusDescription=='Partial'">
            <span class="glyphicon glyphicon-pause"></span>
          </button>
          <button class="btn btn-default btn-sm"
                  ng-click="addInterviewTabInterviewersEdit(participant)"
                  ng-if="participant.statusDescription=='Completed'">
            <span class="glyphicon glyphicon-stop"></span>
          </button>
           -->

					<!-- 
          
          <button class="btn btn-default btn-sm"
                  ng-click="vm.showAMRInterview(participant)"
                  >
            <span class="glyphicon glyphicon-new-window"></span>
          </button>

        </td> -->
					<td ng-if="vm.showDelColumn" title="'Del'">
						<button class="btn btn-default"
							ng-click="vm.deletePrompt(participant)">
							<span class="glyphicon glyphicon-trash"></span>
						</button>
					</td>
				</tr>
			</table>
		</div>

	</div>
	<script id="templatePagination.html" type="text/ng-template">    
<div ng-if="!vm.isSelfInterviewer">
      <ul class="pagination ng-table-pagination pull-right">
        <li><span style="height: 33px;">&nbsp; Go To Page: <input type="text"
                                                                  ng-keyup="params.goTo($event); $event.stopPropagation();"
                                                                  ng-model="params.goToPageNumber"
                                                                  style="width:30px;margin-top: -2px;"/></span></li>
        <li ng-class="{'disabled': !page.active && !page.current, 'active': page.current}" ng-repeat="page in pages"
            ng-switch="page.type">
          <a ng-switch-when="prev" ng-click="params.page(page.number)" href="">&laquo;</a>
          <a ng-switch-when="first" ng-click="params.page(page.number)" href="">
            <span ng-bind="page.number"></span>
          </a>
          <a ng-switch-when="page" ng-click="params.page(page.number)" href="">
            <span ng-bind="page.number"></span>
          </a> <a ng-switch-when="more" ng-click="params.page(page.number)" href="">&#8230;</a>
          <a ng-switch-when="last" ng-click="params.page(page.number)" href="">
            <span ng-bind="page.number"></span>
          </a> <a ng-switch-when="next" ng-click="params.page(page.number)" href="">&raquo;</a>
        </li>
      </ul>
    </div>
  </script>
	<script id="ng-table/filters/mapping.html" type="text/ng-template"
		permission="['ROLE_ALLOCATOR']">
    <input type="button" name="{{interviewid}}" value="Show/Refresh Allocations" ng-click="showAllMapping()"
           ng-model="params.filter()[participant.idinterview]" class="input-filter form-control"/>
  </script>
	<script id="ng-table/filters/interviewLinks.html"
		type="text/ng-template">
    <input type="button" name="{{interviewid}}" value="Show/Refresh Interview Links" ng-click="showAllInterviewLinks()"
           ng-model="params.filter()[participant.idinterview]" class="input-filter form-control"/>
  </script>
</div>