<md-dialog aria-label="AMR Upload" style="margin:0 0 0 0;padding:0 0 0 0;"
	ng-cloak> <!-- <pre>{{data | json}}</pre> -->
<form>
	<md-toolbar>
	<div class="md-toolbar-tools">
		<h2>Upload AMR Excel</h2> 
		<span flex></span>
		<md-button class="md-icon-button" ng-click="cancelDelete()"> <span
			class="glyphicon glyphicon-remove" aria-hidden="true"></span> </md-button>
	</div>
	</md-toolbar>
	<md-dialog-content style="width:510px;">
	<div class="md-dialog-content">
		<div layout="column" ng-cloak class="md-inline-form">
			<md-content>
			<form name="existingUserForm" class="navbar-form navbar-left"
				id="existingUserForm">
				<div layout-gt-sm="row">1
					<js-xls onread="importFromExcel" onerror="error"></js-xls>2
			<!-- <input type="file" ng-change="read" onerror="error"> -->
				</div>
				<md-dialog-actions layout="row">
					<md-button ng-click="cancelDelete()" class="md-raised">Cancel</md-button>
					<!-- <md-button type="submit" ng-click="editUserBtn(existingUser)" class="md-raised">Submit</md-button> -->
				</md-dialog-actions>
			</form>
			</md-content>
		</div>
	</div>
	</md-dialog-content>
</form>
</md-dialog>