<div ng-cloak>
<div>
<table ng-table="vm.tableParams" class="table table-bordered table-hover 
  table-condensed editable-table" show-filter="true">
    <tr ng-repeat="interview in vm.tableParams.data">
        <td title="'Module Type'" groupable="'interviewType'">
            {{interview.interviewType}}</td>
            <td title="'Reference Number'" filter="{ referenceNumber: 'text'}" sortable="'referenceNumber'">
            {{interview.referenceNumber}}</td>
           <td title="'Module'" filter="{ moduleName: 'text'}" sortable="'moduleName'">
            {{interview.moduleName}}</td>
           <td >
           
           		<table>
           		<tr ng-repeat="iqa in interview.questionsAsked"> 
           		<td data-title="'Question'"  >
            	{{iqa.question.name}}
          		</td>
          		<td data-title="'Answer'"  >
            	{{iqa.interviewQuestionAnswerFreetext}}
          		</td>
          		<td data-title="'Node Number'" >
				{{interview.moduleName.substring(0, 4)}}_{{iqa.possibleAnswer.number}}
				</td>
				<td>
					<button class="btn btn-default btn-sm"
						ng-click="addAssessmentTab(node.interview)" ng-if="node.interview.interviewType!='Introduction Module'">
						<span class="glyphicon glyphicon-list-alt"></span>
					</button>
				</td>
           		</tr>
           		</table>
          	</td>
    </tr>
</table>
	
</div>
</div>
