<div ng-if="vm.isZeroRecord === true && vm.isAddresses === false">
	<fieldset>
		<legend>Personal Details:</legend>
		<table style="width: 100%">
			<tbody>
				<tr>
					<td><label>Reference Number:</label></td>
					<td>{{participant.reference }}</td>
				</tr>
				<tr>
					<td><label for="4CharCode">4 Character Code:</label></td>
					<td><input ng-focus="selectText($event)" style="width: 50px;" type="text" id="4CharCode"
						name="4CharCode" permission="['ROLE_DATAENTRY']"
						ng-model="vm.charCode"><span permission="['ROLE_INTERVIEWERA','ROLE_ALLOCATOR']">{{vm.charCode}}</span></td>
				</tr>
				<tr>
					<td><label for="yearOfBirth">Year of Birth:</label></td>
					<td><select id="yearOfBirth" ng-model="vm.yearOfBirth"
						ng-options="yearOfBirth for yearOfBirth in yearsOfBirth"
						permission="['ROLE_DATAENTRY']">
					</select><span permission="['ROLE_INTERVIEWERA','ROLE_ALLOCATOR']">{{vm.yearOfBirth}}</span></td>
				</tr>
				<tr>
					<td><label for="gender">Gender:</label></td>
					<td><select id="gender" name="gender" ng-model="vm.gender"
						permission="['ROLE_DATAENTRY']">
							<option value="male">Male</option>
							<option value="female">Female</option>
							<option value=""></option>
					</select><span permission="['ROLE_INTERVIEWERA','ROLE_ALLOCATOR']">{{vm.gender}}</span></td>
				</tr>
				<tr>
					<td><label for="numberCode">Last 4 Digits of Phone Number:</label></td>
					<td><input ng-focus="selectText($event)" style="width: 50px;" type="text" id="numberCode"
						name="numberCode" ng-model="vm.numberCode"
						permission="['ROLE_DATAENTRY']"><span permission="['ROLE_INTERVIEWERA','ROLE_ALLOCATOR']">{{vm.numberCode}}</span></td>
				</tr>
				<tr>
					<td><label for="comments">Comments about Participant:</label></td>
					<td><textarea id="comments" name="comments" rows="4"
							ng-model="vm.comments"></textarea></td>
				</tr>
				<tr>
					<td><label for="participantStatus">Participant Status:</label></td>
					<td>
						<select id="participantStatus" ng-model="vm.participantStatus" ng-options="participantStatus.value as participantStatus.text for participantStatus in participantStatusList">
						</select>
					</td>
				</tr>
				<tr>
					<td><label for="transcript">Transcript Sent:</label></td>
					<td><input id="transcript" ng-checked="vm.transcriptSent"
						ng-model="vm.transcriptSent" style="position: static;"
						type="checkbox" /></td>
				</tr>
			</tbody>
		</table>
	</fieldset>
	<fieldset>
		<legend>Residential History:<button class="btn btn-default btn-xs"
								ng-click="vm.populateParticipantAddresses(participant.idParticipant)"								>
								<span class="glyphicon glyphicon-refresh"></span>
							</button></legend>
		<table style="width: 100%">
			<tbody>
				<tr ng-repeat="(group, details) in vm.groupedAddresses">
					<td><label>{{group}}</label></td>

					<td ng-repeat="detail in details">{{detail.detailName}}:<label>{{detail.detailValue}}</label></td>

				</tr>
			</tbody>
		</table>
	</fieldset>
	<fieldset>
		<legend>Occupational History<span permission="['ROLE_INTERVIEWERA']"> with Interview Links</span>:<button class="btn btn-default btn-xs"
								ng-click="vm.getOtherParticipantJob(vm.referenceNumberPrefix)"								>
								<span class="glyphicon glyphicon-refresh"></span>
							</button></legend>
		<table style="width: 100%">
			<tbody>
				<tr ng-repeat="participant in vm.otherParticipantJobs"
					ng-if="$first" permission="['ROLE_INTERVIEWERA']">
					<td><label>{{participant.reference}}</label></td>
					<td ng-repeat="detail in participant.participantDetails" >
						<span ng-if="detail.detailName === 'Priority'">
							{{detail.detailName}}:
							<label>{{detail.detailValue}}</label>
							:{{participant.mappedTo}}
							<span permission="['ROLE_INTERVIEWERA']">
							<a href="{{participant.fullQualtricsLink}}"
							   ng-click="vm.updateParticipantStatus($event,participant)"
							   target=”_blank”
							   style="color: #1a0dab; font-size: larger;">{{participant.interviewDetails}}</a>
							</span>
						</span>
					</td>
				</tr>
				<tr ng-repeat="participant in vm.otherParticipantJobs"
					ng-if="!$first">
					<td><label>{{participant.reference}}</label></td>
					<td ng-repeat="detail in participant.participantDetails">

						{{detail.detailName}}:
						<label>{{detail.detailValue}}</label>
						<span ng-if="detail.detailName === 'Priority'">
							:{{participant.mappedTo}}
							<span permission="['ROLE_INTERVIEWERA']">
							<a href="{{participant.fullQualtricsLink}}"
							   ng-click="vm.updateParticipantStatus($event,participant)"
							   target=”_blank”
							   style="color: #1a0dab; font-size: larger;">{{participant.interviewDetails}}</a>
							</span>
						</span>




					</td>
				</tr>
			</tbody>
		</table>
	</fieldset>
	<div></div>
	<div></div>
	<div></div>
	<div></div>
	<div></div>
	<fieldset>
		<legend>Action Buttons:</legend>
		<div>
			<button class="btn btn-default btn-sm"
				ng-click="vm.saveParticipantDetails()">
				<span>Save Details</span>
			</button>
			|

			<button class="btn btn-default btn-sm"
				ng-click="vm.addParticipantAddress()"
				permission="['ROLE_DATAENTRY']">
				<span>Addresses</span>
			</button>
			|
			<button class="btn btn-default btn-sm"
				ng-click="vm.addJobHistoryParticipant()"
				permission="['ROLE_DATAENTRY']">
				<span>Jobs</span>
			</button>
			|
			<button class="btn btn-default btn-sm"
				ng-click="vm.showParticipantMappingTab()"
				permission="['ROLE_ALLOCATOR']">
				<span>Job Allocations</span>
			</button>
		</div>
	</fieldset>
</div>



<div ng-if="vm.isZeroRecord === false && vm.isMapping === false">
	<fieldset>
		<legend>Job Details for {{vm.jobNumber}}:</legend>
		<table style="width: 100%">
			<tbody>
				<tr>
					<td><label for="from_date">From Date (M/YYYY):</label></td>
					<td><input ng-focus="selectText($event)" style="width: 60px" type="text" id="from_date"
						name="from_date" ng-model="vm.fromDate"
						permission="['ROLE_DATAENTRY']">
						<span permission="['ROLE_INTERVIEWERA']">{{vm.fromDate}}</span>
						</td>
				</tr>
				<tr>
					<td><label for="until_date">Until Date (M/YYYY):</label></td>
					<td><input ng-focus="selectText($event)" style="width: 60px" type="text" id="until_date"
						name="until_date" ng-model="vm.untilDate"
						permission="['ROLE_DATAENTRY']"><span permission="['ROLE_INTERVIEWERA','ROLE_ALLOCATOR']">{{vm.untilDate}}</span></td>
				</tr>
				<tr>
					<td><label for="employer">Employer:</label></td>
					<td><input ng-focus="selectText($event)" type="text" id="employer" name="employer"
						ng-model="vm.employer" permission="['ROLE_DATAENTRY']"><span permission="['ROLE_INTERVIEWERA','ROLE_ALLOCATOR']">{{vm.employer}}</span></td>
				</tr>
				<tr>
					<td><label for="address">Address:</label></td>
					<td><input ng-focus="selectText($event)" style="width: 460px" type="text" id="address"
						name="address" ng-model="vm.address"
						permission="['ROLE_DATAENTRY']"><span permission="['ROLE_INTERVIEWERA','ROLE_ALLOCATOR']">{{vm.address}}</span></td>
				</tr>
				<tr>
					<td><label for="title">Title:</label></td>
					<td><input ng-focus="selectText($event)" type="text" id="title" name="title"
						ng-model="vm.jobTitle" permission="['ROLE_DATAENTRY']"><span permission="['ROLE_INTERVIEWERA','ROLE_ALLOCATOR']">{{vm.jobTitle}}</span></td>
				</tr>
				<tr>
					<td><label for="main_product">Main Product:</label></td>
					<td><input ng-focus="selectText($event)" type="text" id="main_product" name="main_product"
						ng-model="vm.product" permission="['ROLE_DATAENTRY']"><span permission="['ROLE_INTERVIEWERA','ROLE_ALLOCATOR']">{{vm.product}}</span></td>
				</tr>
				<tr>
					<td><label for="average_hours">Average Hours:</label></td>
					<td><input ng-focus="selectText($event)" style="width: 30px" type="text" id="average_hours"
						name="average_hours" ng-model="vm.averageHours"
						permission="['ROLE_DATAENTRY']"><span permission="['ROLE_INTERVIEWERA','ROLE_ALLOCATOR']">{{vm.averageHours}}</span></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
				</tr>
			</tbody>
		</table>


		<div>
			<button class="btn btn-default btn-sm"
				ng-click="vm.saveParticipantDetails()"
				permission="['ROLE_DATAENTRY']">
				<span>Save Details</span>
			</button>
			<button class="btn btn-default btn-sm"
				ng-click="vm.addJobHistoryParticipant()"
				permission="['ROLE_DATAENTRY']">
				<span>Add Job</span>
			</button>
			<button class="btn btn-default btn-sm"
					ng-click="vm.removeJobHistoryParticipant()"
					permission="['ROLE_DATAENTRY']">
				<span>Remove Job</span>
			</button>
		</div>
	</fieldset>
</div>
<div ng-if="vm.isMapping === true">

	<fieldset>
		<legend>Personal Details:</legend>
		<table style="width: 100%">
			<tbody>

				<tr ng-repeat="participant in vm.otherParticipantJobs"
					ng-if="$first">
					<td>{{participant.reference}}</td>
					<td>
						<table>
							<tbody>

								<tr>
									<td><label for="4CharCode">4 Character Code:</label></td>
									<td><span>{{vm.charCode}}</span></td>
								</tr>
								<tr>
									<td><label for="yearOfBirth">Year of Birth:</label></td>
									<td><span>{{vm.yearOfBirth}}</span></td>
								</tr>
								<tr>
									<td><label for="gender">Gender:</label></td>
									<td><span>{{vm.gender}}</span></td>
								</tr>
								<tr>
									<td><label for="numberCode">Last 4 Digits of Phone
											Number:</label></td>
									<td><span>{{vm.numberCode}}</span></td>
								</tr>
								<tr>
									<td><label for="comments">Comments about Participant:</label></td>
									<td><textarea id="mappingComments" name="comments" rows="4"
												  ng-model="vm.comments"></textarea></td>
								</tr>
								<tr>
									<td><label for="participantStatus">Participant Status:</label></td>
									<td>
										<select id="mappingParticipantStatus" ng-model="vm.participantStatus" ng-options="participantStatus.value as participantStatus.text for participantStatus in participantStatusList">
										</select>
									</td>
								</tr>


								<tr>
									<td></td>
									<td></td>
								</tr>


							</tbody>
						</table>


					</td>



				</tr>
			</tbody>
		</table>


	</fieldset>
	<hr/>
	<fieldset>
		<legend>Job History Details:</legend>
		<table style="width: 100%">
			<tbody>

				<tr ng-repeat="participant in vm.otherParticipantJobs"
					ng-if="!$first">
					<td>{{participant.reference}}</td>
					<td></td>

					<td ng-repeat="detail in participant.participantDetails">

						{{detail.detailName}}:
						<span ng-if="(detail.detailName != 'Priority') && (detail.detailName != 'ANZSCO')">
							<label>{{detail.detailValue}}</label>
						</span>

						<span ng-if="detail.detailName === 'Priority'">
							<input ng-focus="selectText($event)"
								type="text" style="width: 30px;" id="priority" name="priority"
								ng-model="detail.detailValue">

							<select id="jobModule"
								ng-model="participant.mappedTo"
								ng-options="jobModule for jobModule in jobModules">
							</select>
							<select id="sameAs" ng-if="startsWithSameAs(participant.mappedTo)"
								ng-model="participant.mappedTo"
								ng-options="sameAs for sameAs in sameAsList">
								<option>*</option>
							</select>
						</span>
						<span ng-if="detail.detailName === 'ANZSCO'">
							<input ng-focus="selectText($event)"
								   type="text" style="width: 70px;" id="anzsco" name="anzsco"
								   ng-model="detail.detailValue">
						</span>
					</td>

				</tr>
			</tbody>
		</table>

		<div>
			<button class="btn btn-default btn-sm"
				ng-click="vm.saveParticipantMappings(vm.otherParticipantJobs)">
				<span>Update Job Allocations</span>
			</button>
		</div>
	</fieldset>

</div>
<div ng-if="vm.isAddresses === true">

	<hr></hr>
	<fieldset>
		<legend>Residential History:</legend>

		<table style="width: 100%">
			<tbody ng-repeat="(group, details) in vm.groupedAddresses">
				<tr ng-repeat="detail in details">
					<td>{{ $first ? group : '' }}</td>
					<td>{{ detail.detailName }}</td>
					<td><input ng-focus="selectText($event)" style="width: 460px" type="text"
						ng-model="detail.detailValue" ng-blur="vm.prepopulateDetails()"></td>

				</tr>
			</tbody>
		</table>
	</fieldset>
	<div>
		<button ng-click="vm.saveParticipantAddresses()">
			<span>Save Addresses</span>
		</button>
		<button ng-click="vm.addAddress()">
			<span>Add Address</span>
		</button>
		<button ng-if="vm.highestAddress != 'R1'" ng-click="vm.removeAddress()">
			<span>Remove Address</span>
		</button>
	</div>
</div>
