<md-dialog aria-label="" ng-cloak>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Import JSON</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()"> <span
          aria-hidden="true" class="glyphicon glyphicon-remove"></span></md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content" style="height: 300px; width: 300px;">
        <div class="md-inline-form" layout="column" ng-cloak>
          <md-content>
            <div class="row" style="text-align: center;">
              <h4>
                <i>Upload JSON File.</i>
              </h4>
              <button accept="*.json" ngf-max-height="1000"
                      ngf-max-size="10MB" ngf-select="uploadFiles($file, $invalidFiles)" type="file">
                Select File
              </button>

              <input id="fileupload" type="file" name="fileupload" />
              <md-button id="upload-button" ng-click="uploadFile()">
                New Upload
              </md-button>
            </div>
            <div class="row" style="text-align: center;">
              File:
              <div style="font: smaller">
                {{f.name}} {{errFile.name}} {{errFile.$error}}
                {{errFile.$errorParam}} 
              </div>
            </div>
          </md-content>
          <md-dialog-actions>
            <md-button
              class="md-raised" ng-click="debug()">Cancel
            </md-button>
            <md-button
              class="md-raised" ng-click="importJsonBtn()" type="submit">Submit
            </md-button>
          </md-dialog-actions>
        </div>
      </div>
    </md-dialog-content>
  </form>
</md-dialog>