<div class="form-group" style="height:100px;overflow:auto">
  <div class="popoverTitle"></div>
  <md-progress-circular
    md-diameter="100%"
    md-mode="indeterminate" ng-if="item.info[item.vo.idNode].popoverInProgress"></md-progress-circular>
  <div
    ng-if="!item.info[item.idNode].popoverInProgress">
    <form>
      <div>
        Non-matching placeholders for free text fields
      </div>
      <md-divider></md-divider>
      <span class="form-group" ng-repeat="issue in item.issues">
				{{issue}} <br/>
			</span>
    </form>
  </div>
</div>