<md-dialog aria-label="Export CSV" ng-cloak style="margin:0 0 0 0;padding:0 0 0 0;">
  <!-- <pre>{{data | json}}</pre> -->
  <form>
    <md-dialog-content>
      <div class="md-dialog-content">
        <div class="md-inline-form" layout="column" ng-cloak>
          <md-content>
            <div class="row" ng-if="validationInProgress" style="text-align:center;">
              <div>Validation in Progress ...</div>
              <md-progress-circular class="col-md-offset-5" md-mode="indeterminate">
              </md-progress-circular>
            </div>
            <div class="row" ng-if="interviewExist">
              <p>Interview Exist for this Module. </p>
              <p>Should we update the interviews with the new name?
              </p>
            </div>
            <div class="row" ng-if="interviewExist">
              <div>
                <button ng-click="updateInterviewModuleNames()">Yes, Update All.</button>
                <button ng-click="cancelChanges()">No, Cancel Update.</button>
              </div>
            </div>
          </md-content>
        </div>
      </div>
    </md-dialog-content>
  </form>
</md-dialog>