<div ng-cloak style="height:1000px;overflow:scroll;">
  <table class="table table-sm">
    <tbody>
      <tr>
        <td colspan="2"><h3>Modules Summary</h3></td>
      </tr>
      <table class="table table-sm">
        <thead>
          <tr>
            <th></th>
            <th>Job Module Id</th>
            <th>Job Module Name</th>
            <th>Questions</th>
            <th>Answers</th>
            <th>Rules</th>
            <th>Issues</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in allModuleValidationReport">
            <td>{{$index}}</td>
            <td>{{item.vo.idNode}}</td>
            <td>
              <a href ng-click="addModuleTab(item.vo)"
                 style="cursor: pointer;">{{item.vo.name}}</a>
            </td>
            <td>{{item.totalQuestions}}</td>
            <td>{{item.totalAnswers}}</td>
            <td>{{item.totalRules}}</td>
            <td>
              <a class="glyphicon glyphicon-warning-sign" ng-if="item.issues"
                 popover-popup-delay="100"
                 popover-trigger="focus"
                 style="color:red;cursor:pointer"
                 tabindex="0"
                 uib-popover-template="issuePopOver.templateUrl">
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </tbody>
  </table>
</div>