<md-dialog aria-label=""  ng-cloak>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Export To JSON</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <p>
         	<label>Filename:</label>
        	<input type="text" ng-model="name"/>
        </p>
        <p>
          <md-checkbox ng-model="includeLinks" aria-label="Export aJSMs">
  			Export aJSMs
 		  </md-checkbox>
        </p><p>
          <md-checkbox ng-model="filterOnStudyAgents" aria-label="Filter on Study Agents">
  			Filter on Study Agents
 		  </md-checkbox>
        </p>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
       <span flex></span>
      <md-button ng-click="exportToJSON(name,includeLinks)">
        Submit
      </md-button>
      <md-button ng-click="cancel()" style="margin-right:20px;">
        Cancel
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>