<style>
/** ui tree */
.btn {
    margin-right: 8px;
}

.angular-ui-tree-handle {
    background: #f8faff;
    border: 1px solid #dae2ea;
    color: #7c9eb2;
    padding: 10px 10px;
}

.angular-ui-tree-handle:hover {
    color: #438eb9;
    background: #f4f6f7;
    border-color: #dce2e8;
}

.angular-ui-tree-placeholder {
    background: #f0f9ff;
    border: 2px dashed #bed2db;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

tr.angular-ui-tree-empty {
    height:100px
}

.group-title {
    background-color: #687074 !important;
    color: #FFF !important;
}


/* --- Tree --- */
.tree-node {
    border: 1px solid #dae2ea;
    background: #f8faff;
    color: #7c9eb2;
}
.warning {
    border: 2px solid #C53E3E !important;
}
.P {
	border: 1px solid #f8faff;
    border-bottom-color: #C79B1C; !important;
}
.Q {
	border: 1px solid #f8faff;
    border-bottom-color: #4657B7; !important;
}
.nodrop {
    background-color: #f2dede;
}

.tree-node-content {
    margin: 10px;
}
.tree-handle {
    padding: 10px;
    background: #428bca;
    color: #FFF;
    margin-right: 10px;
}

.angular-ui-tree-placeholder {
    background: #f0f9ff;
    border: 2px dashed #bed2db;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
</style>
<script type="text/ng-template" id="nodes_renderer.html">
  <div ui-tree-handle class="tree-node tree-node-content form-inline" ng-class=node.warning >
	<div context-menu="showMenu(this)" class="{{node.type}} {{node.nodeclass}}" >
	<a ng-if="node.nodes && node.nodes.length > 0" class="btn btn-success btn-xs" data-nodrag 
		ng-click="toggle(this)">
		<span
        class="glyphicon"
        ng-class="{
          'glyphicon-chevron-right': collapsed,
          'glyphicon-chevron-down': !collapsed
        }"></span></a>
	<div class="form-group" id={{node.anchorId}}>
	 <div ng-hide="node.editEnabled" data-nodrag>

       <span ng-if="node.deleted === 1" class="badge-deleted">deleted</span>
		<span ng-if="!node.idNode || node.idNode===0" class="badge-multi">Unsaved</span>
		<span ng-if="node.type.indexOf('Multi') > -1" class="badge-multi">Multi</span>
		<span ng-click="enable(this)" data-nodrag>{{node.name}}</span>
		<span ng-if="isDragging" class="badge">{{node.type}}</span>
		<span ng-if="isDragging" class="badge">{{node.idNode}}</span>
		<span ng-if="isDragging" class="badge">{{node.parentId}}</span>
		<span ng-if="isDragging" class="badge">{{node.sequence}}</span>
		<span ng-if="(node.nodeclass === 'Q')&&(isCreatingFragments)" save-fragment-modal="node.name" class="badge" >
		<span class="glyphicon glyphicon-retweet"></span>
			<md-tooltip>
        	Save Fragment
      		</md-tooltip>
		</span>
		<button type="button" class="btn btn-default btn-lg btn-save" ng-if="(node.nodeclass === 'M')||(node.nodeclass === 'F')" ng-click="saveModule()">
  			Save
		</button>
        <div ng-show="(node.nodeclass === 'M')">
		<md-content >
    
    <div class="typesetting">
      <md-fab-speed-dial md-open="vm.isOpen" md-direction="{{selectedDirection}}"
                         ng-class="selectedMode">
        <md-fab-trigger>
          <md-button aria-label="menu" >
            <span class="badge">Type:{{node.type}}</span>
          </md-button>
        </md-fab-trigger>
        <md-fab-actions>
          <md-button ng-if="vm.isOpen && node.type!='M_Module'" ng-click="setNodeType(node,'Prod')" class="md-fab md-raised md-mini">
            <span>Prod</span>
          </md-button>
          <md-button ng-if="vm.isOpen && node.type!='M_Module_'" ng-click="setNodeType(node,'Dev')" class="md-fab md-raised md-mini">
            <span >Dev</span>
          </md-button>
          <md-button ng-if="vm.isOpen && node.type!='M_Module__'" ng-click="setNodeType(node,'Test')" class="md-fab md-raised md-mini">
           <span >Test</span>
          </md-button>
		  <md-button ng-if="vm.isOpen && node.type!='M_IntroModule'" ng-click="setNodeType(node,'Intro')" class="md-fab md-raised md-mini">
           <span >Intro</span>
          </md-button>
        </md-fab-actions>
      </md-fab-speed-dial>
    </div>
    
  </md-content>
		</div>
		
    </div>
    <div ng-show="node.editEnabled">
      <input type="text" ng-model="node.name" class="form-control" style="width:500px;"  data-nodrag 
			ng-keypress="(($event.which === 13))?saveEdit(this):0" placeholder="{{node.placeholder}}">
    </div>
    </div>
	
	<div class="form-group pull-right" style="margin-top: 5px;">
    <!-- Agents rules to go here -->
	</div>
	</div>
  </div>
  <div ng-bind="selected"></div>
  <ol ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: collapsed}">
    <li ng-repeat="node in node.nodes" ui-tree-node ng-include="'nodes_renderer.html'">
    </li>
  </ol>
	
</script>
<script type="text/ng-template" id="nodes_renderer2.html">
<div ui-tree-handle class="tree-node tree-node-content form-inline" >
	<div  >
	<a ng-if="node.nodes && node.nodes.length > 0" class="btn btn-success btn-xs" data-nodrag 
		ng-click="toggle(this)">
		<span
        class="glyphicon"
        ng-class="{
          'glyphicon-chevron-right': collapsed,
          'glyphicon-chevron-down': !collapsed
        }"></span></a>
	<div class="form-group">
	 <div ng-hide="node.editEnabled" data-nodrag>
       <span data-nodrag>{{node.name}}</span>
		<span ng-if="isDragging" class="badge">{{node.type}}</span>
		<span ng-if="isDragging" class="badge">{{node.idNode}}</span>
    </div>
    
    </div>
	
	</div>
  </div>
  <div ng-bind="selected"></div>
  <ol ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: collapsed}">
    <li ng-repeat="node in node.nodes" ui-tree-node ng-include="'nodes_renderer2.html'">
    </li>
  </ol>

</script>

<div class="row">
	<div class="col-sm-12">
	<div class="panel panel-default">
  <div class="panel-body">
  	<div ui-tree="moduleTreeOptions" id="tree-root">
		<ol ui-tree-nodes ng-model="data">
			<li ng-repeat="node in data" ui-tree-node 
				ng-include="'nodes_renderer.html'"></li>
		</ol>
	</div>
  </div>
</div>
	</div>
</div>

<div ng-if="showFragmentSlider" id="fragdropcontainer" ng-class="rightNav" class="ui-widget">
		<div class="frag-contain">
		<div class="fragmentSticker" ng-click="toggleRight()">Fragments</div> 
<label for="fragmentsdragdrop" class="fraglabel">Drag Drop Fragments: </label>
<div id="fragmentsdragdrop"><ul></ul>
<div>
    <h5>Fragment List</h5>
    <uib-accordion close-others="oneAtATime">
     	 <uib-accordion-group heading="aJSMs" >
				<div ui-tree="aJsmTreeOptions" id="fragmentTree-root" data-clone-enabled="true">
			<ol ui-tree-nodes ng-model="aJsmFragmentSlider">
				<li ng-repeat="node in aJsmFragmentSlider" ui-tree-node  
				ng-include="'nodes_renderer2.html'"></li>
			</ol>
		</div>
    	</uib-accordion-group>
    	<uib-accordion-group heading="Templates" >
		<div ui-tree="templateTreeOptions" id="templateTree-root" data-clone-enabled="true">
			<ol ui-tree-nodes ng-model="templateFragmentSlider">
				<li ng-repeat="node in templateFragmentSlider" ui-tree-node 
				ng-include="'nodes_renderer2.html'"></li>
			</ol>
		</div>
    	</uib-accordion-group>
    	<uib-accordion-group heading="Frequencies" >
		<div ui-tree="templateTreeOptions" id="frequencyTree-root" data-clone-enabled="true">
			<ol ui-tree-nodes ng-model="frequencyFragmentSlider">
				<li ng-repeat="node in frequencyFragmentSlider" ui-tree-node 
				ng-include="'nodes_renderer2.html'"></li>
			</ol>
		</div>
    	</uib-accordion-group>
     </uib-accordion>
     
  </div>
</div>
</div>
</div>
<!-- Show module list slider -->
<div ng-if="showModuleSlider" id="fragdropcontainer" ng-class="rightNav" class="ui-widget">
		<div class="frag-contain">
		<div class="fragmentSticker" ng-click="toggleRight()">Modules</div> 
<label for="fragmentsdragdrop" class="fraglabel">Drag Drop Modules: </label>
<div id="fragmentsdragdrop"><ul></ul>
<div>
    <h5>Module List</h5>
    <uib-accordion close-others="oneAtATime">
         <uib-accordion-group heading="Module" >
			<div ui-tree="aJsmTreeOptions" id="templateTree-root" data-clone-enabled="true">
			<ol ui-tree-nodes ng-model="moduleSlider">
				<li ng-repeat="node in moduleSlider" ui-tree-node 
				ng-include="'nodes_renderer2.html'"></li>
			</ol>
		</div>
    	</uib-accordion-group>
     	 <uib-accordion-group heading="aJSMs" >
				<div ui-tree="aJsmTreeOptions" id="fragmentTree-root" data-clone-enabled="true">
			<ol ui-tree-nodes ng-model="aJsmFragmentSlider">
				<li ng-repeat="node in aJsmFragmentSlider" ui-tree-node  
				ng-include="'nodes_renderer2.html'"></li>
			</ol>
		</div>
    	</uib-accordion-group>
     </uib-accordion>
     
  </div>
</div>
</div>
</div>