<style>
/** ui tree */
.btn {
    margin-right: 8px;
}

.angular-ui-tree-handle {
    background: #f8faff;
    border: 1px solid #dae2ea;
    color: #7c9eb2;
    min-height: 38px !important;
    padding-top: 8px;
}
.angular-ui-tree-nodes {
    padding-left: 0px; 
}
.angular-ui-tree-handle:hover {
    color: #438eb9;
    background: #f4f6f7;
    border-color: #dce2e8;
}

.angular-ui-tree-placeholder {
    background: #f0f9ff;
    border: 2px dashed #bed2db;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

tr.angular-ui-tree-empty {
    height:500px
}


.tree-node {
    border: 1px solid #dae2ea;
    background: #f8faff;
    color: #7c9eb2;
}
.tree-spacer-div{
	padding: 0px 10px 10px 10px;
}
/* --- End Tree --- */
.group-title {
    background-color: #687074 !important;
    color: #FFF !important;
}

.warning {
    border: 2px solid #C53E3E !important;
}

.nodrop {
    background-color: #f2dede;
}

.tree-node-content {
    /* margin: 10px; */
    
}
.tree-handle {

    background: #E3F0F6;
    color: #7D89B7;

}

.angular-ui-tree-placeholder {
    background: #f0f9ff;
    border: 2px dashed #bed2db;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
</style>
<div>
<div class="row ">
	<div class="col-sm-12">
	<div class="panel panel-default">
 	 <div class="panel-body">
  	<div ui-tree="moduleTreeOptions" id="tree-root">
		<ol ui-tree-nodes ng-model="data">
			<li ng-repeat="node in data" ui-tree-node 
				ng-include="'nodes_renderer.html'"></li>
		</ol>
	</div>
  </div>
</div>
	</div>
</div>
<div id="agentDropContainer" ng-class="leftNav" class="ui-widget">
<div class="agent-contain">
<div class="agentSticker" ng-click="toggleLeft()">Agents</div> 
<label for="agentDragDrop" class="fraglabel">Drag Drop Agents: </label>
<div id="agentDragDrop"><ul></ul>
<div>
	<div class="panel panel-default"">
		<div class="panel-heading">
    		<h4 class="panel-title">Agents List</h4>
  		</div>
  		<div class="panel-body">
		<uib-accordion close-others="oneAtATime" ng-repeat="(key, value) in agentsData track by $index">
     	 <uib-accordion-group>
     	 	<uib-accordion-heading>
     	 	{{key}}
     	 		<span class="badge pull-right">0</span>
     	 	</uib-accordion-heading>
     	 		<div>
					<ul class="list-group">
						<li class="list-group-item" ng-repeat="subNode in value track by $index" ng-click="toggleRulesObj(subNode)">
							{{subNode.name}} <span class="badge pull-right">3</span></li>
					</ul>
				</div>
     	 </uib-accordion-group>
     	 </uib-accordion>
     	 </div>
	</div>
</div>
</div>
</div>
<div ng-if="data.showFragmentSlider" id="fragdropcontainer" ng-class="rightNav" class="ui-widget">
		<div class="frag-contain">
		<div class="fragmentSticker" ng-click="toggleRight()">Fragments</div> 
<label for="fragmentsdragdrop" class="fraglabel">Drag Drop Fragments: </label>
<div id="fragmentsdragdrop"><ul></ul>
<div>
    <h5>Fragment List</h5>
    <uib-accordion close-others="oneAtATime">
     	 <uib-accordion-group heading="aJSMs" >
				<div ui-tree="aJsmTreeOptions" id="fragmentTree-root" data-clone-enabled="true">
			<ol ui-tree-nodes ng-model="aJSMData">
				<li ng-repeat="node in aJSMData track by $index" ui-tree-node  
				ng-include="'nodes_renderer2.html'"></li>
			</ol>
		</div>
    	</uib-accordion-group>
    	<uib-accordion-group heading="Templates" >
		<div ui-tree="templateTreeOptions" id="templateTree-root" data-clone-enabled="true">
			<ol ui-tree-nodes ng-model="templateData">
				<li ng-repeat="node in templateData track by $index" ui-tree-node 
				ng-include="'nodes_renderer2.html'"></li>
			</ol>
		</div>
    	</uib-accordion-group>
    	<uib-accordion-group heading="Frequencies" >
		<div ui-tree="templateTreeOptions" id="frequencyTree-root" data-clone-enabled="true">
			<ol ui-tree-nodes ng-model="frequencyData">
				<li ng-repeat="node in frequencyData track by $index" ui-tree-node 
				ng-include="'nodes_renderer2.html'"></li>
			</ol>
		</div>
    	</uib-accordion-group>
     </uib-accordion>
     
  </div>
</div>
</div>
</div>
<!-- Show module list slider -->
<div ng-if="data.showModuleSlider" id="fragdropcontainer" ng-class="rightNav" class="ui-widget">
		<div class="frag-contain">
		<div class="fragmentSticker" ng-click="toggleRight()">Modules</div> 
<label for="fragmentsdragdrop" class="fraglabel">Drag Drop Modules: </label>
<div id="fragmentsdragdrop"><ul></ul>
<div>
    <h5>Production Module List</h5>
    <uib-accordion close-others="oneAtATime">
         <uib-accordion-group heading="Module" is-open="true">
			<div ui-tree="aJsmTreeOptions" id="templateTree-root" data-clone-enabled="true">
			<ol ui-tree-nodes ng-model="moduleSlider">
				<li ng-repeat="node in moduleSlider" ui-tree-node 
				ng-include="'nodes_renderer2.html'"></li>
			</ol>
		</div>
    	</uib-accordion-group>
     	 
     </uib-accordion>
     
  </div>
</div>
</div>
</div>
</div>

<script type="text/ng-template" id="nodes_renderer.html">
  <div id="tree1-root" class="angular-ui-tree">
     <div class="tree-node" id="{{node.anchorId}}">
        <div class="pull-left tree-handle angular-ui-tree-handle {{node.type}}" ui-tree-handle="" 
			ng-mousedown="copy($event)">
          <span class="glyphicon glyphicon-list"></span>
        </div>
<!-- start content -->
        <div context-menu="showMenu(this)" class="tree-node-content {{node.nodeclass}} {{node.warning}}" id="node-{{node.idNode}}">
          <a class="btn btn-success btn-xs {{node.type}}" data-nodrag="" ng-click="toggle(this)">
            <span ng-if="isCollapsableNode(node)" class="glyphicon glyphicon-chevron-down" ng-class="{
              'glyphicon-chevron-right': collapsed,
              'glyphicon-chevron-down': !collapsed
              }">
            </span>
          </a>
          <span ng-if="isDragging" class="badge">{{node.type}}:{{node.idNode}}:{{node.parentId}}:{{node.sequence}}</span>
	      <span ng-if="node.deleted === 1" class="badge-deleted">deleted</span>
	      <span ng-if="!node.idNode || node.idNode===0" class="badge-multi">Unsaved</span>
	      <span ng-if="node.type.indexOf('multi') > -1" class="badge-multi">Multi</span>
          
          <span ng-if="!node.editEnabled" ng-click="enable(this)" data-nodrag>{{node.name}}</span>
          <div ng-show="node.editEnabled" class="editBox">
      		<input type="text" 
             ng-model="node.name" 
             ng-focus="focus=true;blur=false;" 
             ng-blur="saveEdit(this)" 
             class="form-control"  
             data-nodrag 
			 ng-keypress="(($event.which === 13))?saveEdit(this):0" placeholder="{{node.placeholder}}">
     	  </div>
			 <button type="button" 
              class="btn btn-default btn-lg btn-save" 
              ng-if="((node.nodeclass === 'M')||(node.nodeclass === 'F')) && undoEnable" 
              ng-click="undo()">
              Undo	
             </button>
			<div class="agentheader expanded pull-right" ng-if="((node.nodeclass === 'M')||(node.nodeclass === 'F')) && (rulesObj.length > 0)">
				<div class="verticalagents">
						<div class="agentcontainer" ng-repeat="rule in rulesObj">
								<span id="87" class="rotatedagenttext">{{rule.name}}</span>
						</div>
				</div>
			</div>
			<div class="pull-right" ng-if="((node.nodeclass === 'P')) && (rulesObj.length > 0)"
						style="height:40px;width: 27px;border-right: solid aliceblue 1px;" ng-repeat="obj in rulesObj">
						<div class="verticalrules" ng-init="rule = getRulesIfAny(node,obj)">
							<div class="rulescontainer">
								<div class="agentACell">
									<span class="cell-lable">
										<div ng-class="{'probHigh':rule.rule.level === 0,
														'probMedium':rule.rule.level === 1,
														'probLow':rule.rule.level === 2,
														'probUnknown':rule.rule.level === 3,
														'possUnknown':rule.rule.level === 4}" ng-if="rule != null"></div>
									</span>
								</div>
							</div>
						</div>
			</div>
				

		  <div class="form-group pull-right" style="margin-top: 5px;">
    		<span class="badge">{{node.number}}</span>
		  </div>



<!-- start fab menu for changing type of module --> 
          <div ng-if="isModuleHeaderNode(node)" class="typesetting">
     		<md-fab-speed-dial md-open="vm.isOpen" md-direction="{{selectedDirection}}"
                         ng-class="selectedMode">
        	<md-fab-trigger>
          	<md-button aria-label="menu" >
            <span class="badge">Type:{{node.type}}</span>
          	</md-button>
        	</md-fab-trigger>
        	<md-fab-actions>
          	<md-button ng-if="vm.isOpen && node.type!='M_Module'" ng-click="setNodeType(node,'Prod')" class="md-fab md-raised md-mini">
            	<span>Prod</span>
          	</md-button>
          	<md-button ng-if="vm.isOpen && node.type!='M_Module_'" ng-click="setNodeType(node,'Dev')" class="md-fab md-raised md-mini">
            <span >Dev</span>
          	</md-button>
          	<md-button ng-if="vm.isOpen && node.type!='M_Module__'" ng-click="setNodeType(node,'Test')" class="md-fab md-raised md-mini">
           	<span >Test</span>
          	</md-button>
		  	<md-button ng-if="vm.isOpen && node.type!='M_IntroModule'" ng-click="setNodeType(node,'Intro')" class="md-fab md-raised md-mini">
           	<span >Intro</span>
          	</md-button>
        	</md-fab-actions>
      		</md-fab-speed-dial>
		  </div>
<!-- end fab menu for changing type of module --> 
       </div> 
<!-- end content -->
     </div>
  </div>
  <ol ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: collapsed}">
    <li ng-repeat="node in node.nodes" ui-tree-node ng-include="'nodes_renderer.html'" class="angular-ui-tree-node" collapsed="false">
    </li>
  </ol>
</script>
<script type="text/ng-template" id="nodes_renderer2.html">
<div id="tree2-root" class="angular-ui-tree">
     <div class="tree-node">
        <div class="pull-left tree-handle angular-ui-tree-handle " ui-tree-handle=""  >
          <span class="glyphicon glyphicon-list"></span>
        </div>
<!-- start content -->
        <div class="tree-node-content Q {{node.warning}}">        
          <span ng-if="isDragging" class="badge">{{node.type}}:{{node.idNode}}:{{node.parentId}}:{{node.sequence}}</span>
          <span data-nodrag>{{node.name}}</span>
       </div> 
<!-- end content -->
     </div>
  </div>
</script>
