<md-dialog aria-label="Add User" style="margin:0 0 0 0;padding:0 0 0 0;"
	ng-cloak> <!-- <pre>{{data | json}}</pre> -->
<form>
	<md-toolbar>
	<div class="md-toolbar-tools">
		<h2>Add User</h2>
		<span flex></span>
		<md-button class="md-icon-button" ng-click="cancel()"> <span
			class="glyphicon glyphicon-remove" aria-hidden="true"></span> </md-button>
	</div>
	</md-toolbar>
	<md-dialog-content>
	<div class="md-dialog-content">
		<div layout="column" ng-cloak class="md-inline-form">
			<md-content>
			<form name="newUserForm" class="navbar-form navbar-left" id="newUserForm">    	
			<table>
				<tr>
					<td class="col_title">
						<span class="col_title"><span class="red">*</span>Username</span>
						<input required type="text" name="ssoId" ng-model="vm.newUser.ssoId"/>
					</td>
					<td class="col_title">
						<span class="col_title"><span class="red">*</span>Password</span>
						<input required type="password" name="password" ng-model="vm.newUser.password"/>
						
					</td>
				</tr>
				<tr>
					<td class="col_title" style="padding-top: 5px;">
						<span class="col_title"><span class="red">*</span>Firstname</span>
						<input required type="text" name="firstName" ng-model="vm.newUser.firstName"/>
					</td>
					<td class="col_title" style="padding-top: 5px;">
						<span class="col_title"><span class="red">*</span>Lastname</span>
						<input required name="lastName" ng-model="vm.newUser.lastName"/>
					</td>
				</tr>	
				<tr>
					<td class="col_title" style="padding-top: 5px;">
						<span class="col_title"><span class="red">*</span>Email</span>
						<input type="email" required name="email" ng-model="vm.newUser.email"/>
					</td>
					<td class="col_title" style="padding-top: 5px;">
						<span class="col_title"><span class="red">*</span>State</span>
						<select name="state" required
						 ng-options="state as state.name for state in vm.states" 
						 ng-model="vm.newUser.state">
							<option value="">
							</option>
						</select>
					</td>
				</tr>	
				<tr>
					<td class="col_title" style="padding-top: 5px;">
						<span class="col_title"><span class="red">*</span>Roles</span>
						<select name="roles" required
						ng-model="vm.newUser.role">
							<option value="{{prop.id}}" ng-repeat="(key, prop) in vm.roleList">
								{{prop.type}}
							</option>
						</select>
					</td>
					<td></td>
				</tr>	
				<tr>
					<td class="col_title" style="padding-top: 5px;">
						<button type="submit" ng-click="addUserBtn(vm.newUser)" class="btn btn-default">Submit</button>
					</td>
				</tr>
			</table>
			</form>
			</md-content>
		</div>
	</div>
	</md-dialog-content>
</form>
</md-dialog>