<md-dialog aria-label="Create Random Interview" style="margin:0 0 0 0;padding:0 0 0 0;"
	ng-cloak> <!-- <pre>{{data | json}}</pre> -->
<form>
	<md-toolbar>
	<div class="md-toolbar-tools">
		<h2>Create Random Interview</h2>
		<span flex></span>
		<md-button class="md-icon-button" ng-click="cancel()"> <span
			class="glyphicon glyphicon-remove" aria-hidden="true"></span> </md-button>
	</div>
	</md-toolbar>
	<md-dialog-content style="width:510px;">
	<div class="md-dialog-content">
		<div layout="column" ng-cloak class="md-inline-form">
			<md-content>
			<div layout-gt-sm="row">
				<md-input-container class="md-block" flex-gt-sm>
				<label>Number of Interviews</label> <input required maxlength="20"
					name="randomIntCount" ng-model="randomIntCount" /> </md-input-container>
				<div flex="5" hide-xs hide-sm>
					<!-- Spacer //-->
				</div>
			</div>
			<div class="panel panel-default" ng-if="randomReport.length > 0">
				<!-- Default panel contents -->
				<div class="panel-heading">Interviews Created Report</div>
				<div class="panel-body">
					<div>
						<div class="row" ng-repeat="rep in randomReport">
							<div><strong>Interview Id :</strong> {{rep.interviewId}}</div>
							<div><strong>Reference Number :</strong> {{rep.referenceNumber}}</div>
							<div class="col-sm-12">
								<ul class="list-group">
									<li ng-repeat="q in rep.listQuestion" class="list-group-item">
										<span class="list-group-item-success">{{q.number}} - {{q.name}}</span>
										<span class="list-group-item-danger">{{q.answer.number}} - {{q.answer.name}}</span>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				</div>
				<md-dialog-actions layout="row"> <md-button
					ng-click="cancel()" class="md-raised">Cancel</md-button> <md-button
					ng-click="vm.createRandomInterviews()" class="md-raised">Generate</md-button>
				</md-dialog-actions>
			</md-content>
		</div>
	</div>
	</md-dialog-content>
</form>
</md-dialog>