<md-dialog aria-label="Import Library" style="margin:0 0 0 0;padding:0 0 0 0;"
	ng-cloak> 
<form>
	<md-toolbar>
	<div class="md-toolbar-tools">
		<h2>Import Library</h2>
		<span flex></span>
		<md-button class="md-icon-button" ng-click="cancel()"> <span
			class="glyphicon glyphicon-remove" aria-hidden="true"></span> </md-button>
	</div>
	</md-toolbar>
	<md-dialog-content style="width:510px;">
	<div class="md-dialog-content">
		<div layout="column" ng-cloak class="md-inline-form">
			<md-content>
				 <div layout-gt-sm="row">
					<md-input-container class="md-block" flex-gt-sm>
					<label>*Host</label> <input required 
						maxlength="1000" placeholder="jdbc:mysql://localhost:3306/occideas"
						ng-model="dbConnect.host" /> </md-input-container>
				</div>  	
				<div layout-gt-sm="row">
					<md-input-container class="md-block" flex-gt-sm>
					<label>*DBUsername</label> <input required 
						maxlength="50" value=""
						ng-model="dbConnect.username" /> </md-input-container>
					<div flex="5" hide-xs hide-sm>
						<!-- Spacer //-->
					</div>
					<md-input-container class="md-block" flex-gt-sm>
					<label>*DBPassword</label> 
					<input type="password"
						maxlength="50" value=""
						ng-model="dbConnect.password" />
					</md-input-container>
				</div>
				<md-dialog-actions layout="row">
					<md-button ng-click="cancel()" class="md-raised">Cancel</md-button>
					<md-button type="submit" ng-click="vm.importLibrary()" class="md-raised">Submit</md-button>
				</md-dialog-actions>
			</md-content>
		</div>
	</div>
	</md-dialog-content>
</form>
</md-dialog>