<div ng-if="!linkedModule.nodes || linkedModule.nodes.length == 0">
  No questions to be displayed
</div>
<div class="row " ng-if="linkedModule.nodes && linkedModule.nodes.length != 0" prog_tree>
  <div class="col-sm-12" id="tree-panel">
    <div class="panel panel-default">
      <div class="panel-body" id="tree-panel-body">
        <div id="tree-root" ui-tree="moduleTreeOptions">
          <div ng-class="{hidden: collapsed}" ng-model="linkedModule.nodes"
               ui-tree-nodes="">
            <div class="angular-ui-tree-node"
                 collapsed="false"
                 ng-include="'scripts/interviews/partials/nodes_renderer.html'"
                 ng-repeat="node in linkedModule.nodes | orderBy:'sequence'" ui-tree-node></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div style="height:400px;">
</div>
