<div ng-if="!linkedModule.nodes || linkedModule.nodes.length == 0">
No questions to be displayed
</div>
<div ng-if="linkedModule.nodes && linkedModule.nodes.length != 0" class="row " prog_tree>
	<div class="col-sm-12" id="tree-panel">
		<div class="panel panel-default">
			<div class="panel-body" id="tree-panel-body">
				<div ui-tree="moduleTreeOptions" id="tree-root">
					<div ui-tree-nodes="" ng-model="linkedModule.nodes"
						ng-class="{hidden: collapsed}">
						<div ng-repeat="node in linkedModule.nodes | orderBy:'sequence'"
							ui-tree-node
							ng-include="'scripts/interviews/partials/nodes_renderer.html'"
							class="angular-ui-tree-node" collapsed="false"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div style="height:400px;">
</div>
