<div class="row " prog_tree>
	<div class="col-sm-12">
		<div class="panel panel-default">
			<div class="panel-body">
				<div ui-tree="moduleTreeOptions" id="tree-root">
					<div ui-tree-nodes="" ng-model="linkedModule.nodes"
						ng-class="{hidden: collapsed}">
						<div ng-repeat="node in linkedModule.nodes | orderBy:'sequence'"
							ui-tree-node
							ng-include="'scripts/interviews/partials/nodes_renderer.html'"
							class="angular-ui-tree-node" collapsed="false"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>