<div class="row ">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div ui-tree="" id="tree-root-interviewing">
                    <ol ui-tree-nodes ng-model="data">
                        <li ng-repeat="node in data" ui-tree-node ng-include="'interview_nodes_renderer.html'"></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/ng-template" id="interview_nodes_renderer.html">
    <div id="interview-tree" class="angular-ui-tree">
        <div class="tree-node" data-nodrag  >
            <!-- start content -->
            <div class="tree-node-content {{node.nodeclass}}" id="interviewnode-{{node.idNode}}">             
                <span ng-if="node.type.indexOf('multi') > -1" class="badge-multi">Multi</span>
                <span>{{node.name}}</span>

                <div class="form-group pull-right" style="margin-top: 5px;">
                    
					<span class="badge">{{node.number}}</span>
                </div>
            </div>
            <!-- end content -->
        </div>
    </div>
    <ol ui-tree-nodes="" ng-model="node.nodes">
        <li ng-repeat="node in node.nodes" ui-tree-node ng-include="'interview_nodes_renderer.html'" class="angular-ui-tree-node" collapsed="false" ></li>
    </ol>
</script>