<script id="interview-template" type="text/x-custom-template">
<div class="int-note {{activeIntRuleDialog === $id?'activeRule':''}}" prevent-right-click ng-click="setActiveIntRule(model,this)">
	<button type="button" class="btn btn-primary btn-xs pull-right" ng-click="closeIntDialog(this,$event)" aria-label="Left Align">
		<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
	</button>
	<div class="title">{{model.referenceNumber}}:{{model.module.name}}{{model.fragment.name}}</div>
	<table class="table">
		<th>Agent</th>
		<th>Rule Id</th>
		<th>Level</th>
		<tr ng-repeat="rule in model.firedRules">
			<td>{{rule.agent.name}}</td>
			<td>{{rule.idRule}}</td>
			<td><div ng-class="rule.level"></div></td>
		</tr>
	</table>
</div>
</script>