<md-dialog aria-label="Validate Task Modules"
           ng-cloak style="margin:0 0 0 0;padding:0 0 0 0;"> <!-- <pre>{{data | json}}</pre> -->
  <form>
    <md-dialog-content>
      <div class="md-dialog-content">
        <div class="md-inline-form" layout="column" ng-cloak>
          <md-content>
            <div class="row" ng-if="loadingTree"
                 style="text-align: center;">
              <div>Loading questions ...</div>
              <md-progress-circular class="col-md-offset-5"
                                    md-mode="indeterminate"></md-progress-circular>
            </div>
          </md-content>
        </div>
      </div>
    </md-dialog-content>
  </form>
</md-dialog>