<div ng-if="loadingTree">
  Loading tree...
</div>
<div class="row " ng-if="linkedModule.nodes && linkedModule.nodes.length != 0" prog_tree>
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <div id="tree-root" ui-tree="moduleTreeOptions">
          <ol ng-model="linkedModule.nodes" ui-tree-nodes>
            <li collapsed="true" id="moduleTreeBody"
                ng-include="'scripts/assessments/partials/nodes_renderer.html'"
                ng-repeat="node in linkedModule.nodes" ui-tree-node></li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>