<md-dialog aria-label="Filter Module"
           ng-cloak style="margin:0 0 0 0;padding:0 0 0 0;width:500px;">
  <!-- <pre>{{data | json}}</pre> -->
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>List of Modules</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()"> <span
          aria-hidden="true" class="glyphicon glyphicon-remove"></span></md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <div class="md-inline-form" layout="column" ng-cloak>
          <md-content>
            <div class="panel panel-default">
              <!-- Default panel contents -->
              <div class="panel-heading">Modules</div>
              <div class="panel-body">
                <div>
                  <ul class="list-group">
                    <li class="list-group-item"
                        ng-if="vm.modulesInInterview.length < 1"
                    >
                      <div>
                        No modules found
                      </div>
                    </li>
                    <li class="list-group-item"
                        ng-if="vm.modulesInInterview.length > 0"
                        ng-repeat="mod in vm.modulesInInterview">
                      <div>
                        <span class="badge">Module - {{mod.idModule}}</span>
                        {{mod.interviewModuleName}}
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
          </md-content>
        </div>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row"><span flex></span>
      <md-button ng-click="cancel()" style="margin-right:20px;">
        Cancel
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>