<div class="angular-ui-tree" data-clone-enabled="{{isClonable}}"
     id="module-tree">
  <div class="tree-node" id="{{node.anchorId}}">

    <div class="pull-left tree-handle {{node.type}}" ng-if="node.type.indexOf('Q_linked') > -1">
      <span class="glyphicon glyphicon-list"></span>
    </div>

    <!-- start content -->
    <div
      class="tree-node-content {{node.nodeclass}} {{node.warning}} {{node.nodeclass === 'M'||node.nodeclass === 'F'?'nodeModHeight':'nodeHeight'}}"
      context-menu="showMenu(this)"
      id="node-{{node.idNode}}" scroll-body="'#moduleTreeBody'"
      scroll-stop='0' style="height: auto !important">

      <a class="btn btn-success btn-xs {{node.type}}"
         ng-click="toggleNode(node, this)" ng-if="node.nodes != null && node.nodes.length > 0 || node.link != 0">
				<span class="glyphicon glyphicon-chevron-right"
              ng-class="{
              'glyphicon-chevron-right': collapsed,
              'glyphicon-chevron-down': !collapsed
              }">
			</span>
      </a>
      <span class="badge-multi" ng-if="node.type.indexOf('multi') > -1">Multi</span>

      <span class="treeNodeText" event-focusq="click"
            event-focusq-id="editId_{{node.idNode}}" ng-if="!node.editEnabled">
				{{node.name}} </span>

      <div class="numberPosRight">
        <div style="position: relative;">
          <div class="agentheader expanded pull-right"
               context-menu="showRulesMenu(this,node)"
               ng-if="((node.nodeclass === 'M')||(node.nodeclass === 'F')) && (rulesObj.length > 0)">
            <div class="verticalagents">
              <div class="agentcontainer" ng-repeat="agent in rulesObj ">
                <span class="rotatedagenttext">{{agent.name}}</span>
              </div>
            </div>
          </div>
          <div class="pull-right"
               context-menu="showRulesMenu(this)"
               model="node" ng-if="((node.nodeclass === 'P')) && (rulesObj.length > 0)"
               ng-repeat="obj in rulesObj | orderBy:'':true"
               style="height: 40px; width: 27px; border-right: solid aliceblue 1px; position: relative;">
            <div class="verticalrules">
              <div class="rulescontainer">
                <div
                  class="agentACell {{activeRuleCell === node.idNode+obj.idAgent?'activeCell':''}}"
                  id="{{obj.idAgent}}" ng-click="addToActiveRule(node,this)">
									<span class="cell-lable" ng-repeat="mrule in node.moduleRule">
										<div class="{{mrule.rule.level}} {{mrule.rule.type}}"
                         ng-if="(mrule.idAgent == obj.idAgent)"></div>
									</span>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="form-group">
          <span class="badge">{{node.header}} {{node.number}}</span>
          <span class="glyphicon glyphicon-list-alt"
                ng-click="openAnswerSummary(node)" ng-if="node.nodeclass == 'P'"
                onmouseout="this.style.color='#7D89B7';"
                onmouseover="this.style.color='blue';"
                style="font-size: 20px;background: #E3F0F6; color: #7D89B7;position: relative;top: 6px;"></span>
        </div>
      </div>
    </div>
    <!-- end content -->
  </div>
</div>

<div ng-class="{hidden: collapsed}" ng-model="node.nodes"
     ui-tree-nodes="">
  <div class="angular-ui-tree-node" collapsed="true"
       ng-include="'scripts/assessments/partials/nodes_renderer.html'"
       ng-repeat="node in node.nodes | orderBy:'sequence'" ui-tree-node></div>
</div>