<div ng-cloak>
<div>
  
<md-input-container>
  				<label>AWES ID</label>
  				<input id="AWESID" md-maxlength="7" minlength="7" required 
  				ng-model="searchAWESID" 
  				placeholder="H______" type="text"
  				>
        		
			</md-input-container>
<!-- <pre>debug{{vm.tableParams.data| json}}</pre>   -->
<table ng-table="vm.tableParams" class="table table-bordered table-hover 
  table-condensed editable-table" show-filter="true">
  <tr class="ng-table-group">
      <td colspan="{{$columns.length}}">
           <div class="brn-group pull-right">
 				 <button class="btn btn-default" ng-click="vm.add()">
    					<span >Start</span>
 				 </button>
		 </div>
      </td>
    </tr>
    <tr ng-repeat="participant in $data">
        <td title="'Participant Id'">
			{{participant.idParticipant}}
		</td>
        <td title="'AWES ID'" filter="{ reference: 'text'}" sortable="'reference'">
            {{participant.reference}}</td>
        <td title="'Status'">
			{{participant.status}}
		</td>
		
		<td>
			<button class="btn btn-default btn-sm"
					ng-click="addParticipantTab(participant)" >
			<span class="glyphicon glyphicon-list-alt"></span>
			</button>
		</td>
    </tr>
</table>
</div>
</div>
