<div ng-cloak>
<div>
	<div style="width:500px;">
	<md-input-container>
		<label id="awesidlabel">AWES ID</label>
    	<input id="awesid" type="text" class="form-control" placeholder="H______" 
   		  required
   		  ng-model="vm.tableParams.filter().reference" 
   		  ng-keyup="filterAndValidate($event,this)"/>
   		<div id="awesidcounter" class="md-errors-spacer">
   			<div class="md-char-counter">{{awesIdSize}}/{{awesIdMaxSize}}</div> 			
   		</div>
   	</md-input-container>
   	<div class="brn-group pull-right">
 			<button class="btn btn-default" ng-click="vm.add()">
    			<span >Start</span>
 			</button>
		 </div>
	</div>
<!-- <pre>debug{{vm.tableParams.data| json}}</pre>   -->
<table ng-table="vm.tableParams" class="table table-bordered table-hover 
  table-condensed editable-table" show-filter="true">  
    <tr ng-repeat="participant in $data">
        <td title="'Participant Id'" sortable="'idParticipant'" filter="{ idParticipant: 'text'}">
			{{participant.idParticipant}}
		</td>
		<td title="'interviewId'">{{participant.interviews[0].interviewId}}</td>
        <td title="'AWES ID'" sortable="'reference'" filter="{ reference: 'text'}">
            {{participant.reference}}</td>
        <td title="'Status'" sortable="'statusDescription'" filter="{ statusDescription: 'text'}">
			{{participant.statusDescription}}
		</td><td title="'Notes'" style="max-width:200px;">		
			<div ng-repeat="note in participant.notes" ng-if="note.type!='System'">{{note.text}}</div>		
		</td>	
		<td>
			<button ng-if="participant.statusDescription=='Running'" class="btn btn-default btn-sm"
					ng-click="addInterviewTabInterviewersEdit(participant)" >
			<span class="glyphicon glyphicon-play"></span>
			</button>
			<button ng-if="participant.statusDescription=='Partial'" class="btn btn-default btn-sm"
					ng-click="addInterviewTabInterviewersEdit(participant)" >
			<span class="glyphicon glyphicon-pause"></span>
			</button>
			<button ng-if="participant.statusDescription=='Completed'" class="btn btn-default btn-sm"
					ng-click="addInterviewTabInterviewersEdit(participant)" >
			<span class="glyphicon glyphicon-stop"></span>
			</button>
			
			
		</td>
    </tr>
</table>
</div>
</div>
