<div ng-cloak>
	<div ng-if="$storage.langEnabled">
		<table ng-table="vm.languageSummaryTableParams" show-filter="false"
			class="table table-condensed table-bordered table-striped"
			disable-filter="true">
			<tbody>
			<tr>
				<td>Language</td>
				<td>Modules</td>
				<td>Module Nodes</td>
				<td>Fragments</td>
				<td>Fragment Nodes</td>
			</tr>
			<tr
				ng-repeat="nl in vm.languageSummaryTableParams.settings().dataset">
				<td><i class="glyphicon {{nl.flag}}" ng-click="test()"></i>
					{{nl.description}}</td>
				<td><a href="#" ng-click="openModuleBreakdown(nl.flag)">{{nl.translatedModuleCount}}/{{totalModuleCount}}</a></td>
				<td>{{nl.totalCurrent}}/{{grandTotal}}</td>
				<td><a href="#" ng-click="openFragmentBreakdown(nl.flag)">{{nl.translatedFragCount}}/{{totalFragCount}}</a></td>
				<td>{{nl.totalFragCurrent}}/{{grandFragTotal}}</td>
			</tr>
			</tbody>
		</table>
	</div>

	<div>
		<div ng-if="$storage.langEnabled">
			<table ng-table="vm.languageTableParams"
				ng-if="selectLanguage.selected"
				class="table table-condensed table-bordered table-striped">
				<tr>
					<td colspan="2">Total {{totalCurrent}} of {{grandTotal}}</td>
					<td>Modules without translation {{untranslatedModules}}</td>
				</tr>
				<tr>
					<td>Id Node</td>
					<td>Name</td>
					<td>Count</td>
				</tr>
				<tr ng-repeat="nl in vm.languageTableParams.settings().dataset">
					<td title="'Id Node'">{{nl.idNode}}</td>
					<td title="'Name'">{{nl.name}}</td>
					<td title="'Translated Nodes'">{{nl.current}} of {{nl.total}}</td>
				</tr>
			</table>
		</div>
	</div>
</div>