<div ng-cloak style="height:800px;">
	<div>
		<div ng-if="$storage.langEnabled">
			<label>Language</label>
			<!-- 	<select ng-change="vm.changeLanguage()" ng-model="selectLanguage" -->
			<!-- 		ng-options="option.language for option in languages track by option.id"> -->
			<!--    </select> -->
			<ui-select ng-model="selectLanguage.selected"
				ng-change="vm.changeLanguage(selectLanguage)" theme="select2"
				ng-disabled="disabled" style="min-width: 100px;"> <ui-select-match>
			<i class="glyphicon {{$select.selected.flag}}"></i>
			{{$select.selected.description}}</ui-select-match> <ui-select-choices
				repeat="lang in flags"> <!--       <img ng-src="{{ lang.url }}" /> -->
			<i class="glyphicon {{lang.flag}}"></i>
			<div ng-bind-html="lang.description | highlight: $select.search"
				style="display: inline"></div>
			</ui-select-choices> </ui-select>
			<table ng-table="vm.languageTableParams"
				ng-if="selectLanguage.selected"
				class="table table-condensed table-bordered table-striped">
				<tr>
					<td colspan="2">Total {{totalCurrent}} of {{grandTotal}}</td>
					<td>Modules without translation {{untranslatedModules}}</td>
				</tr>
				<tr>
					<td>Id Node</td>
					<td>Name</td>
					<td>Count</td>
				</tr>
				<tr ng-repeat="nl in vm.languageTableParams.settings().dataset">
					<td title="'Id Node'">{{nl.idNode}}</td>
					<td title="'Name'">{{nl.name}}</td>
					<td title="'Translated Nodes'">{{nl.current}} of {{nl.total}}</td>
				</tr>
			</table>
		</div>
	</div>
</div>