<div ng-cloak>
	<div role="group" aria-label="buttonGrp" style="padding:2px 2px 2px 2px;">
	<label>Language</label>
	<select ng-change="vm.changeLanguage()" ng-model="selectLanguage"
		ng-options="option.language for option in languages track by option.id">
   </select>
	<button type="button"
			class="btn btn-default" 
			ng-click="vm.showNewLanguageDialog()">Add Language 
			<span class="glyphicon glyphicon-plus">
			</span></button>
	</div>
	<div>
		<table ng-table="vm.tableParams" ng-cloak
		class="table table-bordered table-hover 
  			table-condensed editable-table"
			show-filter="true">     
        <tbody>
<!--         <tr> -->
<!--             <td colspan="3"> -->
<!--                 <div class="brn-group pull-right"> -->
<!--        				 <button class="btn btn-default" ng-click="vm.add(group.value)"> -->
<!--           					<span class="glyphicon glyphicon-plus"></span> -->
<!--        				 </button> -->
<!--        				 <button class="btn btn-default" ng-click="vm.toggleIsDeleting()"> -->
<!--           					<span class="glyphicon glyphicon-trash"></span> -->
<!--        				 </button> -->
<!--      			 </div> -->
<!--             </td> -->
<!--         </tr> -->
        <tr ng-repeat="data in $data">          
			<td filter="{key: 'text'}" title="'key'">{{data.key}}</td>
			<td filter="{value: 'text'}" title="'value'">{{data.value}}</td>
			<td>
				<button class="btn btn-primary btn-sm"
					ng-click="vm.save(row, rowForm)"
					ng-disabled="rowForm.$pristine || rowForm.$invalid">
					<span class="glyphicon glyphicon-ok"></span>
				</button>
				<button class="btn btn-default btn-sm"
					ng-click="vm.cancel(row, rowForm)" ng-if="row.isEditing">
					<span class="glyphicon glyphicon-remove"></span>
				</button>
				<button class="btn btn-danger btn-sm" ng-click="vm.del(row)"
					confirm="Delete module {{row.name}}?">
					<span class="glyphicon glyphicon-trash"></span>
				</button>
			</td>
        </tr>
    </tbody>
	</table>
</div>