<div ng-cloak>
	<div role="group" aria-label="buttonGrp" style="padding:2px 2px 2px 2px;">
	<label>Language</label>
<!-- 	<select ng-change="vm.changeLanguage()" ng-model="selectLanguage" -->
<!-- 		ng-options="option.language for option in languages track by option.id"> -->
<!--    </select> -->
  <ui-select ng-model="selectLanguage" ng-change="vm.changeNodeLanguage(selectLanguage)" theme="select2" ng-disabled="disabled" style="min-width: 300px;">
    <ui-select-match><i class="glyphicon {{$select.selected.flag}}"></i> {{$select.selected.description}}</ui-select-match>
    <ui-select-choices repeat="lang in languages | propsFilter: {language: $select.search}">
<!--       <img ng-src="{{ lang.url }}" /> -->
      <i class="glyphicon {{lang.flag}}"></i>
      <div ng-bind-html="lang.description | highlight: $select.search" style="display: inline"></div>
    </ui-select-choices>
  </ui-select>
    </ui-select>
<!-- 	<button type="button" -->
<!-- 			class="btn btn-default"  -->
<!-- 			ng-click="vm.showNewLanguageDialog()">Add Language  -->
<!-- 			<span class="glyphicon glyphicon-plus"> -->
<!-- 			</span></button> -->
	</div>
	<div>
		<table ng-table="vm.tableParams" ng-cloak
		class="table table-bordered table-hover 
  			table-condensed editable-table"
  			ng-form="tableForm"
			demo-tracked-table="vm.tableTracker"
			disable-filter="vm.isAdding">     
        <tbody>
        <tr>
            <td colspan="3">
                <div class="brn-group pull-right">
       				 <button class="btn btn-default" ng-click="vm.add()">
          					<span class="glyphicon glyphicon-plus"></span>
       				 </button>
       				 <button class="btn btn-default" ng-click="vm.toggleIsDeleting()">
          					<span class="glyphicon glyphicon-trash"></span>
       				 </button>
     			 </div>
            </td>
        </tr>
        <tr ng-repeat="row in $data" ng-form="rowForm" demo-tracked-table-row="row">  
			<td filter="{word: 'text'}"
				ng-switch="row.isEditing" ng-class="word.$dirty ? 'bg-warning' : ''"
				ng-form="word" demo-tracked-table-cell>
				<div ng-click="row.isEditing = true">
					<span ng-switch-default class="editable-text">
						{{row.word}}
					</span>
					<div class="controls"
						ng-class="word.$invalid && word.$dirty ? 'has-error' : ''"
						ng-switch-when="true">
						<input type="text" name="word" ng-model="row.word"
							class="editable-input form-control input-sm" required />
					</div>
				</div>		
			</td>
			<td filter="{translation: 'text'}"
				ng-switch="row.isEditing" ng-class="translation.$dirty ? 'bg-warning' : ''"
				ng-form="translation" demo-tracked-table-cell>
				<div ng-click="row.isEditing = true">
					<span ng-switch-default class="editable-text">
						{{row.translation}}
					</span>
					<div class="controls"
						ng-class="translation.$invalid && translation.$dirty ? 'has-error' : ''"
						ng-switch-when="true">
						<input type="text" name="translation" ng-model="row.translation"
							class="editable-input form-control input-sm" required />
					</div>
				</div>		
			</td>
			<td>
				<button class="btn btn-primary btn-sm"
					ng-click="vm.save(row, rowForm)"
					ng-disabled="rowForm.$pristine || rowForm.$invalid">
					<span class="glyphicon glyphicon-ok"></span>
				</button>
				<button class="btn btn-default btn-sm"
					ng-click="vm.cancel(row, rowForm)" ng-if="row.isEditing">
					<span class="glyphicon glyphicon-remove"></span>
				</button>
				<button class="btn btn-danger btn-sm" ng-click="vm.del(row)"
					confirm="Delete module {{row.name}}?">
					<span class="glyphicon glyphicon-trash"></span>
				</button>
			</td>
        </tr>
    </tbody>
	</table>
</div>