<div class="row " prog_tree>
	<div class="col-sm-12">
	<div class="panel panel-default">
 	 <div class="panel-body">
  	<div ui-tree="moduleTreeOptions" id="tree-root" >
		<ol ui-tree-nodes ng-model="data">
			<li ng-repeat="node in data" ui-tree-node
				ng-include="'nodes_renderer.html'" id="moduleTreeBody"></li>
		</ol>
	</div>
  </div>
</div>
	</div>
</div>
<script type="text/ng-template" id="nodes_renderer.html">
  <div id="module-tree" class="angular-ui-tree" data-clone-enabled="false" ng-attr-data-nodrag="{{isReadOnly}}">
     <div class="tree-node" id="{{node.anchorId}}">
        <div data-nodrag class="pull-left tree-handle angular-ui-tree-handle {{node.type}}" ui-tree-handle="">
          <span class="glyphicon glyphicon-list"></span>
        </div>
<!-- start content -->
        <div data-nodrag style="height:auto !important" class="tree-node-content {{node.nodeclass}} {{node.warning}} {{node.nodeclass === 'M'||node.nodeclass === 'F'?'nodeModHeight':'nodeHeight'}}" context-menu="showMenu(this)" ng-attr-fsm-sticky-header="{{node.nodeclass === 'M'||node.nodeclass === 'F'}}"  scroll-body="'#moduleTreeBody'" scroll-stop='0' id="node-{{node.idNode}}">
		 <a class="btn btn-success btn-xs {{node.type}}" data-nodrag="" ng-click="toggle()">
            <span ng-if="isCollapsableNode(node)" class="glyphicon glyphicon-chevron-down" ng-class="{
              'glyphicon-chevron-right': collapsed,
              'glyphicon-chevron-down': !collapsed
              }">
            </span>
          </a>
	      <span ng-if="node.deleted === 1" class="badge-deleted">deleted</span>
	      <span ng-if="node.type.indexOf('multi') > -1" class="badge-multi">Multi</span>
          <span ng-if="node.description.indexOf('display') > -1" class="badge-multi">Display</span>

          <span class="treeNodeText" ng-if="!node.editEnabled" ng-click="enable(node)" 
			event-focusq="click" event-focusq-id="editId_{{node.idNode}}" data-nodrag>
				{{node.name}} 
		  <i ng-if="node.nodeclass === 'M'||node.nodeclass === 'F' && vm.translateNode" class="glyphicon {{vm.lang.flag}}"></i>
   		<input type="button" class="btn btn-default btn-lg btn-save" value="Save" ng-if="node.nodeclass === 'M'|| node.nodeclass === 'F' && vm.translateNode" ng-click="saveAllLanguage()">	
		</div>
		  </span>
		   <div class="editBox">
		  <span class="treeNodeText" ng-if="vm.translateNode && !vm.editTranslateNode && 
				node.type != 'P_freetext' && !node.type.match('frequency')" 
				data-nodrag>
				<i>{{node.translated}}</i>
		  </span>
		  </div>
          <div ng-if="vm.translateNode && vm.editTranslateNode && node.type != 'P_freetext' && !node.type.match('frequency')" 
			  >
      		<input type="text"  value="{{node.translated}}" 
				class="form-control-edit form-control"
				 ng-model="node.translated"
             	data-nodrag	style="width:400px !important;"
				>
     	  </div>	
			<div class="numberPosRight">
			<div style="position:relative;">
			<div class="agentheader expanded pull-right"
			ng-if="((node.nodeclass === 'M')||(node.nodeclass === 'F')) && (rulesObj.length > 0)" context-menu="showRulesMenu(this,node)">
				<div class="verticalagents">
						<div class="agentcontainer" ng-repeat="agent in rulesObj ">
								<span class="rotatedagenttext">{{agent.name}}</span>
						</div>
				</div>
			</div>
			<div class="pull-right" ng-if="((node.nodeclass === 'P')) && (rulesObj.length > 0)" context-menu="showRulesMenu(this)" model="node"
						style="height:40px;width: 27px;border-right: solid aliceblue 1px;position:relative;" ng-repeat="obj in rulesObj | orderBy:'':true">
						<div class="verticalrules">
							<div class="rulescontainer">
								<div class="agentACell {{activeRuleCell === node.idNode+obj.idAgent?'activeCell':''}}" ng-click="addToActiveRule(node,this)" id="{{obj.idAgent}}">
									<span class="cell-lable" ng-repeat="mrule in node.moduleRule" >
										<div ng-class="mrule.rule.level" ng-if="(mrule.idAgent == obj.idAgent)"></div>
									</span>
								</div>
							</div>
						</div>
			</div>
			</div>
				

		  <div class="form-group" ng-if="rulesObj.length < 1">
    		<span class="badge">{{node.number}}</span>
		  </div>
		  </div>
       </div> 
<!-- end content -->
     </div>
  </div>
  <div ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: collapsed}">
    <div ng-repeat="node in node.nodes | orderBy:'sequence' " ui-tree-node ng-include="'nodes_renderer.html'" class="angular-ui-tree-node" collapsed="false"></div>
  </div>
</script>