<div ng-cloak>
  <div class="panel panel-default">
<!--     <button class="btn btn-default" -->
<!--             ng-click="vm.listTranslations()" -->
<!--             type="button">List Languages -->
<!--     </button> -->
    <button class="btn btn-default" ng-click="vm.showRandomInterviews()"
            style="margin-left:3px;"
            type="button">Create Random Interviews
    </button>
    <button class="btn btn-default" ng-click="vm.preloadActiveIntro()"
            style="margin-left:3px;"
            data-toggle="tooltip"
            confirm="Are you sure to preload study agents? this will also purge the existing modules"
            title="Filter modules by agents to create study specific modules"
            type="button">Create Study Specific Modules
    </button>
    <button class="btn btn-default" ng-click="vm.purgeModule()" data-toggle="tooltip"
            style="margin-left:3px;" title="Removes study specific modules."
            type="button">Clean up Study Specific Modules
    </button>
    <button class="btn btn-default" ng-click="vm.purgeParticipantsBtn()"
            style="margin-left:3px;" data-toggle="tooltip"
            title="This will permanently delete all participants and assessments"
            type="button">Purge Participants
    </button>
    
    <button class="btn btn-default" ng-click="vm.importLibraryDialog()"
            style="margin-left:3px;" data-toggle="tooltip" title="Import library from another database."
            type="button">Import Library Modules
    </button>
    <button class="btn btn-default" ng-click="vm.cleanOrphans()"
            style="margin-left:3px;"
            type="button" data-toggle="tooltip" title="Used to delete questions/answers without parent module/question.">
            Clean Orphans Nodes
    </button>
   <!--   <button class="btn btn-default" ng-click="vm.deleteQSFSurveys()" data-toggle="tooltip"
            style="margin-left:3px;" title="Warning! Deletes All QSF Surveys"
            type="button">Delete All QSF Surveys
    </button> -->
    <button class="btn btn-default" ng-click="vm.importQSFResponses()" data-toggle="tooltip"
            style="margin-left:3px;" title="Downloads and imports qualtrics survey responses from previously imported surveys"
            type="button">Import Qualtrics Responses
    </button>
    <button class="btn btn-default" ng-click="vm.openCopySurveys()" data-toggle="tooltip"
            style="margin-left:3px;" title="Copy Qualtrics Surveys"
            type="button">Copy Qualtrics Surveys
    </button>
    <button class="btn btn-default" ng-click="vm.createQSFTranslationModule()" data-toggle="tooltip"
            style="margin-left:3px;" title="Create Qualtrics Translation Module"
            type="button">Create Qualtrics Translation Module
    </button>
    <button class="btn btn-default" ng-click="vm.exportAllToVoxco()" data-toggle="tooltip"
            style="margin-left:3px;" title="Exports all surveys to Voxco"
            type="button">Export All Surveys to Voxco
    </button>
    <button class="btn btn-default" ng-click="vm.importVoxcoResponse()" data-toggle="tooltip"
            style="margin-left:3px;" title="Downloads and imports voxco survey responses from previously imported surveys"
            type="button">Import Voxco Responses
    </button>
      <button class="btn btn-default" ng-click="vm.validateVoxcoQuestions()" data-toggle="tooltip"
              style="margin-left:3px;" title="Validates Voxco Questions Count"
              type="button">Validate Voxco Questions
      </button>
      <button class="btn btn-default" ng-click="vm.importIPSOSResponse()" data-toggle="tooltip"
              style="margin-left:3px;" title="Imports IPSOS survey responses from CSV files"
              type="button">Import IPSOS Responses
      </button>
    <button class="btn btn-default" ng-click="vm.generateIPSOSJobModuleDataFile()" data-toggle="tooltip"
            style="margin-left:3px;" title="Generates IPSOS Job Module Data File from QSF Files"
            type="button">Generate IPSOS Job Module Data File
    </button>
      <button class="btn btn-default" ng-click="vm.importSurveyResponsesDialog()" data-toggle="tooltip"
              style="margin-left:3px;" title="Imports survey responses"
              type="button">Import Survey Response
      </button>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">Configuration</div>
    <div class="panel-body">
      <button class="btn btn-default"
              ng-click="vm.addNewConfigBtn()" ng-if="vm.originalData.length == 0"
              type="button">Add Config <span class="glyphicon glyphicon-plus">
			</span></button>
      <table class="table table-bordered table-hover
  					   table-condensed editable-table" demo-tracked-table="vm.tableTracker"
             disable-filter="vm.isAdding"
             ng-cloak ng-form="tableForm"
             ng-table="vm.tableConfig">
        <tbody ng-repeat="group in $groups">
          <tr class="ng-table-group">
            <td colspan="{{$columns.length}}">
              <a href="" ng-click="group.$hideRows = !group.$hideRows"> <span
                class="glyphicon"
                ng-class="{ 'glyphicon-chevron-right': group.$hideRows, 'glyphicon-chevron-down': !group.$hideRows }"></span>
                <strong>{{group.value}}</strong>
              </a>
              <div class="brn-group pull-right">
                <button class="btn btn-default" ng-click="vm.add(group.value)">
                  <span class="glyphicon glyphicon-plus"></span>
                </button>
                <button class="btn btn-default" ng-click="vm.toggleIsDeleting()">
                  <span class="glyphicon glyphicon-trash"></span>
                </button>
              </div>
            </td>
          </tr>
          <tr demo-tracked-table-row="row" ng-form="rowForm"
              ng-hide="group.$hideRows" ng-repeat="row in group.data">
            <td data-title="'Type'" groupable="'type'" ng-if="false"
                sortable="type">{{row.type}}
            </td>
            <td demo-tracked-table-cell
                ng-class="type.$dirty ? 'bg-warning' : ''"
                ng-form="type" ng-switch="row.isEditing"
                title="'Type'">
              <div ng-click="row.isEditing = true">
                <span class="editable-text" ng-switch-default>{{row.type}}</span>
                <div class="controls"
                     ng-class="type.$invalid && type.$dirty ? 'has-error' : ''"
                     ng-switch-when="true">
                  <input class="editable-input form-control input-sm" name="type" ng-model="row.type"
                         required type="text"/>
                </div>
              </div>
            </td>
            <td demo-tracked-table-cell filter="{name: 'text'}"
                ng-class="name.$dirty ? 'bg-warning' : ''"
                ng-form="name" ng-switch="row.isEditing"
                title="'Name'">
              <div ng-click="row.isEditing = true">
                <span class="editable-text" ng-switch-default>{{row.name}}</span>
                <div class="controls"
                     ng-class="name.$invalid && name.$dirty ? 'has-error' : ''"
                     ng-switch-when="true">
                  <input class="editable-input form-control input-sm" name="name" ng-model="row.name"
                         required type="text"/>
                </div>
              </div>
            </td>
            <td demo-tracked-table-cell filter="{value: 'text'}"
                ng-class="value.$dirty ? 'bg-warning' : ''"
                ng-form="value" ng-switch="row.isEditing"
                title="'Value'">
              <div ng-click="row.isEditing = true">
                <span class="editable-text" ng-switch-default>{{row.value}}</span>
                <div class="controls"
                     ng-class="value.$invalid && value.$dirty ? 'has-error' : ''"
                     ng-switch-when="true">
                  <input class="editable-input form-control input-sm" name="value" ng-model="row.value"
                         required type="text"/>
                </div>
              </div>
            </td>
            <td filter="{updatedBy: 'text'}" title="'Updated By'">
              {{row.updatedBy}}
            </td>
            <td filter="{updatedDt: 'text'}" title="'Updated Dt'">
              {{row.updatedDt | date}}
            </td>
            <td>
              <button class="btn btn-primary btn-sm"
                      ng-click="vm.save(row, rowForm)" ng-disabled="rowForm.$pristine || rowForm.$invalid"
                      ng-if="row.isEditing">
                <span class="glyphicon glyphicon-ok"></span>
              </button>
              <button class="btn btn-default btn-sm"
                      ng-click="vm.cancel(row, rowForm)" ng-if="row.isEditing">
                <span class="glyphicon glyphicon-remove"></span>
              </button>
              <button class="btn btn-danger btn-sm" confirm="Delete config for {{row.name}}?"
                      ng-click="vm.del(row)" ng-if="vm.isDeleting">
                <span class="glyphicon glyphicon-trash"></span>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div style="margin-top: 2px; margin-bottom: 2px;">
    <button aria-label="Left Align" class="btn btn-default"
            ng-click="vm.showAddUserDialog()">
      <span aria-hidden="true" class="glyphicon glyphicon-user"></span> Add
      User
    </button>
  </div>
  <div>
    <table class="table table-bordered table-hover
  table-condensed editable-table" ng-cloak
           ng-table="vm.tableParams"
           show-filter="true">
      <tr ng-repeat="user in $data">
        <td filter="{ ssoId: 'text'}" sortable="'ssoId'" title="'Username'"
            width="15%">{{user.ssoId}}
        </td>
        <td filter="{ firstName:'text'}" sortable="'firstName'" title="'Firstname'"
            width="15%">{{user.firstName}}
        </td>
        <td filter="{ lastName:'text'}" sortable="'lastName'" title="'Lastname'"
            width="15%">{{user.lastName}}
        </td>
        <td filter="{ email:'text'}" sortable="'email'" title="'Email'"
            width="10%">{{user.email}}
        </td>
        <td filter="{ state:'text'}" sortable="'state'" title="'State'"
            width="10%">{{user.state}}
        </td>
        <td filter="{ rolesStr:'text'}" sortable="'rolesStr'" title="'Role'"
            width="25%">{{user.rolesStr}}
        </td>
        <td width="20%">
          <button aria-label="Edit" class="btn btn-default" ng-click="vm.showEditUserDialog(user)"
                  type="button">
            <span aria-hidden="true" class="glyphicon glyphicon-edit"></span>
          </button>
          <button aria-label="Change Password" class="btn btn-default"
                  ng-click="vm.showChangePasswordDialog(user)"
                  type="button">
            <span aria-hidden="true" class="glyphicon glyphicon-lock"></span>
          </button>
        </td>
      </tr>
    </table>
  </div>

</div>
