<div ng-if="data[0].type == 'M_IntroModule'" id="fragdropcontainer" ng-class="rightNav" class="ui-widget">
		<div class="frag-contain">
		<div class="fragmentSticker" ng-click="toggleRight()">Modules</div> 
<label for="fragmentsdragdrop" class="fraglabel">Drag Drop Modules: </label>
<div id="fragmentsdragdrop"><ul></ul>
<div>
    <h5>Production Module List</h5>
    <uib-accordion close-others="oneAtATime">
         <uib-accordion-group heading="Module" is-open="true">
			<div ui-tree="aJsmTreeOptions" id="templateTree-root" data-clone-enabled="true">
			<ol ui-tree-nodes ng-model="moduleSlider">
				<li ng-repeat="node in moduleSlider" ui-tree-node 
				ng-include="'nodes_renderer3.html'"></li>
			</ol>
		</div>
    	</uib-accordion-group>
     	 
     </uib-accordion>
     
  </div>
</div>
</div>
<script type="text/ng-template" id="nodes_renderer3.html">
<div id="tree2-root" class="angular-ui-tree">
     <div class="tree-node">
        <div class="pull-left tree-handle angular-ui-tree-handle " ui-tree-handle=""  >
          <span class="glyphicon glyphicon-list"></span>
        </div>
<!-- start content -->
        <div class="tree-node-content Q {{node.warning}}">        
          <span ng-if="isDragging" class="badge">{{node.type}}:{{node.idNode}}:{{node.parentId}}:{{node.sequence}}</span>
          <span data-nodrag>{{node.name}}</span>
       </div> 
<!-- end content -->
     </div>
  </div>
</script>
</div>