<div class="ui-widget" id="fragdropcontainer" ng-class="rightNav" ng-if="data[0].type == 'M_IntroModule'">
  <div class="frag-contain">
    <div class="fragmentSticker" ng-click="toggleRight()">Modules</div>
    <label class="fraglabel" for="fragmentsdragdrop">Drag Drop Modules: </label>
    <div id="fragmentsdragdrop">
      <ul></ul>
      <div>
        <h5>Production Module List</h5>
        <uib-accordion close-others="oneAtATime">
          <uib-accordion-group heading="Module" is-open="true">
            <div data-clone-enabled="true" id="templateTree-root" ui-tree="aJsmTreeOptions">
              <ol ng-model="moduleSlider" ui-tree-nodes>
                <li ng-include="'nodes_renderer3.html'" ng-repeat="node in moduleSlider"
                    ui-tree-node></li>
              </ol>
            </div>
          </uib-accordion-group>

        </uib-accordion>

      </div>
    </div>
  </div>
  <script id="nodes_renderer3.html" type="text/ng-template">
    <div id="tree2-root" class="angular-ui-tree">
      <div class="tree-node">
        <div class="pull-left tree-handle angular-ui-tree-handle " ui-tree-handle="">
          <span class="glyphicon glyphicon-list"></span>
        </div>
        <!-- start content -->
        <div class="tree-node-content Q {{node.warning}}">
          <span ng-if="isDragging"
                class="badge">{{node.type}}:{{node.idNode}}:{{node.parentId}}:{{node.sequence}}</span>
          <span data-nodrag>{{node.name}}</span>
        </div>
        <!-- end content -->
      </div>
    </div>
  </script>
</div>