<md-dialog aria-label="View QSF">
<form ng-cloak>
	<md-toolbar>
	<div class="md-toolbar-tools">
		<h2>QSF Format</h2>
		<span flex></span>
		<md-button class="md-icon-button" ng-click="cancel()"> <span
			aria-hidden="true" class="glyphicon glyphicon-remove"></span> </md-button>
	</div>
	</md-toolbar>

	<md-dialog-content>
	<div class="md-dialog-content">
		<a href="" class="btn btn-primary btn-lg" role="button" copy-to-clipboard="{{json}}">Copy to Clipboard</a>
		<div class="row" ng-if="json">
			<pre>
			<code>
			{{json}}
			</code>
			</pre>
		</div>
	</div>
	</md-dialog-content>

	<md-dialog-actions layout="row"> <span flex></span>
	<md-button ng-click="cancel()"> Cancel </md-button> </md-dialog-actions>
</form>
</md-dialog>

