<md-dialog aria-label="Save To Book">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Select Book</h2>
                <span flex></span>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <div class="row" ng-show="loading" style="text-align:center;">
                    <md-progress-circular class="col-md-offset-5" md-mode="indeterminate">
                    </md-progress-circular>
                </div>
                <div class="row" ng-show="!loading">
                    <md-input-container class="md-block" flex-gt-sm>
                        <md-select required ng-model="selectedBook" placeholder="Select Book"
                                   ng-model-options="{trackBy: '$value.id'}">
                            <md-option ng-repeat="book in books"
                                       ng-value="book">
                                {{book.name}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <div ng-if="inProgress" style="text-align:center;">
                <md-progress-circular class="col-md-offset-5" md-mode="indeterminate">
                </md-progress-circular>
            </div>
            <div ng-if="!inProgress">
                <md-button ng-click="saveToBook(selectedBook)">
                    Add
                </md-button>
                <md-button ng-click="cancel()">
                    Cancel
                </md-button>
            </div>
        </md-dialog-actions>
    </form>
</md-dialog>

