.M_Module{
	display: none !important;
}
.M_Module_{
	display: none !important;
}
.M_Module__{
	display: none !important;
}
.M_IntroModule{
	display: none !important;
}
.F_ajsm{
	display: none !important;
}
.Q_linkedajsm{
	border: 2px solid #80ADDA !important;
	background: #92DAEA !important;
	border-radius: 30px;
}
.Q_linkedmodule{
	border: 2px solid #80ADDA !important;
	background: #92DAEA !important;
	border-radius: 30px;
}
.editBox input{
	margin-left: 20px;
    margin-top: -18px;
}
.welcome{
	height: 190px;
    font-size: 22px;
    color: #2e3436;
}
.footer{
    font-size: 12px;
    color: #2e3436;
    
}
.typesetting{
	padding-left: 30px;
	background-color: #676262;
	float:right;
}
.normalcursor {
    cursor: auto !important;
}
.badge-multi {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #A7B3E2;
    border-radius: 10px;
}
.badge-deleted {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #A54949;
    border-radius: 10px;
}
.btn-save {
	padding: 4px 4px !important;
    font-size: 14px !important; 
    color: #fff !important;
    background-color: #7D89B7 !important;
    border-color: #7D89B7 !important;
}
.btn-success {
    color: #fff;
    background-color: #7D89B7 !important;
    border-color: #7D89B7 !important; 
}
.btn-success:hover {
    color: #fff;
    background-color: #505875 !important;
    border-color: #2F3446 !important;
}

.angular-ui-tree-placeholder-warning {
    background: #FFF0F0 !important;
    border: 2px dashed #A02713 !important;
}

/**Module table*/
.moduleTable td:last-child {
  min-width: 90px;
}
/**Node Types*/
.M{
	height: 90px;
    font-size: 22px;
    background: #676262  !important;
    color: #D7DFE4 !important;
    width:100%
}
.F{
	height: 90px;
    font-size: 22px;
    background: #676262  !important;
    color: #D7DFE4 !important;
    width:100%
}
.Q{
	height: 40px;
    padding-left: 20px;
    
    border-bottom: 2px solid;
    border-bottom-color: #4657B7;
}
.P{
	height: 40px;
    padding-left: 20px;
    background: #FDFBF5 !important;
    border-bottom: 1px solid;
    border-bottom-color: #C79B1C; !important;
}

/** Editable table
------------------------- */

.editable-table > tbody > tr > td {
  padding: 4px
}
.editable-text {
  padding-left: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
  display: inline-block;
}
.editable-table tbody > tr > td > .controls {
  //width: 100%
}
.editable-input {
  padding-left: 3px;
}
.editable-input.input-sm {
  height: 30px;
  font-size: 14px;
  padding-top: 4px;
  padding-bottom: 4px;
}

/** Tabs*/
md-tab-content {
  overflow: auto;
}

md-tabs:not(.md-no-tab-content):not(.md-dynamic-height) {
  min-height: !important 500px;
}

.tabsdemoDynamicTabs md-content {
  background-color: transparent !important; }
  .tabsdemoDynamicTabs md-content md-tabs {
    border: 1px solid #e1e1e1; }
    .tabsdemoDynamicTabs md-content md-tabs md-tab-content {
      background: #f6f6f6; }
    .tabsdemoDynamicTabs md-content md-tabs md-tabs-wrapper {
      background: white; }
  .tabsdemoDynamicTabs md-content h1:first-child {
    margin-top: 0; }
.tabsdemoDynamicTabs md-input-container {
  padding-bottom: 0; }
.tabsdemoDynamicTabs .remove-tab {
  margin-bottom: 40px; }
.tabsdemoDynamicTabs .demo-tab > div > div {
  padding: 25px;
  box-sizing: border-box; }
.tabsdemoDynamicTabs .edit-form input {
  width: 100%; }
.tabsdemoDynamicTabs md-tabs {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12); }
.tabsdemoDynamicTabs md-tab[disabled] {
  opacity: 0.5; }
.tabsdemoDynamicTabs label {
  text-align: left; }
.tabsdemoDynamicTabs .long > input {
  width: 264px; }
.tabsdemoDynamicTabs .md-button.add-tab {
  transform: translateY(5px); }
  
  /** Slider */
#fragdropcontainer {
    position: fixed;
    z-index: 100000;
    height: 80%;
    right: 0px;
    bottom: 5%;
    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.frag-contain {
    position: relative;
    height: 100%;
    width: 310px;
}

#fragdropcontainer .fragmentSticker {
    cursor: pointer;
    float: left;
    width: 88px;
    height: 30px;
    left: 2px;
    top: 63px;
    position: absolute;
    transform: rotate(-90deg);
    transform-origin: left bottom;
    white-space: nowrap;
    color: #fff;
    padding: 5px 0px 0px 10px;
}
    
#fragdropcontainer .fragmentSticker {
    background: #797979;
    border-radius: 5px 5px 0px 0px;
}

.slideFrag {
    right: -310px!important;
}  

#agentDropContainer{
	position: fixed;
    z-index: 100000;
    height: 80%;
    left: 0px;
    bottom: 5%;
    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.agent-contain {
    position: relative;
    height: 100%;
    width: 310px;
}

#agentDropContainer .agentSticker {
   cursor: pointer;
    float: left;
    width: 120px;
    height: 30px;
    left: 340px;
    top: 95px;
    position: absolute;
    transform: rotate(-90deg);
    transform-origin: left bottom;
    white-space: nowrap;
    color: #fff;
    padding: 5px 0px 0px 10px;
    text-align: center;
}
    
#agentDropContainer .agentSticker {
    background: #797979;
    border-radius: 5px 5px 0px 0px;
}

.agent-contain .panel-title{
    font-size: .8em;
}  

.agent-contain .panel-body li{
    font-size: .7em;
}  


.slideFragLeft {
    left: -310px!important;
}

label, input, button, select, textarea {
    font-size: 13px;
    font-weight: normal;
    line-height: 18px;
}

label.fraglabel {
	display: block;
    border: solid 1px #797979;
    margin-bottom: 0px;
    text-align: left;
    color: #FFF;
    background-color: #797979;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
    padding: 5px 5px 5px 10px;
}  

#agentDragDrop{
	border: solid 2px #686868;
    background-color: #E9E9E9;
    overflow: auto;
    height: 100%;
}

#fragmentsdragdrop {
    border: solid 2px #686868;
    background-color: #E9E9E9;
    overflow: auto;
    height: 100%;
}
  
  .border-box {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

#fragmentsdragdrop .panel-title{
    font-size: .8em;
}  

.dialogdemoBasicUsage #popupContainer {
  position: relative;
}
.dialogdemoBasicUsage .footer {
  width: 100%;
  text-align: center;
  margin-left: 20px;
}
.dialogdemoBasicUsage .footer, .dialogdemoBasicUsage .footer > code {
  font-size: 0.8em;
  margin-top: 50px;
}
.fixedHeader{
	z-index: 9999;
    position: fixed;
    top: 100px;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    padding-right: 15px;
    padding-left: 15px;
}

.selected{
    border: 1px solid #7c9eb2;
    background: #7c9eb2;
}
