<div ng-cloak>
    <div>
        <div style="padding: 5px;">
            <span><strong>Note:</strong></span><br/>
            <em style="font-size: 12px;">(if you recently added to a book, please check that the last updated date is
                already the latest)</em>
            <br/><em style="font-size: 12px;">(if it is not the latest, please refresh the page. It takes time to
            reflect the changes ,and it depends on the size of the module)</em>
        </div>
        <div style="padding: 5px;">
            <button id="addBook" class="btn btn-default"
                    ng-click="vm.add()"
                    type="button">Add Book <span class="glyphicon glyphicon-plus">
      </span></button>
        </div>
        <table class="table table-bordered table-hover table-condensed editable-table"
               ng-table="vm.tableParams"
               demo-tracked-table="vm.tableTracker"
               ng-form="tableForm"
               show-filter="true">


            <tbody ng-repeat="group in $groups">
            <tr class="ng-table-group">
                <td colspan="{{$columns.length}}">
                    <div style="display: flex; flex-direction: row; justify-content: space-between;">
                        <div>
                            <a href="" ng-click="group.$hideRows = !group.$hideRows">
          	<span
                    class="glyphicon"
                    ng-class="{ 'glyphicon-chevron-right': group.$hideRows,
            'glyphicon-chevron-down': !group.$hideRows }"></span>
                                <strong> {{ group.value }}</strong>
                                <strong> - last updated date
                                    {{ group.data[0].lastUpdated | date: 'dd/MM/yyyy HH:mm:ss' }}</strong>
                            </a>
                        </div>
                        <div>
                            <button class="btn btn-primary btn-sm"
                                    ng-click="vm.downloadJson(group.value,group.data)"
                                    title="Download as JSON">
                                <span class="glyphicon glyphicon-download"></span>
                            </button>
                            <button class="btn btn-primary btn-sm"
                                    ng-click="vm.compareBooks(group)"
                                    title="Compare Books">
                                <span class="glyphicon glyphicon-book"></span>
                            </button>
                            <button class="btn btn-sm"
                                    style="background-color: red"
                                    ng-click="vm.deleteBook(group)"
                                    title="Delete Book {{group.value}}">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </div>
                    </div>
                </td>
            </tr>

            <tr demo-tracked-table-row="row" ng-form="rowForm"
                ng-hide="group.$hideRows" ng-repeat="data in group.data">
                <td colspan="{{$columns.length}}" style="padding: 2px">
                    <div ng-repeat="module in data.modules" style="padding: 2px; width: 50%; border: 1px solid #2e6da4">
                        <div style="padding: 2px; width: 100%; display: flex; flex-direction: row; justify-content: space-between;">
                            <div>{{module.name}}
                                <div>last updated {{module.lastUpdatedDate | date: 'dd/MM/yyyy HH:mm:ss' }}</div>
                            </div>
                            <div>
                                <button class="btn btn-primary btn-sm"
                                        ng-click="vm.downloadJson(data.name,module.json,module.name)"
                                        title="Download as JSON">
                                    <span class="glyphicon glyphicon-download"></span>
                                </button>
                                <button class="btn btn-default"
                                        title="Delete Module {{module.name}}"
                                        style="background-color: red"
                                        ng-click="vm.deleteModuleInBook(data.id, data.name, module.name)">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
