<h1>Modules</h1>
 <ul>
  <li  ng-repeat="module in items">
    <input type="text" ng-model="module.name">
    <input type="text" ng-model="module.description">
    <button ng-click="deleteModule($index)">-</button>
  </li>
<!-- 	<div ui-tree> -->
<!--   <ol ui-tree-nodes="" ng-model="module"> -->
<!--     <li ng-repeat="item in list" ui-tree-node> -->
<!--       <div ui-tree-handle> -->
<!--         {{item.title}} -->
<!--       </div> -->
<!--       <ol ui-tree-nodes="" ng-model="item.items"> -->
<!--         <li ng-repeat="subItem in item.items" ui-tree-node> -->
<!--           <div ui-tree-handle> -->
<!--             {{subItem.title}} -->
<!--           </div> -->
<!--         </li> -->
<!--       </ol> -->
<!--     </li> -->
<!--   </ol> -->
<!-- </div> -->
</ul>

</br>


<!-- ng-class="{'deleted': module.isDeleted}" -->