<md-dialog aria-label="Task Module" ng-cloak style="margin:0 0 0 0;padding:0 0 0 0;">
  <!-- <pre>{{data | json}}</pre> -->
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Task Module Information</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <span aria-hidden="true" class="glyphicon glyphicon-remove"></span>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <div class="md-inline-form" layout="column" ng-cloak>
          <md-content layout-gt-sm="row" layout-padding md-theme="docs-dark">
            <div>
              <md-input-container>
                <label>Task Module Name</label>
                <input id="inputTaskModuleId" data-ng-model="mydata.name" type="text"/>
                <md-radio-group ng-model="mydata.group">
                  <md-radio-button id="radioTaskModuleId" class="md-primary" value="F_ajsm">Task Module</md-radio-button>
                  <md-radio-button id="radioTemplateId" value="F_template">Template</md-radio-button>
                  <md-radio-button id="radioFrequencyId" value="F_frequency">Frequency</md-radio-button>
                </md-radio-group>
              </md-input-container>
            </div>
          </md-content>
        </div>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button id="saveAsFragmentId" ng-click="saveAsFragment(selectedNode,mydata)">
        Save
      </md-button>
      <md-button ng-click="cancel()" style="margin-right:20px;">
        Cancel
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>