<md-dialog aria-label="" ng-cloak>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Job Module Information</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <span aria-hidden="true" class="glyphicon glyphicon-remove"></span>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <p>
          <label>Name:</label>
          <input ng-model="name" type="text" id="saveAsModuleName"/>
        </p>
        <p>
          <md-checkbox aria-label="Include Rules" ng-model="includeRules">
            Include Rules
          </md-checkbox>
        </p>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="saveAsModule(vo,name,includeRules)" id="saveBtn">
        Save
      </md-button>
      <md-button ng-click="cancel()" style="margin-right:20px;">
        Cancel
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>