<div class="angular-ui-tree" data-clone-enabled="{{isClonable}}" id="module-tree">
  <div class="tree-node" id="{{node.anchorId}}">
    <div class="pull-left tree-handle angular-ui-tree-handle {{node.type}}" ng-mousedown="copy($event,$treeScope)"
         ui-tree-handle="">
      <span class="glyphicon glyphicon-list"></span>
    </div>
    <!-- start content -->
    <div class="tree-node-content {{node.nodeclass}} {{node.warning}}" context-menu="showMenu(this)" fsm-sticky-header
         id="node-{{node.idNode}}"
         ng-if="node.nodeclass === 'M'" scroll-body="'#moduleTreeBody'" scroll-stop='0'>
      <a class="btn btn-success btn-xs {{node.type}}" data-nodrag="" ng-click="toggle()">
            <span class="glyphicon glyphicon-chevron-down" ng-class="{
              'glyphicon-chevron-right': collapsed,
              'glyphicon-chevron-down': !collapsed
              }" ng-if="isCollapsableNode(node)">
            </span>
      </a>
      <span class="badge" ng-if="isDragging">{{node.type}}:{{node.idNode}}:{{node.parentId}}:{{node.sequence}}</span>
      <span class="badge-deleted" ng-if="node.deleted === 1">deleted</span>
      <span class="badge-multi" ng-if="!node.idNode || node.idNode===0">Unsaved</span>
      <span class="badge-multi" ng-if="node.type.indexOf('multi') > -1">Multi</span>

      <span class="treeNodeText" data-nodrag ng-click="enable(this)" ng-if="!node.editEnabled">{{node.name}}</span>
      <div class="editBox" ng-if="node.editEnabled">
        <input class="form-control"
               data-nodrag
               ng-blur="saveEdit(this)"
               ng-focus="focus=true;blur=false;"
               ng-keypress="(($event.which === 13))?saveEdit(this):0"
               ng-model="node.name"
               placeholder="{{node.placeholder}}" type="text">
      </div>
      <button class="btn btn-default btn-lg btn-save"
              ng-click="undo()"
              ng-if="((node.nodeclass === 'M')||(node.nodeclass === 'F')) && undoEnable"
              type="button">
        Undo
      </button>
      <div class="agentheader expanded pull-right"
           context-menu="showRulesMenu(this,node)"
           ng-if="((node.nodeclass === 'M')||(node.nodeclass === 'F')) && (rulesObj.length > 0)">
        <div class="verticalagents">
          <div class="agentcontainer" ng-repeat="agent in rulesObj ">
            <span class="rotatedagenttext">{{agent.name}}</span>
          </div>
        </div>
      </div>
      <div class="pull-right" context-menu="showRulesMenu(this)"
           model="node" ng-if="((node.nodeclass === 'P')) && (rulesObj.length > 0)"
           ng-repeat="obj in rulesObj | orderBy:'':true"
           style="height:40px;width: 27px;border-right: solid aliceblue 1px;">
        <div class="verticalrules">
          <div class="rulescontainer">
            <div class="agentACell {{activeRuleCell === node.idNode+obj.idAgent?'activeCell':''}}"
                 id="{{obj.idAgent}}" ng-click="addToActiveRule(node,this)">
									<span class="cell-lable" ng-repeat="mrule in node.moduleRule">
										<div ng-class="mrule.rule.level" ng-if="(mrule.idAgent == obj.idAgent)"></div>
									</span>
            </div>
          </div>
        </div>
      </div>


      <div class="form-group pull-right" style="margin-top: 5px;">
        <span class="badge">{{node.number}}</span>
      </div>


      <!-- start fab menu for changing type of module -->
      <div class="typesetting" ng-if="isModuleHeaderNode(node)">
        <md-fab-speed-dial md-direction="{{selectedDirection}}" md-open="vm.isOpen"
                           ng-class="selectedMode">
          <md-fab-trigger>
            <md-button aria-label="menu">
              <span class="badge">Type:{{node.type}}</span>
            </md-button>
          </md-fab-trigger>
          <md-fab-actions>
            <md-button class="md-fab md-raised md-mini" ng-click="setNodeType(node,'Prod')"
                       ng-if="vm.isOpen && node.type!='M_Module'">
              <span>Job Modules</span>
            </md-button>
            <md-button class="md-fab md-raised md-mini" ng-click="setNodeType(node,'Dev')"
                       ng-if="vm.isOpen && node.type!='M_Module_'">
              <span>Under construction</span>
            </md-button>
            <md-button class="md-fab md-raised md-mini" ng-click="setNodeType(node,'Test')"
                       ng-if="vm.isOpen && node.type!='M_Module__'">
              <span>Test</span>
            </md-button>
            <md-button class="md-fab md-raised md-mini" ng-click="setNodeType(node,'Intro')"
                       ng-if="vm.isOpen && node.type!='M_IntroModule'">
              <span>Introductory questions</span>
            </md-button>
          </md-fab-actions>
        </md-fab-speed-dial>
      </div>
      <!-- end fab menu for changing type of module -->
    </div>
    <div class="tree-node-content {{node.nodeclass}} {{node.warning}}" context-menu="showMenu(this)"
         id="node-{{node.idNode}}" ng-if="node.nodeclass != 'M'">
      <a class="btn btn-success btn-xs {{node.type}}" data-nodrag="" ng-click="toggle()">
            <span class="glyphicon glyphicon-chevron-down" ng-class="{
              'glyphicon-chevron-right': collapsed,
              'glyphicon-chevron-down': !collapsed
              }" ng-if="isCollapsableNode(node)">
            </span>
      </a>
      <span class="badge" ng-if="isDragging">{{node.type}}:{{node.idNode}}:{{node.parentId}}:{{node.sequence}}</span>
      <span class="badge-deleted" ng-if="node.deleted === 1">deleted</span>
      <span class="badge-multi" ng-if="!node.idNode || node.idNode===0">Unsaved</span>
      <span class="badge-multi" ng-if="node.type.indexOf('multi') > -1">Multi</span>

      <span class="treeNodeText" data-nodrag ng-click="enable(this)" ng-if="!node.editEnabled">{{node.name}}</span>
      <div class="editBox" ng-if="node.editEnabled">
        <input class="form-control"
               data-nodrag
               ng-blur="saveEdit(this)"
               ng-focus="focus=true;blur=false;"
               ng-keypress="(($event.which === 13))?saveEdit(this):0"
               ng-model="node.name"
               placeholder="{{node.placeholder}}" type="text">
      </div>
      <button class="btn btn-default btn-lg btn-save"
              ng-click="undo()"
              ng-if="((node.nodeclass === 'M')||(node.nodeclass === 'F')) && undoEnable"
              type="button">
        Undo
      </button>
      <div class="agentheader expanded pull-right"
           context-menu="showRulesMenu(this,node)"
           ng-if="((node.nodeclass === 'M')||(node.nodeclass === 'F')) && (rulesObj.length > 0)">
        <div class="verticalagents">
          <div class="agentcontainer" ng-repeat="agent in rulesObj ">
            <span class="rotatedagenttext">{{agent.name}}</span>
          </div>
        </div>
      </div>
      <div class="pull-right" context-menu="showRulesMenu(this)"
           model="node" ng-if="((node.nodeclass === 'P')) && (rulesObj.length > 0)"
           ng-repeat="obj in rulesObj | orderBy:'':true"
           style="height:40px;width: 27px;border-right: solid aliceblue 1px;">
        <div class="verticalrules">
          <div class="rulescontainer">
            <div class="agentACell {{activeRuleCell === node.idNode+obj.idAgent?'activeCell':''}}"
                 id="{{obj.idAgent}}" ng-click="addToActiveRule(node,this)">
									<span class="cell-lable" ng-repeat="mrule in node.moduleRule">
										<div ng-class="mrule.rule.level" ng-if="(mrule.idAgent == obj.idAgent)"></div>
									</span>
            </div>
          </div>
        </div>
      </div>


      <div class="form-group pull-right" style="margin-top: 5px;">
        <span class="badge">{{node.number}}</span>
      </div>


      <!-- start fab menu for changing type of module -->
      <div class="typesetting" ng-if="isModuleHeaderNode(node)">
        <md-fab-speed-dial md-direction="{{selectedDirection}}" md-open="vm.isOpen"
                           ng-class="selectedMode">
          <md-fab-trigger>
            <md-button aria-label="menu">
              <span class="badge">Type:{{node.type}}</span>
            </md-button>
          </md-fab-trigger>
          <md-fab-actions>
            <md-button class="md-fab md-raised md-mini" ng-click="setNodeType(node,'Prod')"
                       ng-if="vm.isOpen && node.type!='M_Module'">
              <span>Job Modules</span>
            </md-button>
            <md-button class="md-fab md-raised md-mini" ng-click="setNodeType(node,'Dev')"
                       ng-if="vm.isOpen && node.type!='M_Module_'">
              <span>Under construction</span>
            </md-button>
            <md-button class="md-fab md-raised md-mini" ng-click="setNodeType(node,'Test')"
                       ng-if="vm.isOpen && node.type!='M_Module__'">
              <span>Test</span>
            </md-button>
            <md-button class="md-fab md-raised md-mini" ng-click="setNodeType(node,'Intro')"
                       ng-if="vm.isOpen && node.type!='M_IntroModule'">
              <span>Introductory questions</span>
            </md-button>
          </md-fab-actions>
        </md-fab-speed-dial>
      </div>
      <!-- end fab menu for changing type of module -->
    </div>
    <!-- end content -->
  </div>
</div>
<ol ng-class="{hidden: collapsed}" ng-model="node.nodes" ui-tree-nodes="">
  <li class="angular-ui-tree-node" collapsed="false" ng-include="'nodes_renderer.html'"
      ng-repeat="node in node.nodes | orderBy:'sequence'" ui-tree-node></li>
</ol>