<div ng-cloak>
	<div>
		Successful Upload - Report
	</div>
	<div>
<!-- 		Click <a ng-click="addModuleTab(importJsonValidationReport.vo)">here</a> to open module. -->
		
		<table class="table-bordered">
			<tr>
				<td colspan="2">Summary</td>
			</tr>
			<tr>
				<td>Module Id</td>
				<td>{{importJsonValidationReport.vo.idNode}}</td>
			</tr>
			<tr>
				<td>Module Name</td>
				<td>{{importJsonValidationReport.vo.name}}</td>
			</tr>
			<tr>
				<td>Number of Questions Imported</td>
				<td></td>
			</tr>
			<tr>
				<td>Number of Answers Imported</td>
				<td></td>
			</tr>
			<tr>
				<td>Number of Rules Imported</td>
				<td></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
			</tr>
		</table>
		<div class="divider"></div>
		Number of Rules per Agent
		<table class="table-bordered">
			<th>Agent</th>
			<th>Total Number of Rules</th>
			<tr>
				<td></td>
				<td></td>
			</tr>
		</table>
		<div class="divider"></div>
		
<!-- 		<pre>DEBUG</pre> {{importJsonValidationReport}} -->
	</div>
	<md-divider></md-divider>
</div>