<div ng-cloak>
	<div>
		Successful Upload - Report
	</div>
	<div>
		
		<table class="table-bordered">
			<tr>
				<td colspan="2">Summary</td>
			</tr>
			<tr>
				<td>Module Id</td>
				<td><a style="cursor:pointer;" href ng-click="addModuleTab(importJsonValidationReport.vo)">{{importJsonValidationReport.vo.idNode}}</a></td>
			</tr>
			<tr>
				<td>Module Name</td>
				<td>{{importJsonValidationReport.vo.name}}</td>
			</tr>
			<tr>
				<td>Number of Questions Imported</td>
				<td>{{importJsonValidationReport.totalQuestions}}</td>
			</tr>
			<tr>
				<td>Number of Answers Imported</td>
				<td>{{importJsonValidationReport.totalAnswers}}</td>
			</tr>
			<tr>
				<td>Number of Rules Imported</td>
				<td>{{importJsonValidationReport.totalRules}}</td>
			</tr>
		</table>
		<div ng-if="importJsonValidationReport.missingAgentsList.length > 0">
			{{importJsonValidationReport.missingAgentsList}}
		</div>
		<div class="divider"></div>
		Modules Summary
		<table class="table-bordered">
			<th>Module Id</th>
			<th>Module Name</th>
			<th>Created</th>
			<tr ng-repeat="item in importJsonValidationReport.moduleVODecoratorList">
				<td>{{item.moduleVO.idNode}}</td>
				<td>{{item.moduleVO.name}}</td>
				<td>{{item.created}}</td>
			</tr>
		</table>
		<div class="divider"></div>
		<div class="divider"></div>
		Fragments Summary
		<table class="table-bordered">
			<th>Fragment Id</th>
			<th>Fragment Name</th>
			<th>Created</th>
			<tr ng-repeat="item in importJsonValidationReport.fragmentVODecoratorList">
				<td>{{item.fragmentVO.idNode}}</td>
				<td>{{item.fragmentVO.name}}</td>
				<td>{{item.created}}</td>
			</tr>
		</table>
		<div class="divider"></div>
		
<!-- 		<pre>DEBUG</pre> {{importJsonValidationReport}} -->
	</div>
	<md-divider></md-divider>
</div>