<md-dialog aria-label="Export CSV" 
			style="margin:0 0 0 0;padding:0 0 0 0;height:500px;"  
			ng-cloak>
<!-- <pre>{{data | json}}</pre> -->
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Choose Language</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content" style="height:300px;" >
      	<div layout="column" ng-cloak class="md-inline-form">
  		<md-content  style="height:300px;"> 
  			<div class="select-box">
  			<ui-select ng-model="selectedLanguage.language" id="selectLanguageId"
				ng-change="vm.changeNodeLanguage(selectLanguage)" theme="select2"
				ng-disabled="disabled" style="min-width: 300px;"> <ui-select-match>
			<i class="glyphicon {{$select.selected.flag}}"></i>
			{{$select.selected.description}}</ui-select-match> <ui-select-choices
				repeat="lang in languages | propsFilter: {language: $select.search}">
			<!--       <img ng-src="{{ lang.url }}" /> --> <i
				class="glyphicon {{lang.flag}}"></i>
			<div ng-bind-html="lang.description | highlight: $select.search"
				style="display: inline"></div>
			</ui-select-choices> </ui-select>
			</div>
  		</md-content>
  		</div>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
       <span flex></span>
      <md-button ng-click="openModuleLanguage(row,$select.selected)">
        Submit
      </md-button>
      <md-button ng-click="cancel()" style="margin-right:20px;">
        Cancel
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>