<md-dialog aria-label="Export CSV" style="margin:0 0 0 0;padding:0 0 0 0;"  ng-cloak>
<!-- <pre>{{data | json}}</pre> -->
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Updating Interviews</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
      	<div layout="column" ng-cloak class="md-inline-form">
  		<md-content>
  			<div class="row" style="text-align:center;">
    			<md-progress-circular md-mode="indeterminate" class="col-md-offset-5">
    			</md-progress-circular>
    		</div>
    		<div class="row" style="text-align:center;">
    			<span class="col-md-12"><strong>{{interviewCount}}/{{interviewIdCount}}</strong></span>
    		</div>
    		<div class="row">
    				<span class="col-md-12">Updating Interview Id : <strong>{{interviewIdInProgress}}</strong></span>
    		</div>  		
  		</md-content>
  		</div>
      </div>
    </md-dialog-content>
  </form>
</md-dialog>