<md-dialog aria-label="Compare Book" style="width: 90%;height: 80%">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Compare Other Books with {{compareScope.book.name}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="compareScope.cancel()"><span
                        aria-hidden="true" class="glyphicon glyphicon-remove"></span></md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div style="display: flex; justify-content: flex-start;gap: 50px;">
                <div class="row" style="width: 80%;padding: 10px;margin-bottom: 10px;">
                    <strong>Choose module in {{compareScope.book.name}} book</strong>
                    <md-input-container class="md-block">
                        <md-select required ng-model="compareScope.selectedModule" placeholder="Select a module"
                                   ng-change="compareScope.reset()"
                                   style="width: 100%;">
                            <md-option ng-repeat="module in compareScope.book.modules"
                                       ng-value="module"
                                       style="width: 100%;">
                                <span style="width: 100%;">{{module.name}}</span>
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>
                <div class="row" style="width: 100%;padding: 10px;border: #2e6da4 thin solid">
                    <strong>Comparing with {{compareScope.compareToBook.name}}</strong>
                    <md-input-container class="md-block">
                        <md-select required ng-model="compareScope.compareToBook" placeholder="Select a book to compare"
                                   ng-change="compareScope.reset()"
                                   style="width: 100%;">
                            <md-option ng-repeat="book in compareScope.books"
                                       ng-value="book"
                                       style="width: 100%;">
                                <span style="width: 100%;">{{book.name}}</span>
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <div class="row" style="width: 100%;padding: 10px;"
                         ng-if="compareScope.compareToBook.name">
                        <md-input-container class="md-block">
                            <md-select required ng-model="compareScope.selectedCompareModule"
                                       placeholder="Select a module"
                                       ng-change="compareScope.reset()"
                                       style="width: 100%;">
                                <md-option ng-repeat="module in compareScope.compareToBook.modules"
                                           ng-value="module"
                                           style="width: 100%;">
                                    <span style="width: 100%;">{{module.name}}</span>
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                </div>
            </div>
            <div class="row" style="width: 100%;padding: 10px;display: flex; justify-content: center;"
                 ng-if="compareScope.selectedCompareModule.name">
                <md-button style="background-color: #67b168;color: #FFFFFF;"
                           ng-click="compareScope.startComparison()">Start Comparison
                </md-button>
            </div>
            <div ng-if="compareScope.selectedCompareModule">
                <div style="width: 100%;">
                    <div style="width: 100%;" ng-if="compareScope.compareComplete">
                        <div id="topSummary">
                            <h4><strong>Summary</strong> {{compareScope.book.name}} book -
                                {{compareScope.selectedModule.name}} (<em>left</em>)
                                <strong>vs</strong> {{compareScope.compareToBook.name}} book -
                                {{compareScope.selectedCompareModule.name}} (<em>right</em>)
                            </h4></underline>
                        </div>
                        <div style="color: red" ng-if="compareScope.numberOfDiff > 0"># of differences
                            <strong>{{compareScope.numberOfDiff}}</strong></div>
                        <div style="color: green" ng-if="compareScope.numberOfDiff === 0"><strong>There is no difference
                            between modules</strong></div>
                        <span ng-if="compareScope.numberOfDiff > 0"
                              style="display: flex; flex-direction: row; position: fixed; color: blue;right: 17px;background-color: #7c9eb2;height: 40px;border-radius: 30px;">
                            <md-button class="md-icon-button" ng-click="compareScope.previous()"
                                       title="previous change"><span
                                    aria-hidden="true" class="glyphicon glyphicon-fast-backward"></span></md-button>&nbsp;
                            <md-button
                                    class="md-icon-button" ng-click="compareScope.top()" title="back to top"><span
                                    aria-hidden="true" class="glyphicon glyphicon-triangle-top"></span></md-button>&nbsp;
                            <md-button
                                    class="md-icon-button" ng-click="compareScope.next()" title="next change"><span
                                    aria-hidden="true" class="glyphicon glyphicon-fast-forward"></span></md-button>
                        </span>
                    </div>
                    <div id="visual" style="width: 100%; height: 100%; border: #2e6da4 solid medium;"></div>
                </div>
            </div>
        </md-dialog-content>
    </form>
</md-dialog>

