<md-dialog aria-label="Add User" ng-cloak
           style="margin:0 0 0 0;padding:0 0 0 0;"> <!-- <pre>{{data | json}}</pre> -->
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Add User</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()"><span
          aria-hidden="true" class="glyphicon glyphicon-remove"></span></md-button>
      </div>
    </md-toolbar>
    <md-dialog-content style="width:510px;">
      <div class="md-dialog-content">
        <div class="md-inline-form" layout="column" ng-cloak>
          <md-content>
            <form class="navbar-form navbar-left" id="newUserForm" name="newUserForm"
                  ng-submit="newUserForm.$valid && addUserBtn(vm.newUser)">
              <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm>
                  <label>*Username</label> <input maxlength="20"
                                                  name="ssoId" ng-model="vm.newUser.ssoId"
                                                  required/></md-input-container>
                <div flex="5" hide-sm hide-xs>
                  <!-- Spacer //-->
                </div>
                <md-input-container class="md-block" flex-gt-sm>
                  <label>*Password</label> <input maxlength="20" name="password"
                                                  ng-model="vm.newUser.password" required
                                                  type="password"/>
                </md-input-container>
              </div>
              <div layout-gt-sm="row">
                <div class="col-md-12">
                  <multi-select available="vm.roleList"
                                available-label="Available roles" display-attr="type"
                                ng-model="vm.newUser.roles" selected-label="*Current roles">
                  </multi-select>
                </div>
              </div>
              <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm>
                  <label>Firstname (optional)</label> <input
                  maxlength="100" name="firstName"
                  ng-model="vm.newUser.firstName"/></md-input-container>
                <div flex="5" hide-sm hide-xs>
                  <!-- Spacer //-->
                </div>
                <md-input-container class="md-block" flex-gt-sm>
                  <label>Lastname (optional)</label>
                  <input maxlength="100" name="lastName"
                         ng-model="vm.newUser.lastName"/>
                </md-input-container>
              </div>
              <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm>
                  <label>Email (optional)</label>
                  <input maxlength="100"
                         minlength="10" name="email" ng-model="vm.newUser.email"
                         ng-pattern="/^.+@.+\..+$/"/></md-input-container>
                <div flex="5" hide-sm hide-xs>
                  <!-- Spacer //-->
                </div>
              </div>
              <div layout-gt-sm="row">
                <md-dialog-actions layout="row">
                  <md-button class="md-raised" ng-click="cancel()">Cancel</md-button>
                  <md-button class="md-raised" ng-click="addUserBtn(vm.newUser)" type="submit">Submit</md-button>
                </md-dialog-actions>
              </div>
            </form>
          </md-content>
        </div>
      </div>
    </md-dialog-content>
  </form>
</md-dialog>