<md-dialog aria-label="Change Password" ng-cloak
           style="margin:0 0 0 0;padding:0 0 0 0;"> <!-- <pre>{{data | json}}</pre> -->
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Change Password - {{existingUser.ssoId}}</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()"> <span
          aria-hidden="true" class="glyphicon glyphicon-remove"></span></md-button>
      </div>
    </md-toolbar>
    <md-dialog-content style="width:510px;">
      <div class="md-dialog-content">
        <div class="md-inline-form" layout="column" ng-cloak>
          <md-content>
            <form class="navbar-form navbar-left" id="existingUserForm"
                  name="existingUserForm">
              <md-input-container class="md-block" flex-gt-sm>
                <label>*Password</label> <input maxlength="20" name="password"
                                                ng-model="existingUser.newPassword" placeholder="Enter New Password"
                                                required
                                                type="password"/>
              </md-input-container>
              <md-dialog-actions layout="row">
                <md-button class="md-raised" ng-click="cancel()">Cancel</md-button>
                <md-button class="md-raised" ng-click="changePasswordBtn(existingUser)" type="submit">Submit</md-button>
              </md-dialog-actions>
            </form>
          </md-content>
        </div>
      </div>
    </md-dialog-content>
  </form>
</md-dialog>