<md-dialog aria-label="Edit User" ng-cloak
           style="margin:0 0 0 0;padding:0 0 0 0;"> <!-- <pre>{{data | json}}</pre> -->
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Edit User - {{existingUser.ssoId}}</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()"> <span
          aria-hidden="true" class="glyphicon glyphicon-remove"></span></md-button>
      </div>
    </md-toolbar>
    <md-dialog-content style="width:510px;">
      <div class="md-dialog-content">
        <div class="md-inline-form" layout="column" ng-cloak>
          <md-content>
            <form class="navbar-form navbar-left" id="existingUserForm"
                  name="existingUserForm">
              <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm>
                  <label>Firstname</label> <input
                  maxlength="100" name="firstName"
                  ng-model="existingUser.firstName"/></md-input-container>
                <div flex="5" hide-sm hide-xs>
                  <!-- Spacer //-->
                </div>
                <md-input-container class="md-block" flex-gt-sm>
                  <label>Lastname</label>
                  <input
                    maxlength="100" name="lastName"
                    ng-model="existingUser.lastName"/>
                </md-input-container>
              </div>
              <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm>
                  <label>Email</label> <input maxlength="100"
                                              minlength="10" name="email" ng-model="existingUser.email"
                                              ng-pattern="/^.+@.+\..+$/"/></md-input-container>
                <div flex="5" hide-sm hide-xs>
                  <!-- Spacer //-->
                </div>
                <md-input-container class="md-block" flex-gt-sm>
                  <label>*State</label>
                  <md-select name="state" ng-model="existingUser.state" required>
                    <md-option ng-repeat="state in vm.states"
                               value="{{state.name}}">
                      {{state.name}}
                    </md-option>
                  </md-select>
                </md-input-container>
              </div>
              <multi-select available="vm.roleList"
                            available-label="Available roles" display-attr="type"
                            ng-model="existingUser.roles" selected-label="Current roles">
              </multi-select>
              <md-dialog-actions layout="row">
                <md-button class="md-raised" ng-click="cancel()">Cancel</md-button>
                <md-button class="md-raised" ng-click="editUserBtn(existingUser)" type="submit">Submit</md-button>
              </md-dialog-actions>
            </form>
          </md-content>
        </div>
      </div>
    </md-dialog-content>
  </form>
</md-dialog>