<div ng-cloak>
  <div>
		<span class="flag-icon {{flagUsed}} flag-icon-squared"
          style="font-size: 50px;
    margin-bottom: 3px;
    margin-top: 3px;"></span>
    <span style="font-size: 50px;">{{flagDescription}}</span>
    <br/>
    <table class="table table-hover table-condensed table-bordered table-striped"
           ng-table="vm.languageSummaryTableParams">
      <tbody>
        <tr ng-click="openModuleLanguageByFlagIcon(nl.idNode)" ng-if="discriminatorType == 'M'"
            ng-repeat="nl in $data track by $index">
          <td>{{$index+1}}</td>
          <td filter="{idNode: 'text'}" title="'idNode'">{{nl.idNode}}</td>
          <td filter="{name: 'text'}" title="'Name'">{{nl.name}}</td>
          <td title="'Count'"><span
            class="{{nl.current?nl.current == nl.total?'greenBorderMed':'redBorderMed':0 == nl.total?'greenBorderMed':'redBorderMed'}}"
            id="count_{{nl.name}}">{{nl.current?nl.current:0}}/{{nl.total}}</span></td>
        </tr>
        <tr ng-click="openFragmentLanguageByFlagIcon(nl.idNode)" ng-if="discriminatorType == 'F'"
            ng-repeat="nl in $data">
          <td>{{$index+1}}</td>
          <td filter="{idNode: 'text'}" title="'idNode'">{{nl.idNode}}</td>
          <td filter="{name: 'text'}" title="'Name'">{{nl.name}}</td>
          <td title="'Count'"><span
            class="{{nl.current?nl.current == nl.total?'greenBorderMed':'redBorderMed':0 == nl.total?'greenBorderMed':'redBorderMed'}}">{{nl.current?nl.current:0}}/{{nl.total}}</span>
          </td>
        </tr>
        <tr>
          <td colspan="3">Total</td>
          <td ng-if="vm.totalModuleCurrentCount!==undefined">{{vm.totalModuleCurrentCount}}/{{vm.totalModuleCount}}</td>
          <td ng-if="vm.totalFragmentCurrentCount!==undefined">
            {{vm.totalFragmentCurrentCount}}/{{vm.totalFragmentCount}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>