<div ng-cloak>
  <div ng-if="$storage.langEnabled">
    <table class="table table-condensed table-bordered" disable-filter="true"
           ng-table="vm.languageSummaryTableParams"
           show-filter="false">
      <tbody>
        <tr>
          <td>Language</td>
          <td>Modules</td>
          <td>Module Nodes</td>
          <td>Fragments</td>
          <td>Fragment Nodes</td>
          <td></td>
        </tr>
        <tr ng-class="nl.cssclass"
            ng-repeat="nl in vm.languageSummaryTableParams.settings().dataset">
          <td><i class="glyphicon {{nl.flag}}"></i>
            {{nl.description}}
          </td>
          <td>
            <a class="hoverBlue" href="#" ng-click="openModuleBreakdown(nl.flag)"
               ng-if='nl.translatedModuleCount!==undefined'>{{nl.translatedModuleCount}}/{{totalModuleCount}}</a>
          </td>

          <td><span ng-if='nl.totalCurrent!==undefined'>{{nl.totalCurrent}}/{{grandTotal}}</span></td>
          <td><a class="hoverBlue" href="#" ng-click="openFragmentBreakdown(nl.flag)"
                 ng-if='nl.translatedFragCount!==undefined'>{{nl.translatedFragCount}}/{{totalFragCount}}</a></td>
          <td><span ng-if='nl.totalFragCurrent!==undefined'>{{nl.totalFragCurrent}}/{{grandFragTotal}}</span></td>
          <td>
            <button class="btn-info" ng-click="vm.loadStatsByLanguage(nl)">Show Stats</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div>
    <div ng-if="$storage.langEnabled">
      <table class="table table-condensed table-bordered table-striped"
             ng-if="selectLanguage.selected"
             ng-table="vm.languageTableParams">
        <tr>
          <td colspan="2">Total {{totalCurrent}} of {{grandTotal}}</td>
          <td>Modules without translation {{untranslatedModules}}</td>
        </tr>
        <tr>
          <td>Id Node</td>
          <td>Name</td>
          <td>Count</td>
        </tr>
        <tr ng-repeat="nl in vm.languageTableParams.settings().dataset">
          <td title="'Id Node'">{{nl.idNode}}</td>
          <td title="'Name'">{{nl.name}}</td>
          <td title="'Translated Nodes'">{{nl.current}} of {{nl.total}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>