<div id="agentDropContainer" ng-class="leftNav" class="ui-widget">
<div class="agent-contain">
<div class="agentSticker" ng-click="toggleLeft()" style="cursor: pointer;">Agents</div> 
<label for="agentDragDrop" class="fraglabel">Drag Drop Agents: </label>
<div id="agentDragDrop"><ul></ul>
<div>
	<div class="panel panel-default"">
		<div class="panel-heading">
    		<h4 class="panel-title">Agents List</h4>
  		</div>
  		<div class="panel-body">
  		 
		<uib-accordion ng-repeat="agentGroup in agentsData">
     	 <uib-accordion-group>
     	 	<uib-accordion-heading >
     	 	{{agentGroup.key}}
     	 		 <span class="badge pull-right">{{agentGroup.total || 0}}</span> 
     	 	</uib-accordion-heading>
     	 		<div>
					<ul class="list-group">
						<li class="list-group-item" ng-repeat="agent in agentGroup.value " ng-click="toggleAgentView(agent)">
							{{agent.name}}  <span class="badge pull-right">{{agent.total || 0}}</span> 
						</li>
					</ul>
				</div>
     	 </uib-accordion-group>
     	 </uib-accordion>
     	 </div>
	</div>
</div>
</div>
</div>
</div>