 <!-- <pre>{{data | json}}</pre>    -->
<div class="assessmentWrapper" >
	
	<div class="firedRulesScroller">
		<div class="pull-right" style="height:40px;width: 27px;border-right: solid aliceblue 1px;">	     	
	     	<div class="verticalagents">
				<div class="agentcontainer" >
					<span class="rotatedagenttext">All Agents</span>
				</div>
			</div>			
			<div class="verticalrules">
				<div class="rulescontainer">
					<div class="agentACell" context-menu="vm.showRulesMenu(this)" >
						<span class="glyphicon glyphicon-console"></span>
					</div>
				</div>
			</div>			
			<div class="verticalrules">
				<div class="rulescontainer">
					<div class="agentACell"  >
						<span class="glyphicon glyphicon-download"></span>
					</div>
				</div>
			</div>			
			<div class="verticalrules">
				<div class="rulescontainer">
					<div class="agentACell" >
						<span class="glyphicon glyphicon-ok"></span>
					</div>
				</div>
			</div>
		</div>
		<div ng-repeat="agent in data.agents" 
			class="pull-right" style="height:40px;width: 27px;border-right: solid aliceblue 1px;">
	     	
	     	<div class="verticalagents">
				<div class="agentcontainer" >
					<span class="rotatedagenttext">{{agent.name | json}}</span>
				</div>
			</div>
			
			<div class="verticalrules">
				<div class="rulescontainer">
					<div class="agentACell" id="{{agent.idAgent}}" context-menu="vm.showRulesMenu(this)"
					model="data">
						<span class="cell-lable" ng-repeat="mrule in data.firedRules" >
							<div ng-class="mrule.level" ng-if="(mrule.agentId == agent.idAgent)"></div>
						</span>
					</div>
				</div>
			</div>
			
			<div class="verticalrules">
				<div class="rulescontainer">
					<div class="agentACell" id="{{agent.idAgent}}" context-menu="vm.showRulesMenu(this)"
					model="data">
						<span class="cell-lable" ng-repeat="mrule in data.autoAssessedRules" >
							<div ng-class="mrule.level" ng-if="(mrule.agentId == agent.idAgent)"></div>
						</span>
					</div>
				</div>
			</div>
			
			<div class="verticalrules">
				<div class="rulescontainer">
					<div class="agentACell" id="{{agent.idAgent}}" context-menu="vm.showRulesMenu(this)"
					model="data">
						<span class="cell-lable" ng-repeat="mrule in data.manualAssessedRules" >
							<div ng-class="mrule.level" ng-if="(mrule.agentId == agent.idAgent)"></div>
						</span>
					</div>
				</div>
			</div>
		</div>
		
		
	</div>
</div>