<div ng-cloak>
	<div>
		<button class="btn btn-default"
			ng-click="showExportCSVButton()">Export</button>
		<button style="display: none;" id="exportCSV" class="btn btn-default"
			ng-csv="getCSVButton()" lazy-load="true" filename="export.csv"
			field-separator=","></button>
		Size : {{vm.tableParams.total()}}
		<table ng-table="vm.tableParams" class="table table-condensed table-bordered table-striped">
			<tr ng-repeat="participant in $data">
				<td title="'idParticipant'">{{participant.idParticipant}}</td>
				<td title="'interviewId'">{{participant.interviews[0].interviewId}}</td>
				<td title="'referenceNumber'">{{participant.referenceNumber}}</td>	
				<td>
					<button ng-click="vm.openFiredRules(participant.interviews[0].interviewId)" class="btn btn-default btn-sm" >
						<span class="glyphicon glyphicon-list-alt"></span>
					</button>
				</td>
				
			</tr>
		</table>
	</div>
</div>
