<div ng-cloak>
<div class="col-md-8"  >
	<div class="assessmentWrapper" >
	<div class="firedRulesScroller">
		<div class="pull-right" style="height:40px;width: 27px;border-right: solid aliceblue 1px;">	     	
	     	<div class="verticalagents">
				<div class="agentcontainer" >
					<span class="rotatedagenttext"></span>
				</div>
			</div>			
			<div class="verticalrules">
				<div class="rulescontainer">
					<div class="assessmentDescription" context-menu="vm.showAssessmentsMenu(this)" model="data">
						Fired Rules
					</div>
				</div>
			</div>			
			<div class="verticalrules">
				<div class="rulescontainer">
					<div class="assessmentDescription" context-menu="vm.showAssessmentsMenu(this)" model="data">
						Auto 
					</div>
				</div>
			</div>			
			<div class="verticalrules">
				<div class="rulescontainer">
					<div class="assessmentDescription" prevent-right-click >
						Manual 
					</div>
				</div>
			</div>
		</div>
		<div ng-repeat="agent in agents" 
			class="pull-right" style="height:40px;width: 27px;border-right: solid aliceblue 1px;">
	     	
	     	<div class="verticalagents">
				<div class="agentcontainer" >
					<span class="rotatedagenttext">{{agent.name}}</span>
				</div>
			</div>
			
			<div class="verticalrules">
				<div class="rulescontainer">
					<div class="agentACell" id="{{agent.idAgent}}" context-menu="vm.showRulesMenu(this)" model="data">
						<span class="cell-lable" ng-repeat="mrule in data.firedRules" >
							<div ng-class="mrule.level" ng-if="(mrule.agentId == agent.idAgent)"></div>
						</span>
					</div>
				</div>
			</div>
			
			<div class="verticalrules">
				<div class="rulescontainer">
					<div class="agentACell" id="{{agent.idAgent}}" prevent-right-click >
						<span class="cell-lable" ng-repeat="mrule in data.autoAssessedRules" >
							<div ng-class="mrule.level" class="assessment" ng-if="((!mrule.deleted)&&(mrule.agentId == agent.idAgent))"></div>
						</span>
					</div>
				</div>
			</div>
			
			<div class="verticalrules">
				<div class="rulescontainer">
					<div class="agentACell" id="{{agent.idAgent}}" context-menu="vm.showEditAssessmentMenu(this)" model="data">
						<span class="cell-lable" ng-repeat="mrule in data.manualAssessedRules" >
							<div ng-class="mrule.level" class="assessment" ng-if="((!mrule.deleted)&&(mrule.agentId == agent.idAgent))"></div>
						</span>
					</div>
				</div>
			</div>
		</div>
		
		
	</div>
	</div>
	<div class="noiseAssessmentWrapper" ng-if="noiseRows.length>0">
		<div>Shift Hours: {{shiftHours}}</div>
		<table class="table table-bordered ">
		<thead>
		<tr>
			<td>Module Name</td>
			<td>Node Number</td>
			<td>Answer</td>
			<td>dB</td>
			<td>Hours</td>
			<td>Partial Exposure</td>
		</tr>
		</thead> 
		
		<tr ng-repeat="noiseRow in noiseRows" class={{noiseRow.type}}>	
			<td>{{noiseRow.moduleName}}</td>
			<td ng-click="highlightNode(noiseRow.idNode)">{{noiseRow.nodeNumber}}</td>
			<td>{{noiseRow.nodeText}}</td>
			<td>{{noiseRow.dB}}</td>
			<td>{{noiseRow.backgroundhours}}</td>
			<td>{{noiseRow.partialExposure}}</td>
		</tr>
		</table>
		
		<div>Total Partial Exposure: {{totalPartialExposure}}</div>
		<div>Auto Exposure Level: {{autoExposureLevel}}</div>
		<div>Peak Noise: {{peakNoise}}</div>
		
	</div>
	<div class="vibrationAssessmentWrapper" ng-if="vibrationRows.length>0">
		<div>Daily Vibration: {{dailyVibration}}</div>
		<table class="table table-bordered ">
		<thead>
		<tr>
			<td>Module Name</td>
			<td>Node Number</td>
			<td>vibMag</td>
			<td>Hours</td>
			
		</tr>
		</thead> 
		
		<tr ng-repeat="noiseRow in vibrationRows" class={{noiseRow.type}}>	
			<td>{{noiseRow.moduleName}}</td>
			<td ng-click="highlightNode(noiseRow.idNode)">{{noiseRow.nodeNumber}}</td>
			<td>{{noiseRow.vibMag}}</td>
			<td>{{noiseRow.frequencyhours}}</td>
			
		</tr>
		</table>
		
		
		
	</div>
</div>

<div id="interview-wrapper">
&nbsp;
</div>
<div class="row">
  <div class="col-md-6" id="interview-question-list">
  	<div ui-tree="" id="tree-root1_{{$index}}" ng-repeat="element in displayHistoryNew | orderBy:'lastUpdated':false">
			<div class="angular-ui-tree">
				<div class="tree-node">
					<div id="questionlist-{{element.questionId}}" class="tree-node-content Q_interviewresult {{element.link ? 'Q_link':''}} {{element.processed ? 'Q_processed':''}}">
						<div class="form-group pull-left" style="margin-top: 5px; margin-left: -15px;">
<!-- 							<span ng-if="!element.processed" class="badge-unprocessed " title="scheduled"> -->
<!-- 								&nbsp; -->
<!-- 							</span> -->
							<span ng-if="element.deleted" class="badge-deleted" title="deleted">
								&nbsp;
							</span>
							<span class="badge">
								{{element.header}}
							</span>
							<span class="badge" title="qid:{{element.questionId}}">
								{{element.number}}
							</span>
							<span class="badge">
								{{element.lastUpdated | date : 'dd/MM/yyyy HH:mm:ss'}}
							</span>
						</div>
						<span id="{{'IntResult'+element.idNode}}" data-toggle="tooltip" data-placement="bottom" title="{{ element.name }}">{{ element.name }}</span>
					</div>
					<!-- 			show answers -->				
					<div class="tree-node-content P_interviewresult" ng-repeat="as in element.answers | orderBy:orderByNumber">
						<span ng-if="as.deleted" class="badge-deleted" title="deleted">
								&nbsp;
							</span>
						<div class="form-group pull-left" style="margin-top: 5px; margin-left: -15px;">
							<span class="badge">
								{{element.header}}
							</span>
							<span class="badge">{{as.number}}</span>
						</div>
						<span id="{{'IntResult'+as.answerId}}" data-toggle="tooltip" data-placement="bottom" title="{{as.answerFreetext?as.answerFreetext:as.name}}">{{as.answerFreetext}}
						</span>
					</div>
				</div>
			</div>
		</div>
  </div>
  <div class="col-md-6">
  	<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Modules</div> 
  <div class="panel-body">
    <div >
    	<ul class="list-group">
        <li class="list-group-item" ng-repeat="mod in vm.modulesInInterview">
			<div>
				<span class="badge">Module</span> {{mod.interviewModuleName}}
			</div>
						
    	</li>
  		</ul>
    </div>
    </div>
  
  
  
  <div class="panel-heading">Fired Rules</div>
  <div class="panel-body">
    <div >
    	 <ul class="list-group">
        <li class="list-group-item" ng-repeat="mod in vm.firedRulesByModule">
			<div>
				<span class="badge">Module</span> {{mod.name}}
			</div>
				<ul class="list-group">
    				<li class="list-group-item" ng-repeat="agent in mod.firedRules | orderBy:'agentName'">
    					<div>
            				<span class="badge">Agent</span> {{agent.agentGroupName}}
            				<table class="table table-bordered table-hover">
    							<tr>
								<th>Id Rule</th>
								<th>Name</th>
								<th>Level</th>
								</tr>
								<tr ng-repeat="rules in agent.child | orderBy:'agentName'" 
									class="firedrules_{{rules.level}}" >
								<td>{{rules.idRule}}</td>
								<td>{{rules.agentName}}</td>
								<td>{{rules.level}}</td>
								</tr>  						
    						</table>
         				 </div>		
         				 <ul>
  				</ul>		
    				</li>
  				</ul>
		</li>
      </ul>
    	
    </div>
    </div>
    </div>
  </div>
</div>
</div>
<ng-include src="'scripts/assessments/partials/editAssessmentTemplate.html'"></ng-include>
<ng-include src="'scripts/interviews/partials/intTemplate.html'"></ng-include>

