<div ng-cloak>
<div class="row" style="margin-top:2px;margin-bottom:2px;">
	<div class="col-md-4">
	<button class="form-control btn btn-default" ng-click="vm.runFiredRulesBtn()">
		<span ng-if="vm.firedRulesByModule.length == 0">Run Fired Rules</span>
		<span ng-if="vm.firedRulesByModule.length > 0">Rerun Fired Rules</span>
	</button>
	</div>
</div>
<div class="row">
  <div class="col-md-6" id="interview-question-list">
  	<div ui-tree="" id="tree-root1_{{$index}}" ng-repeat="element in answeredQuestion">
			<div class="angular-ui-tree">
				<div class="tree-node">
					<div id="questionlist-{{element.questionId}}" class="tree-node-content Q_interviewresult {{element.link ? 'Q_link':''}} {{element.processed ? 'Q_processed':''}}">
						<div class="form-group pull-left" style="margin-top: 5px; margin-left: -15px;">
							<span ng-if="element.deleted" class="badge-deleted" title="deleted">
								&nbsp;
							</span>
							<span class="badge">
								{{element.header}}
							</span>
							<span class="badge" title="qid:{{element.questionId}}">
								{{element.number}}
							</span>
							
						</div>
						<span id="{{'IntResult'+element.idNode}}">{{ element.name }}</span>
					</div>
					<!-- 			show answers -->
					<div class="tree-node-content P_interviewresult" ng-class="{'on': selected==as.answerId}" ng-repeat="as in element.answers | orderBy:orderByNumber">
						<div class="form-group pull-left" style="margin-top: 5px; margin-left: -15px;">
							<span ng-if="as.deleted" class="badge-deleted" title="deleted">
								&nbsp;
							</span>
							<span class="badge">{{as.number}}</span>
							
						</div>
						<span id="{{'IntResult'+as.idNode}}">{{as.answerFreetext?as.answerFreetext:as.name}}
						</span>
					</div>
				</div>
			</div>
		</div>
  </div>
  <div class="col-md-6">
  	<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Fired Rules</div>
  <div class="panel-body">
    <div >
    	 <ul class="list-group">
        <li class="list-group-item" ng-repeat="mod in vm.firedRulesByModule">
			<div>
				<span class="badge">Module</span> {{mod.name}}
			</div>
				<ul class="list-group">
    				<li class="list-group-item" ng-repeat="agent in mod.firedRules | orderBy:'agentName'">
    					<div>
            				<span class="badge">Agent</span> {{agent.agentGroupName}}
            				<table class="table table-bordered table-hover">
    							<tr>
								<th>Id Rule</th>
								<th>Name</th>
								<th>Level</th>
								</tr>
								<tr ng-repeat="rules in agent.child | orderBy:'agentName'" 
									class="firedrules_{{rules.level}}" >
								<td>{{rules.idRule}}</td>
								<td>{{rules.agentName}}</td>
								<td>{{rules.level}}</td>
								</tr>  						
    						</table>
         				 </div>		
         				 <ul>
  				</ul>		
    				</li>
  				</ul>
		</li>
      </ul>
    	
    </div>
    </div>
    </div>
  </div>
</div>
</div>
