<div ng-cloak style="height:1000px;overflow:scroll;">
	<table class="table table-sm">
		<tbody>
			<tr>
				<td colspan="2"><h3>Fragments Summary</h3></td>
			</tr>
			<table class="table table-sm">
				<thead>
					<tr>
						<th>Fragment Id</th>
						<th>Fragment Name</th>
						<th>Questions</th>
						<th>Answers</th>
						<th>Rules</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in allFragmentValidationReport">
						<td>{{item.vo.idNode}}</td>
						<td>{{item.vo.name}}</td>						
						<td>{{item.totalQuestions}}</td>						
						<td>{{item.totalAnswers}}</td>
						<td>{{item.totalRules}}</td>
					</tr>
				</tbody>
			</table>
		</tbody>
	</table>
</div>